@media(max-width: 576px)
  .blog
    &-grid
      .blog-item
        width: 100%
  .specialists
    &-grid:not(.specialists-grid__slider)
      grid-template-columns: repeat(1, 1fr)

  .principle-video
    height: 320px
    &::after
      width: 60px
      height: 60px
      background-size: 20px
      backdrop-filter: blur(20px)

  .quote-img
    width: 100%
    height: auto
    aspect-ratio: 1 / 1
  .quote-text
    width: 100%
    padding-left: 0
    padding-top: 30px
    font-size: 16px
    border-bottom: 1px solid rgba(0,0,0,.1)
    padding-bottom: var(--gap-md)
    span
      font-size: 15px

  .fixed-btns
    gap: 10px
    bottom: 15px
    right: 15px

  .popup-specialists
    grid-template-columns: repeat(2, 1fr)

  .popup-services__item
    gap: 5px
    h4
      font-size: 14px
      padding-left: 40px
    span:nth-child(3)
      margin-left: 40px
