@media(max-width: 576px)
  .blog
    &-grid
      .blog-item
        width: 100%
  .specialists
    &-grid:not(.specialists-grid__slider)
      grid-template-columns: repeat(1, 1fr)

  .principle-video
    height: 320px
    &::after
      width: 60px
      height: 60px
      background-size: 20px
      backdrop-filter: blur(20px)

  .fixed-btns
    gap: 10px
    bottom: 15px
    right: 15px

  .popup-specialists
    grid-template-columns: repeat(2, 1fr)

  .popup-services__item
    gap: 5px
    h4
      font-size: 14px
      padding-left: 40px
    span:nth-child(3)
      margin-left: 40px

  .gallery-slider
    width: 90%
  .gallery .title br
    display: none
