@media(max-width: 576px)
  .blog
    &-grid
      .blog-item
        width: 100%
  .specialists
    &-grid:not(.specialists-grid__slider)
      grid-template-columns: repeat(1, 1fr)

  .principle-video
    height: 320px
    &::after
      width: 60px
      height: 60px
      background-size: 20px
      backdrop-filter: blur(20px)

  .fixed-btns
    gap: 10px
    bottom: 15px
    right: 15px

  .popup-specialists
    grid-template-columns: repeat(2, 1fr)

  .popup-services__item
    gap: 5px
    h4
      font-size: 14px
      padding-left: 40px
    span:nth-child(3)
      margin-left: 40px

  .gallery-slider
    width: 90%
  .gallery .title br
    display: none

  .hero
    padding: 35px 0 95px
    background-size: 620px auto
    background-position: top -55px center
    h3
      font-size: 10px
      margin-bottom: 15px
    h1
      font-size: 35px
      max-width: 380px
      margin-bottom: 15px
    h2
      margin-bottom: 250px
    &-bubble
      max-width: 390px
      top: 260px
      font-size: 10px
      li
        &::before
          width: 29px
          height: 55px
          background-image: url("data:image/svg+xml,%3Csvg width='29' height='55' viewBox='0 0 29 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.809 1.96695C18.0528 2.08466 18.1554 2.37842 18.0381 2.62308L16.1265 6.61005C16.0092 6.85471 15.7165 6.95762 15.4727 6.83991C15.2289 6.7222 15.1263 6.42844 15.2436 6.18378L16.7761 2.98746L16.5488 2.44957L13.4112 0.934712C13.1674 0.817 13.0648 0.523239 13.1821 0.278579C13.2994 0.033919 13.5921 -0.0689926 13.8359 0.0487192L17.809 1.96695ZM12.9019 4.12848C13.5369 3.76039 14.1329 3.44166 14.6707 3.17025L15.1109 4.04865C14.5885 4.31227 14.0092 4.62203 13.392 4.97984L12.9019 4.12848ZM9.55105 6.34475C10.1069 5.92627 10.6579 5.54014 11.195 5.18535L11.7337 6.00659C11.2122 6.35109 10.6777 6.72567 10.1391 7.13121L9.55105 6.34475ZM6.50227 8.9791C6.98805 8.49504 7.48338 8.03853 7.98163 7.60886L8.62021 8.35455C8.13865 8.76983 7.66069 9.21037 7.19264 9.67677L6.50227 8.9791ZM3.87653 12.0503C4.27608 11.4942 4.69521 10.9638 5.12834 10.4585L5.87114 11.0996C5.45525 11.5849 5.05357 12.0932 4.67127 12.6253L3.87653 12.0503ZM1.82824 15.5482C2.11626 14.9246 2.43164 14.3252 2.76957 13.7494L3.6138 14.2484C3.2915 14.7975 2.99116 15.3685 2.71716 15.9616L1.82824 15.5482ZM0.510237 19.3904C0.665844 18.7175 0.853657 18.0664 1.06976 17.4368L1.99614 17.7569C1.79085 18.3551 1.61246 18.9735 1.46465 19.6126L0.510237 19.3904ZM0 23.4225C0.018863 22.7277 0.071163 22.0516 0.153947 21.3938L1.126 21.517C1.04725 22.1427 0.997402 22.7866 0.979412 23.4492L0 23.4225ZM0.127072 26.4652C0.0898379 26.1217 0.0605334 25.7822 0.0388791 25.4466L1.01661 25.383C1.03733 25.7042 1.0654 26.0295 1.1011 26.3589C1.13594 26.6802 1.17565 26.998 1.2201 27.3123L0.250041 27.4505C0.204094 27.1256 0.163054 26.7972 0.127072 26.4652ZM1.0591 31.2959C0.883249 30.6745 0.726195 30.038 0.589353 29.3863L1.54808 29.1836C1.68026 29.8131 1.83191 30.4276 2.00161 31.0273L1.0591 31.2959ZM2.39334 34.995C2.13093 34.4026 1.88618 33.794 1.66078 33.1689L2.5821 32.8344C2.7995 33.4373 3.03556 34.0243 3.28864 34.5956L2.39334 34.995ZM4.23422 38.4678C3.89115 37.917 3.56347 37.3493 3.25315 36.7641L4.11806 36.3022C4.41748 36.8668 4.73377 37.4148 5.06506 37.9467L4.23422 38.4678ZM6.52754 41.653C6.11504 41.1525 5.7147 40.6347 5.32873 40.0992L6.12264 39.523C6.49582 40.0408 6.88314 40.5418 7.28255 41.0264L6.52754 41.653ZM9.20019 44.5186C8.73135 44.0721 8.27075 43.6081 7.8208 43.1262L8.53578 42.4539C8.97216 42.9213 9.41922 43.3717 9.8747 43.8055L9.20019 44.5186ZM12.1782 47.0593C11.6663 46.6672 11.158 46.2575 10.6561 45.8298L11.2903 45.0803C11.7787 45.4966 12.2738 45.8955 12.7727 46.2777L12.1782 47.0593ZM15.3865 49.2789C14.8446 48.9402 14.3007 48.5836 13.7579 48.2085L14.3136 47.3987C14.8435 47.7649 15.3748 48.1133 15.9045 48.4443L15.3865 49.2789ZM18.7841 51.203C18.2205 50.9144 17.6469 50.6065 17.067 50.2784L17.5482 49.422C18.1157 49.743 18.6774 50.0445 19.2295 50.3273L18.7841 51.203ZM22.3203 52.8402C21.7473 52.6016 21.1497 52.3404 20.5336 52.0552L20.9439 51.1624C21.5479 51.4419 22.1338 51.698 22.6958 51.932L22.3203 52.8402ZM25.9762 54.1973C25.4247 54.0174 24.8066 53.8043 24.1351 53.5549L24.4753 52.6328C25.1336 52.8774 25.7392 53.0862 26.2789 53.2622L25.9762 54.1973ZM28.5403 54.9409C28.3801 54.9016 28.1459 54.842 27.8468 54.7602L28.1045 53.8116C28.3948 53.8911 28.6206 53.9484 28.7729 53.9858C28.849 54.0044 28.9068 54.0181 28.945 54.027L28.9877 54.0368L28.9978 54.039L29 54.0395L28.7905 55L28.7853 54.9989L28.7725 54.996L28.7242 54.9849C28.6821 54.9751 28.6204 54.9605 28.5403 54.9409Z' fill='%23CD7F74'/%3E%3C/svg%3E%0A")
        &:nth-child(1)
          top: 0px
          left: 13px
          &::before
            top: 17px
            left: 95px
        &:nth-child(2)
          width: 100px
          top: 0px
          right: 8px
          &::before
            transform: rotate(50deg)
            top: -5px
            left: -51px
        &:nth-child(3)
          width: 115px
          top: 140px
          right: 10px
          &::before
            transform: rotate(138deg)
            top: -56px
            left: 45px
        &:nth-child(4)
          width: 95px
          top: 140px
          left: 35px
          &::before
            transform: scaleX(-1) rotate(150deg)
            top: -60px
            left: 45px
