{% if not page404 %}
<footer class="footer">
  <div class="container">
    <div class="footer-sidebar">
      <a href="/" class="footer-logo"><img src="img/svg/logo.svg" alt=""></a>
      <p class="footer-desc">Уникальность команды профессионалов клиники «Re-Alt» — психологов, психотерапевтов и врачей-психиатров в том, <b>что мы смогли пойти навстречу друг к другу</b></p>
      <ul class="footer-social">
        <li class="wa"><a href="#">Whatsapp</a></li>
        <li class="tg"><a href="#">Telegram</a></li>
      </ul>
      <div class="footer-address title-md">г. Москва, Всеволожский переулок, 2c2, подъезд 3, этаж 3</div>
    </div>
    <div class="footer-main">
      <ul class="footer-nav">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Специалисты</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Цены</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Блог</a></li>
      </ul>
      <ul class="footer-subnav">
        <li><a href="#" class="hover-effect">О клинике</a></li>
        <li><a href="#" class="hover-effect">Симптомы</a></li>
        <li><a href="#" class="hover-effect">Диагнозы</a></li>
        <li><a href="#" class="hover-effect">Методы</a></li>
        <li><a href="#" class="hover-effect">Программа лояльности</a></li>
        <li><a href="#" class="hover-effect">Правовые документы</a></li>
      </ul>
      <div class="footer-contact">
        <div class="footer-contact__item">
          <p>Часы работы <span>Вс — выходной</span></p>
          <b class="title-sm">Пн – Сб : 10:00 - 21:00</b>
        </div>
        <div class="footer-contact__item">
          <p>Телефон</p>
          <b class="title-sm"><a href="tel:8 800 800 00 55">8 800 800 00 55</a></b>
        </div>
        <div class="footer-contact__item">
          <p>Почта</p>
          <b class="title-sm"><a href="mailto:info@cdz-alter.ru">info@cdz-alter.ru</a></b>
        </div>
        <div class="footer-contact__item ad">
          <p>Адрес</p>
          <b class="title-sm">г. Москва, Всеволожский переулок, 2c2, подъезд 3, этаж 3</b>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copy">© 2015-2023 ООО “Центр душевного здоровья”</p>
      <div class="footer-license">
        <p>Номер лицензии ЛО-77-01-012333</p>
        <ul>
          <li>Номер лицензии ЛО-77-01-012333</li>
          <li>Номер лицензии ЛО-77-01-012333</li>
        </ul>
      </div>
      <ul class="footer-links">
        <li><a href="#">Правовая информация</a></li>
        <li><a href="#">Задизайнено: <span>Cassari</span></a></li>
      </ul>
    </div>
  </div>
</footer>

<a href="https://wa.me/" class="social-btn"></a>
<a href="tel:" class="phone-btn"></a>

<div class="popup" data-popup="social">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <div class="popup-close"></div>
    <div class="popup-social">
      <div class="popup-social__item">
        <img src="img/qr-wa.jpg" alt="">
        <a href="#" class="btn btn-outline btn-noarrow btn-lg"><p>Написать в WhatsApp<i class="wa"></i></p></a>
        <span>Или отсканируйте QR-код с телефона</span>
      </div>
      <div class="popup-social__item">
        <img src="img/qr-tg.jpg" alt="">
        <a href="#" class="btn btn-outline btn-noarrow btn-lg"><p>Написать в Telegram<i class="tg"></i></p></a>
        <span>Или отсканируйте QR-код с телефона</span>
      </div>
    </div>
  </div>
</div>

<div class="popup" data-popup="call">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <div class="popup-close"></div>
    <div class="popup-call">
      <div class="popup-call__head">
        <h3 class="title-md">Заказать обратный звонок</h3>
        <p class="popup-call__subtitle">В рабочее время с Вами свяжется администратор клиники, мы работаем <b>с 10:00 до 21:00</b> (Пн-Сб)</p>
      </div>
      <form action="#">
        <label class="label">
          <p>Представьтесь</p>
          <input type="text" placeholder="Ваше имя и фамилия" />
        </label>
        <label class="label">
          <p>Номер телефона</p>
          <input type="text" class="masked" placeholder="+7 (000) 000-00-00" required />
        </label>
        <input type="hidden" name="form" value="" />
        <button class="btn btn-outline btn-lg"><p>Записаться</p></button>
        <small>Нажимая на эту кнопку вы принимаете условия<br><a href="#">Соглашения о передаче личных данных</a></small>
      </form>
      <div class="popup-footer">© 2015-2023 ООО “Центр душевного здоровья”</div>
    </div>
    <div class="popup-thanks">
      <div class="popup-thanks__text">
        <h3 class="title-md">Спасибо за обращение</h3>
        <p>Мы получили ваше обращение, с Вами свяжется администратор в рабочее время Пн-Сб 10:00 до 21:00</p>
        <div class="btn-wrap"><a href="javascript:;" class="btn btn-outline btn-lg btn-noarrow"><p>Закрыть</p></a></div>
      </div>
      <div class="popup-thanks__icon"></div>
      <div class="popup-footer">© 2015-2023 ООО “Центр душевного здоровья”</div>
    </div>
  </div>
</div>

<div class="popup" data-popup="reviews-1">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <div class="popup-close"></div>
    <div class="popup-reviews">
      <div class="popup-reviews__content">
        <ul class="popup-reviews__info">
          <li>16 июня 2023</li><li>Ольга, Москва</li>
        </ul>
        <h3 class="title-md">Нелюбова Елена Сергеевна - золотые руки!!!</h3>
        <p class="popup-reviews__text">Хочу выразить огромную благодарность доктору Нелюбовой Елене Сергеевне, её ассистентам девочкам, а также психологу Онегиной Елене Юрьевне. Спасибо Вам Огромное за отлично проведённую операцию по имплантации! Настоящие профессионалы своего дела! Нелюбова Елена Сергеевна - золотые руки!!!</p>
      </div>
      <div class="popup-reviews__specialists">
        <p>Специалисты из отзыва</p>
        <ul>
          <li><a href="#">Нелюбова Елена Сергеевна</a></li><li><a href="#">Онегина Елена Юрьевна</a></li>
        </ul>
      </div>
      <div class="popup-footer">© 2015-2023 ООО “Центр душевного здоровья”</div>
    </div>
  </div>
</div>

<div class="popup" data-popup="reviews-send">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <div class="popup-close"></div>
    <div class="popup-reviews">
      <div class="popup-call__head">
        <h3 class="title-md">Оставьте ваш отзыв<br> о нашей клинике</h3>
        <p class="popup-call__subtitle">При желании Ваш отзыв может быть опубликован анонимно</p>
      </div>
      <form action="#" class="popup-reviews__form">
        <div class="popup-reviews__label-col popup-reviews__name">
          <label class="popup-reviews__label">
            <p>Ваше имя и фамилия</p>
            <input type="text" name="name" placeholder="Иван Петров">
          </label>
          <label class="popup-reviews__checkbox">
            <input type="checkbox" name="anonymous" />
            <p>Оставить отзыв анонимно</p>
          </label>
        </div>
        <label class="popup-reviews__label popup-reviews__label-col">
          <p>Город</p>
          <input type="text" name="city" placeholder="Москва">
        </label>
        <label class="popup-reviews__label">
          <p>Электронная почта</p>
          <input type="email" name="email" placeholder="example@mail.ru">
        </label>
        <label class="popup-reviews__label">
          <p>Выберите специалиста (ов)</p>
          <select id="specialists-select" name="specialists[]" multiple placeholder="Выбрать из списка" autocomplete="off">
            <option value="">Выбрать из списка</option>
            <option>Арсеньева Татьяна Борисовна 1</option>
            <option>Арсеньева Татьяна Борисовна 2</option>
            <option>Арсеньева Татьяна Борисовна 3</option>
            <option>Арсеньева Татьяна Борисовна 4</option>
          </select>
        </label>
        <label class="popup-reviews__label">
          <p>Ваш отзыв</p>
          <textarea id="reviewTextarea" name="text" placeholder="Поделитесь своими впечатлениями (не менее 300 символов)"></textarea>
          <span id="counter">0/1000</span>
        </label>
        <input type="hidden" name="form" value="" />
        <button class="btn btn-outline btn-lg"><p>Оставить отзыв</p></button>
        <small>Нажимая на эту кнопку вы принимаете условия<br><a href="#">Соглашения о передаче личных данных</a></small>
      </form>
      <div class="popup-footer">© 2015-2023 ООО “Центр душевного здоровья”</div>
    </div>
    <div class="popup-thanks">
      <div class="popup-thanks__text">
        <h3 class="title-md">Спасибо за отзыв</h3>
        <p>Мы получили ваш отзыв и скоро опубликуем его на сайте</p>
        <div class="btn-wrap"><a href="javascript:;" class="btn btn-outline btn-lg btn-noarrow"><p>Закрыть</p></a></div>
      </div>
      <div class="popup-thanks__icon"></div>
      <div class="popup-footer">© 2015-2023 ООО “Центр душевного здоровья”</div>
    </div>
  </div>
</div>

<div class="popup" data-popup="thanks">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <div class="popup-close"></div>
    <div class="popup-thanks" style="position: relative;">
      <div class="popup-thanks__text">
        <h3 class="title-md">Спасибо за обращение</h3>
        <p>Мы получили ваше обращение, с Вами свяжется администратор в рабочее время Пн-Сб 10:00 до 21:00</p>
        <div class="btn-wrap"><a href="javascript:;" class="btn btn-outline btn-lg btn-noarrow"><p>Закрыть</p></a></div>
      </div>
      <div class="popup-thanks__icon"></div>
      <div class="popup-footer">© 2015-2023 ООО “Центр душевного здоровья”</div>
    </div>
  </div>
</div>
{% endif %}