{% if not page404 %}
<footer class="footer">
  <div class="container">
    <div class="footer-sidebar">
      <a href="/" class="footer-logo"><img src="img/svg/logo.svg" alt=""></a>
      <p class="footer-desc">Уникальность команды профессионалов клиники «Re-Alt» — психологов, психотерапевтов и врачей-психиатров в том, <b>что мы смогли пойти навстречу друг к другу</b></p>
      <ul class="footer-social">
        <li class="wa"><a href="#">Whatsapp</a></li>
        <li class="tg"><a href="#">Telegram</a></li>
      </ul>
      <div class="footer-address title-md">г. Москва, Всеволожский переулок, 2c2, подъезд 3, этаж 3</div>
    </div>
    <div class="footer-main">
      <ul class="footer-nav">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Специалисты</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Цены</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Блог</a></li>
      </ul>
      <ul class="footer-subnav">
        <li><a href="#">О клинике</a></li>
        <li><a href="#">Симптомы</a></li>
        <li><a href="#">Диагнозы</a></li>
        <li><a href="#">Методы</a></li>
        <li><a href="#">Программа лояльности</a></li>
        <li><a href="#">Правовые документы</a></li>
      </ul>
      <div class="footer-contact">
        <div class="footer-contact__item">
          <p>Часы работы <span>Вс — выходной</span></p>
          <b class="title-sm">Пн – Сб : 10:00 - 21:00</b>
        </div>
        <div class="footer-contact__item">
          <p>Телефон</p>
          <b class="title-sm"><a href="tel:8 800 800 00 55">8 800 800 00 55</a></b>
        </div>
        <div class="footer-contact__item">
          <p>Почта</p>
          <b class="title-sm"><a href="mailto:info@cdz-alter.ru">info@cdz-alter.ru</a></b>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copy">© 2015-2023 ООО “Центр душевного здоровья”</p>
      <p class="footer-license">Номер лицензии ЛО-77-01-012333</p>
      <ul class="footer-links">
        <li><a href="#">Правовая информация</a></li>
        <li><a href="#">Задизайнено: <span>Cassari</span></a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="popup open">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    123123
  </div>
</div>
{% endif %}