{% if not page404 %}
<header class="header{% if white %} header-white{% endif %}{% if clear %} header-clear{% endif %}">
  <div class="container-fluid">
    <div class="header-col">
      <a href="/" class="header-logo"></a>
      <div class="header-contact">
        <a href="tel:8 800 800 00 55">8 800 800 00 55</a>
        <p>г. Москва, м. Кропоткинская</p>
      </div>
    </div>
    <ul class="header-nav">
      <li>
        <a href="https://rt.dev-slava.ru/" class="hover-effect">Главная</a>
        <div class="dropdown">
          <ul class="dropdown-nav">
            <li><a href="#">О клинике</a></li>
            <li><a href="#">Блог</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="https://rt.dev-slava.ru/services/" class="hover-effect">Услуги</a>
        <div class="dropdown">
          <ul class="dropdown-nav">
            <li class="dropdown-arrow">
              <a href="#">Психиатрическая помощь в Москве</a>
              <div class="dropdown-wrap">
                <ul class="dropdown-subnav">
                  <li><a href="#">Психиатрическая помощь в Москве</a></li>
                  <li class="dropdown-arrow">
                    <a href="#">Психиатрическая помощь в Москве</a>
                    <div class="dropdown-wrap">
                      <ul class="dropdown-subnav">
                        <li><a href="#">Психиатрическая помощь в Москве</a></li>
                        <li><a href="#">Психиатрическая помощь в Москве</a></li>
                        <li><a href="#">Психиатрическая помощь в Москве</a></li>
                        <li><a href="#">Психиатрическая помощь в Москве</a></li>
                        <li><a href="#">Психиатрическая помощь в Москве</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li class="dropdown-arrow">
              <a href="#">Психиатрическая помощь в Москве</a>
              <div class="dropdown-wrap">
                <ul class="dropdown-subnav">
                  <li><a href="#">Психиатрическая помощь в Москве</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
            <li><a href="#">Психиатрическая помощь в Москве</a></li>
          </ul>
        </div>
      </li>
      <li><a href="https://rt.dev-slava.ru/price/" class="hover-effect">Цены</a></li>
      <li>
        <a href="https://rt.dev-slava.ru/specialists/" class="hover-effect">Врачи</a>
        <div class="dropdown">
          <ul class="dropdown-nav">
            <li class="menu-item-object-specialists"><a href="#"><img src="https://rt.dev-slava.ru/wp-content/uploads/2024/01/12-768x960.jpg" alt="">Арсеньева Татьяна Борисовна</a></li>
          </ul>
        </div>
      </li>
      <li class="header-burger"><a href="javascript:;"><span></span><span></span></a></li>
      <li>
        <a href="https://rt.dev-slava.ru/diagnoses/" class="hover-effect">Мы лечим</a>
        <div class="dropdown">
          <ul class="dropdown-nav">
            <li><a href="#">Пункт меню</a></li>
        </div>
      </li>
      <li>
        <a href="https://rt.dev-slava.ru/symptoms/" class="hover-effect">Симптомы</a>
        <div class="dropdown">
          <ul class="dropdown-nav">
            <li><a href="#">О клинике</a></li>
            <li><a href="#">Блог</a></li>
          </ul>
        </div>
      </li>
      <li><a href="https://rt.dev-slava.ru/contacts/" class="hover-effect">Контакты</a></li>
    </ul>
    <div class="header-col">
      <ul class="header-social">
        <li><a href="#" class="wa"></a></li>
        <li><a href="#" class="tg"></a></li>
      </ul>
      <a href="javascript:;" data-button="call" data-form="Записаться" class="btn btn-outline btn-md"><p>Записаться</p></a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-bg"></div>
    <div class="menu-wrapper">
      <div class="container-fluid">
        <div class="menu-left">
          <ul class="menu-main">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Специалисты</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Блог</a></li>
          </ul>
          <div class="menu-footer">
            <div class="menu-copy">© 2015-2023 ООО “Центр душевного здоровья”</div>
          </div>
        </div>
        <div class="menu-right">
          <div class="menu-right__wrapper">
            <ul class="menu-sub">
              <li><a href="#" class="hover-effect">О клинике</a></li>
              <li><a href="#" class="hover-effect">Симптомы</a></li>
              <li><a href="#" class="hover-effect">Диагнозы</a></li>
              <li><a href="#" class="hover-effect">Методы</a></li>
              <li><a href="#" class="hover-effect">Программа лояльности</a></li>
              <li><a href="#" class="hover-effect">Правовые документы</a></li>
            </ul>
            <ul class="menu-contact">
              <li>
                <span>Телефон</span>
                <p>8 800 800 00 55</p>
              </li>
              <li class="menu-address">
                <ul>
                  <li class="active" data-id="1">Адрес 1</li>
                  <li data-id="2">Адрес 2</li>
                </ul>
                <p class="active" data-id="1">г. Москва, Всеволожский переулок, 2c2, подъезд 3, этаж 2</p>
                <p data-id="2">г. Москва, Всеволожский переулок, 2c2, подъезд 3, этаж 3</p>
                <a href="#">Показать на карте</a>
              </li>
            </ul>
          </div>
          <div class="menu-footer">
            <div class="menu-license">
              <p>Номер лицензии ЛО-77-01-012333</p>
              <ul>
                <li>Номер лицензии ЛО-77-01-012333</li>
                <li>Номер лицензии ЛО-77-01-012333</li>
              </ul>
            </div>
            <ul class="menu-social">
              <li class="wa"><a href="#">Whatsapp</a></li>
              <li class="tg"><a href="#">Telegram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="dropdown-bg"></div>
{% endif %}