{% set site_title = site_title | default('Title') %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="Russian">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="./css/libs.css?cb">
    <link rel="stylesheet" href="./css/main.css?cb">
  </head>
  <body>

    <div class="wrapper">

      {% include 'components/_header.html' %}

      {% block content %}{% endblock %}

      {% include 'components/_footer.html' %}

      <ul class="fixed-btns">
        <li><a href="tel:" class="phone"></a></li>
        <li><a href="https://wa.me/" class="wa"></a></li>
        <li><a href="https://tg.me/" class="tg"></a></li>
      </ul>

    </div>

    <script src="./js/animation-libs.min.js?cb"></script>
    <script src="./js/animation.js?cb"></script>
    <script src="./js/libs.js?cb"></script>
    <script src="./js/main.js?cb"></script>
    <script src="./js/widget.js?cb"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        if (window.location.hash === '#onlain_zapis') {
          const onlineDiv = document.createElement('div');
          onlineDiv.style.display = 'none';
          onlineDiv.className = 'onlain_zapis';
          onlineDiv.setAttribute('data-button', 'online');
          document.body.appendChild(onlineDiv);
            onlineDiv.click();
        }
      });
    </script>
  </body>
</html>