<div class="blog-item">
  <div class="blog-item__image"><img src="img/blog-item.jpg" alt=""></div>
  <span class="blog-item__cat">Психиатрия, психотерапия</span>
  <a href="#" class="blog-item__title">Как говорить с детьми о вреде курения и алкоголя, если родители сами курят и выпивают?</a>
  <p class="blog-item__text">Повседневная практика показывает, что сложившаяся структура организации способствует подготовки и реализации систем массового участия</p>
  <div class="blog-item__footer"><span>14 июня 2023</span><span>/</span><span>5 минут</span></div>
</div>