<div class="faq-item">
  <div class="faq-main">
    <h3 class="faq-title title-sm">Какие услуги предоставляет ваша клиника?</h3>
    <div class="faq-text">
      <h4 class="title-md">Краткий ответ в виде заголовка, ниже следует примечание и более расширенный ответ</h4>
      <p>Именно это высказывание как нельзя лучше характеризует наше отношение к работе с пациентами. Мы не трудимся строго по шаблону, мы берем человека за руку и ведем к пути исцеления, излечения, восстановления и обретения своей ценности, своего «Я » Именно это высказывание как нельзя лучше характеризует наше отношение к работе с пациентами. Мы не трудимся строго по шаблону, мы берем человека за руку и ведем к пути исцеления, излечения, восстановления и обретения своей ценности, своего «Я»  пути исцеления, излечения, восстановления и обретения своей ценности, своего «Я»</p>
    </div>
  </div>
</div>