<section class="free">
  <div class="container">
    <h2 class="title" animate-text>Бесплатная беседа «Альтер-фон» это предварительная беседа с нашими специалистами по телефону.</h2>
    <p animate-text>В течение 10-минутной беседы вы сможете обозначить или выявить свои проблемы, и понять, кто из врачей вам нужен и нужен ли вообще. <b>Запишитесь на бесплатный разговор к специалисту</b></p>
    <div class="btn-wrap"><a href="javascript:;" data-button="call" class="btn btn-green btn-lg"><p>Записаться</p></a></div>
  </div>
</section>