<div class="specialists-item">
  <div class="specialists-item__photo"><img src="img/specialists-photo.jpg" alt=""></div>
  <h4 class="specialists-item__name">Арсеньева<br>Татьяна Борисовна</h4>
  <div class="specialists-item__label">
    <h5>стаж, с кем работает</h5>
    <p>28 лет / Взрослые и подростки с 13 лет</p>
  </div>
  <div class="specialists-item__label">
    <h5>Первичный, повторный приём</h5>
    <p>10 000 ₽  /  7 000 ₽</p>
  </div>
  <div class="specialists-item__spec"><p>Основатель клиники, врач-психиатр, психотерапевт, доктор медицинских наук, заведующий кафедрой психиатрии</p></div>
  <div class="specialists-item__more"><a href="#">О специалисте</a></div>
</div>