.blog
  padding-top: var(--gap-xl)
  .container
    @include flexbox
    align-items: flex-end
  &-slider
    margin-top: var(--gap-md)
    overflow: hidden
    width: 100%
    .swiper-slide
      height: auto
  &-item
    @include flexbox
    flex-direction: column
    align-items: flex-start
    gap: 20px
    height: 100%
    &__image
      width: 100%
      aspect-ratio: 1 / 1
      position: relative
      overflow: hidden
      border-radius: 4px
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
    &__cat
      font-size: 16px
      font-weight: 500
      letter-spacing: -0.02em
      line-height: 22px
      color: var(--color-dark)
      padding: 9px 23px
      border-radius: 99px
      border: 1px dashed rgba(15, 15, 17, 0.20)
    &__title
      font-size: 26px
      line-height: 1.1
      font-weight: 700
      overflow: hidden
      -webkit-line-clamp: 3
      display: -webkit-box
      -webkit-box-orient: vertical
    &__text
      -webkit-line-clamp: 3
      display: -webkit-box
      -webkit-box-orient: vertical
      font-size: 16px
      line-height: 1.25
      letter-spacing: -0.02em
      color: var(--color-dark)
    &__footer
      padding: 10px 0
      @include flexbox
      align-items: center
      gap: 10px
      font-size: 16px
      font-weight: 500
      line-height: 1.6
      letter-spacing: -0.02em
      border-top: 1px solid var(--color-border)
      color: var(--color-dark)
      width: 100%
      margin-top: auto
  &-control
    margin-left: auto
  &-themes
    @include flexbox
    align-items: flex-start
    gap: 16px
    margin-bottom: var(--gap-md)
    p
      font-size: 14px
      width: 100%
      text-transform: uppercase
      font-weight: 500
      letter-spacing: -0.02em
      margin-bottom: 8px
    li
      a
        display: block
        padding: 11px 18px
        border-radius: 99px
        font-size: 16px
        font-weight: 500
        letter-spacing: -0.02em
        border: 1px solid var(--color-border)
  &-page
    padding: var(--gap-lg) 0
  &-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px 24px
  &-pagination
    margin-top: 40px
    @include flexbox
    align-items: flex-start
    border-top: 1px solid var(--color-border)
    padding-top: 30px
    gap: 12px
    li
      a
        @include flexbox
        align-items: center
        justify-content: center
        width: 72px
        height: 72px
        border-radius: 100%
        color: var(--color-dark)
        line-height: 1.6
        font-size: 16px
        border: 1px dashed var(--color-dark)
      &.active a
        color: #fff
        background: var(--color-green)
        border-color: var(--color-green)

  &-more
    padding-bottom: var(--gap-md)
    .blog-grid
      margin-top: 40px
  &-specialists
    padding-bottom: var(--gap-md)
    .container
      @include flexbox
      align-items: center
    .title
      width: calc(100% - 300px)
      order: -1
    &__slider
      overflow: hidden
      margin-top: 40px
    &__control
      margin-left: auto
  &-top
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  &-single
    border-bottom: 1px solid var(--color-border)
    margin-bottom: var(--gap-lg)
    .container
      @include flexbox
      align-items: flex-start
      position: inherit
    &__sidebar
      width: var(--width-sidebar)
      position: sticky
      top: calc(var(--gap-lg) / 2 * -1)
      padding-right: var(--gap-md)
      padding-top: var(--gap-lg)
      height: calc(100vh + var(--gap-lg) / 2)
      border-right: 1px solid var(--color-border)
      @include flexbox
      align-items: flex-start
      flex-direction: column
    &__date
      font-weight: 500
      color: var(--color-dark)
      margin-top: 24px
    &__themes
      margin-top: 36px
      @include flexbox
      align-items: flex-start
      gap: 16px
      p
        font-size: 14px
        text-transform: uppercase
        font-weight: 500
        width: 100%
        color: var(--color-dark)
        margin-bottom: -8px
      li
        a
          display: block
          border-radius: 999px
          border: 1px solid var(--color-border)
          padding: 10px 17px
          font-size: 16px
          line-height: 22px
          font-weight: 500
    &__next
      display: block
      padding: 20px 0
      margin-top: auto
      padding-right: 100px
      position: relative
      span
        display: block
        font-size: 16px
        line-height: 1.1
        font-weight: 500
        color: var(--color-dark)
      p
        margin-top: 12px
        line-height: 1.6
        font-weight: 500
      &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        margin: auto 0
        display: block
        width: 48px
        height: 48px
        border-radius: 100%
        background: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.63721 12.6084L7.38721 6.73606L9.63721 0.608398L1.38721 6.73606L9.63721 12.6084Z' fill='%23464646'/%3E%3C/svg%3E%0A") no-repeat center
        border: 1px dashed var(--color-dark)
        cursor: pointer
        transform: rotate(180deg)
        box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 4px var(--color-border)
    &__content
      padding: 40px
      padding-right: 0
      width: var(--width-main)
      @include flexbox
      align-items: flex-start
      flex-direction: column
      gap: 80px
    &__text
      width: 100%
      padding: 0 60px
      @include flexbox
      flex-direction: column
      gap: 24px
      line-height: 1.6
      h3
        font-size: 34px
        font-weight: 600
        line-height: 1.2
    &__image
      width: 100%
      max-width: initial
    &__quote
      padding: 80px 60px
      background: #f5f2ef
      position: relative
      &::before
        content: ''
        position: absolute
        top: 30px
        left: 30px
        width: 28px
        height: 28px
        background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.29513 11.2044C-4.56173 24.8337 3.52287 28.3169 7.99527 27.978C8.49221 27.978 10.2522 27.4697 11.246 26.4531C13.496 24.1517 13.2338 22.3868 7.27058 17.8121C2.21063 13.9304 8.98914 4.08816 10.4799 2.56328C11.9707 1.03839 12.9647 -5.56939 3.29513 11.2044Z' fill='%23CD7F74'/%3E%3Cpath d='M18.7445 11.2044C10.8876 24.8337 18.9722 28.3169 23.4446 27.978C23.9416 27.978 25.7015 27.4697 26.6954 26.4531C28.9454 24.1517 28.6831 22.3868 22.7199 17.8121C17.66 13.9304 24.4385 4.08816 25.9293 2.56328C27.4201 1.03839 28.414 -5.56939 18.7445 11.2044Z' fill='%23CD7F74'/%3E%3C/svg%3E%0A") no-repeat center
      &::after
        content: ''
        position: absolute
        bottom: 30px
        right: 30px
        width: 28px
        height: 28px
        background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.7049 11.2044C32.5617 24.8337 24.4771 28.3169 20.0047 27.978C19.5078 27.978 17.7478 27.4697 16.754 26.4531C14.504 24.1517 14.7662 22.3868 20.7294 17.8121C25.7894 13.9304 19.0109 4.08816 17.5201 2.56328C16.0293 1.03839 15.0353 -5.56939 24.7049 11.2044Z' fill='%23CD7F74'/%3E%3Cpath d='M9.25552 11.2044C17.1124 24.8337 9.02779 28.3169 4.55538 27.978C4.05844 27.978 2.29847 27.4697 1.30461 26.4531C-0.945358 24.1517 -0.683129 22.3868 5.28007 17.8121C10.34 13.9304 3.56151 4.08816 2.07071 2.56328C0.579907 1.03839 -0.414029 -5.56939 9.25552 11.2044Z' fill='%23CD7F74'/%3E%3C/svg%3E%0A") no-repeat center
    &__free
      padding: 60px
      color: #fff
      background: url(../img/blog-free.jpg) no-repeat center / cover
      p
        margin-top: 24px
        font-size: 16px
        max-width: 540px
        line-height: 1.6
        color: rgba(255,255,255,.7)
        span
          color: #fff
      .btn-wrap
        margin-top: 40px
      .btn-brown
        width: 240px
        justify-content: center
    &__footer
      @include flexbox
      align-items: center
      justify-content: space-between
      width: 100%
    &__top
      @include flexbox
      align-items: center
      justify-content: center
      gap: 10px
      padding: 18px 55px
      line-height: 1
      font-weight: 600
      background: transparent
      border-radius: 99px
      position: relative
      border: 1px dashed var(--color-dark)
      &::before
        content: ''
        position: absolute
        top: 5px
        left: 5px
        right: 5px
        bottom: 5px
        border-radius: 99px
        border: 1px solid var(--color-dark)
      &::after
        content: ''
        width: 12px
        height: 12px
        display: block
        background: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.36328 0.891113L4.61328 6.76345L2.36328 12.8911L10.6133 6.76345L2.36328 0.891113Z' fill='%2300574F'/%3E%3C/svg%3E%0A") no-repeat center
        transform: rotate(-90deg)
    &__links
      @include flexbox
      align-items: flex-start
      gap: 20px
      font-size: 16px
      line-height: 1
      a
        @include flexbox
        align-items: center
        gap: 12px
        &::before
          content: ''
          display: block
          width: 52px
          height: 52px
          border-radius: 100%
          border: 1px solid var(--color-border)
          background-repeat: no-repeat
          background-position: center
      li.wa a::before
        background-image: url(../img/svg/wa.svg)
      li.link a::before
        background-image: url(../img/svg/link.svg)
      li.tg a::before
        background-image: url(../img/svg/tg.svg)
    &__nav
      padding: 0 60px
      width: 100%
      counter-reset: nav
      p
        font-size: 20px
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 0.05em
        margin-bottom: 16px
      li
        a
          @include flexbox
          align-items: flex-start
          padding: 16px 0
          font-weight: 500
          line-height: 1.1
          border-bottom: 1px dashed var(--color-border)
          color: var(--color-dark)
          padding-left: 40px
          position: relative
          &::before
            counter-increment: nav
            content: counter(nav, decimal-leading-zero) '.'
            color: var(--color-dark)
            opacity: 0.6
            position: absolute
            top: 16px
            left: 0
          &:hover
            color: var(--color-green)
