.contact
  padding-top: 160px
  padding-bottom: 30px
  &-address
    font-size: 90px
    font-family: 'Wulkan Display'
    font-weight: 500
    line-height: 1
    letter-spacing: -0.02em
    max-width: 1440px
    margin-bottom: 16px
  &-list
    @include flexbox
    align-items: flex-start
    gap: 64px
    width: 100%
    margin-top: 100px
    li
      p
        font-size: 14px
        line-height: 1.6
        letter-spacing: 0.05em
        color: var(--color-dark)
        font-weight: 500
        text-transform: uppercase
        @include flexbox
        align-items: center
        justify-content: space-between
        span
          text-transform: none
          margin-left: auto
      b
        display: block
        width: 100%
        margin-top: 16px
  &-map
    height: 1085px
    position: relative
    overflow: hidden
    background: #eee
    .container
      height: 100%
      @include flexbox
      align-items: flex-end
      padding-bottom: 50px
      position: initial
      & > iframe
        position: absolute
        top: 0
        left: 0
        width: 100% !important
        height: 100% !important
    &__block
      padding: 44px
      background: #fbfaf9
      max-width: 530px
      width: 100%
      min-height: 460px
      @include flexbox
      flex-direction: column
      align-items: flex-start
      position: relative
      z-index: 5
    &__tabs
      @include flexbox
      align-items: center
      margin-bottom: 36px
      li
        color: rgba(0, 46, 37, 0.50)
        cursor: pointer
        &.active
          color: var(--color-black)
        &::after
          content: '/'
          color: var(--color-black)
          display: inline-block
          padding: 0 12px
        &:last-child::after
          display: none
    &__list
      counter-reset: mapList
      display: none
      margin-bottom: 36px
      &.active
        display: block
      li
        margin-bottom: 12px
        padding-left: 50px
        position: relative
        &::before
          counter-increment: mapList
          content: counter(mapList, decimal-leading-zero)
          position: absolute
          top: 0
          left: 0
          opacity: 0.8
        &:last-child
          margin-bottom: 0
    .btn-wrap
      margin-top: auto
  &-social
    @include flexbox
    align-items: flex-start
    gap: 20px
    font-size: 16px
    line-height: 1
    margin-top: 70px
    a
      @include flexbox
      align-items: center
      gap: 12px
      &::before
        content: ''
        display: block
        width: 52px
        height: 52px
        border-radius: 100%
        border: 1px solid var(--color-border)
        background-repeat: no-repeat
        background-position: center
        transition: .25s
      &:hover::before
        background-color: var(--color-green)
    li.wa a
      &::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0132 1.75C6.81893 1.75 1.77642 6.78817 1.77417 12.9824C1.77304 14.9624 2.29165 16.8954 3.2749 18.5986L1.75 24.25L7.63647 22.8591C9.27785 23.7546 11.1256 24.2247 13.0066 24.2258H13.011C19.2041 24.2258 24.2444 19.1865 24.2478 12.9934C24.2501 9.99078 23.0824 7.1677 20.9607 5.0437C18.8389 2.92083 16.0192 1.75113 13.0132 1.75ZM13.011 4C15.414 4.00113 17.6722 4.93802 19.3699 6.63452C21.0675 8.33327 22.0001 10.5905 21.9978 12.9912C21.9956 17.9457 17.9655 21.9758 13.0088 21.9758C11.5092 21.9747 10.0237 21.5982 8.71533 20.8838L7.95728 20.4707L7.12012 20.6685L4.90527 21.1914L5.4458 19.1831L5.6897 18.2822L5.22388 17.4736C4.43863 16.1146 4.02304 14.5608 4.02417 12.9824C4.02642 8.03017 8.05761 4 13.011 4ZM9.03613 7.79688C8.84826 7.79688 8.54449 7.86719 8.28687 8.14844C8.02924 8.42856 7.30249 9.10703 7.30249 10.4885C7.30249 11.87 8.30884 13.2054 8.44946 13.3933C8.58896 13.5801 10.392 16.5046 13.2461 17.6296C15.6176 18.5645 16.0993 18.38 16.6145 18.3328C17.1298 18.2866 18.2767 17.6549 18.5107 16.999C18.7447 16.3432 18.7453 15.779 18.6755 15.6631C18.6058 15.5461 18.4185 15.4763 18.1372 15.3357C17.8571 15.1951 16.4766 14.5172 16.219 14.4238C15.9614 14.3305 15.7729 14.2832 15.5862 14.5645C15.3994 14.8457 14.8627 15.4763 14.6985 15.6631C14.5342 15.851 14.3711 15.8762 14.0898 15.7356C13.8086 15.5938 12.9043 15.2966 11.8311 14.3403C10.9963 13.5967 10.433 12.6792 10.2688 12.398C10.1057 12.1178 10.2534 11.964 10.394 11.8245C10.52 11.6985 10.6731 11.4965 10.8137 11.3323C10.9532 11.168 11.0016 11.051 11.095 10.8643C11.1883 10.6775 11.1406 10.5127 11.0708 10.3721C11.0011 10.2314 10.4548 8.84481 10.2051 8.28906C9.9947 7.82219 9.77252 7.81134 9.57227 7.80347C9.40914 7.79672 9.22288 7.79688 9.03613 7.79688Z' fill='%2300574F'/%3E%3C/svg%3E%0A")
      &:hover::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0132 1.75C6.81893 1.75 1.77642 6.78817 1.77417 12.9824C1.77304 14.9624 2.29165 16.8954 3.2749 18.5986L1.75 24.25L7.63647 22.8591C9.27785 23.7546 11.1256 24.2247 13.0066 24.2258H13.011C19.2041 24.2258 24.2444 19.1865 24.2478 12.9934C24.2501 9.99078 23.0824 7.1677 20.9607 5.0437C18.8389 2.92083 16.0192 1.75113 13.0132 1.75ZM13.011 4C15.414 4.00113 17.6722 4.93802 19.3699 6.63452C21.0675 8.33327 22.0001 10.5905 21.9978 12.9912C21.9956 17.9457 17.9655 21.9758 13.0088 21.9758C11.5092 21.9747 10.0237 21.5982 8.71533 20.8838L7.95728 20.4707L7.12012 20.6685L4.90527 21.1914L5.4458 19.1831L5.6897 18.2822L5.22388 17.4736C4.43863 16.1146 4.02304 14.5608 4.02417 12.9824C4.02642 8.03017 8.05761 4 13.011 4ZM9.03613 7.79688C8.84826 7.79688 8.54449 7.86719 8.28687 8.14844C8.02924 8.42856 7.30249 9.10703 7.30249 10.4885C7.30249 11.87 8.30884 13.2054 8.44946 13.3933C8.58896 13.5801 10.392 16.5046 13.2461 17.6296C15.6176 18.5645 16.0993 18.38 16.6145 18.3328C17.1298 18.2866 18.2767 17.6549 18.5107 16.999C18.7447 16.3432 18.7453 15.779 18.6755 15.6631C18.6058 15.5461 18.4185 15.4763 18.1372 15.3357C17.8571 15.1951 16.4766 14.5172 16.219 14.4238C15.9614 14.3305 15.7729 14.2832 15.5862 14.5645C15.3994 14.8457 14.8627 15.4763 14.6985 15.6631C14.5342 15.851 14.3711 15.8762 14.0898 15.7356C13.8086 15.5938 12.9043 15.2966 11.8311 14.3403C10.9963 13.5967 10.433 12.6792 10.2688 12.398C10.1057 12.1178 10.2534 11.964 10.394 11.8245C10.52 11.6985 10.6731 11.4965 10.8137 11.3323C10.9532 11.168 11.0016 11.051 11.095 10.8643C11.1883 10.6775 11.1406 10.5127 11.0708 10.3721C11.0011 10.2314 10.4548 8.84481 10.2051 8.28906C9.9947 7.82219 9.77252 7.81134 9.57227 7.80347C9.40914 7.79672 9.22288 7.79688 9.03613 7.79688Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
    li.tg a
      &::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1391 3.0917C21.8465 3.10461 21.5739 3.18982 21.334 3.28682C21.1092 3.37723 20.2504 3.74558 18.8977 4.32568C17.5437 4.90629 15.751 5.67596 13.8387 6.49834C10.014 8.14309 5.71398 9.99451 3.51152 10.9421C3.4287 10.9777 3.13972 11.07 2.83301 11.3095C2.52629 11.5489 2.2002 12.0451 2.2002 12.5979C2.2002 13.0438 2.41266 13.4866 2.68008 13.7511C2.9475 14.0155 3.23047 14.1461 3.47285 14.245C4.3523 14.6039 7.07986 15.72 7.59492 15.9308C7.77619 16.486 8.76344 19.506 8.99238 20.2462C9.14331 20.7346 9.28697 21.0405 9.47402 21.2833C9.56755 21.4047 9.67626 21.5111 9.80801 21.5944C9.86067 21.6278 9.91841 21.6534 9.97676 21.6771L9.98027 21.6788C9.99372 21.6842 10.0053 21.6934 10.0189 21.6981C10.0447 21.7071 10.0619 21.7082 10.0963 21.7157C10.2334 21.76 10.3718 21.7878 10.4953 21.7878C11.022 21.7878 11.3443 21.4978 11.3443 21.4978L11.3637 21.4837L14.0725 19.1405L17.3578 22.2483C17.4041 22.3137 17.8355 22.9058 18.7869 22.9058C19.3518 22.9058 19.8 22.6223 20.0877 22.3204C20.3754 22.0185 20.5547 21.7014 20.6309 21.3026V21.3009C20.7021 20.9241 23.7299 5.38037 23.7299 5.38037L23.7246 5.40146C23.8132 4.9969 23.8365 4.62014 23.7387 4.24834C23.6409 3.87654 23.3832 3.52056 23.0637 3.329C22.7442 3.13749 22.4316 3.07879 22.1391 3.0917ZM21.9703 4.97256C21.966 4.99882 21.9735 4.98562 21.9668 5.0165L21.965 5.02705L21.9633 5.0376C21.9633 5.0376 18.973 20.3825 18.8625 20.9669C18.8706 20.9228 18.8336 21.0105 18.7957 21.0636C18.7421 21.0266 18.6322 20.9792 18.6322 20.9792L18.6146 20.9599L14.127 16.7147L10.9541 19.4569L11.898 15.6776C11.898 15.6776 17.7986 9.56966 18.1541 9.21416C18.4403 8.92976 18.5004 8.83062 18.5004 8.73252C18.5004 8.60112 18.4319 8.50576 18.2789 8.50576C18.1412 8.50576 17.956 8.63964 17.857 8.70264C16.5672 9.52483 10.9048 12.825 8.3666 14.3013C7.96323 14.1362 5.16089 12.9891 4.21113 12.6015C4.21832 12.5983 4.21596 12.5994 4.22344 12.5962C6.42648 11.6484 10.7247 9.79696 14.5488 8.15244C16.4609 7.33018 18.255 6.55992 19.6078 5.97978C20.9398 5.40858 21.8653 5.01546 21.9703 4.97256Z' fill='%2300574F'/%3E%3C/svg%3E%0A")
      &:hover::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1391 3.0917C21.8465 3.10461 21.5739 3.18982 21.334 3.28682C21.1092 3.37723 20.2504 3.74558 18.8977 4.32568C17.5437 4.90629 15.751 5.67596 13.8387 6.49834C10.014 8.14309 5.71398 9.99451 3.51152 10.9421C3.4287 10.9777 3.13972 11.07 2.83301 11.3095C2.52629 11.5489 2.2002 12.0451 2.2002 12.5979C2.2002 13.0438 2.41266 13.4866 2.68008 13.7511C2.9475 14.0155 3.23047 14.1461 3.47285 14.245C4.3523 14.6039 7.07986 15.72 7.59492 15.9308C7.77619 16.486 8.76344 19.506 8.99238 20.2462C9.14331 20.7346 9.28697 21.0405 9.47402 21.2833C9.56755 21.4047 9.67626 21.5111 9.80801 21.5944C9.86067 21.6278 9.91841 21.6534 9.97676 21.6771L9.98027 21.6788C9.99372 21.6842 10.0053 21.6934 10.0189 21.6981C10.0447 21.7071 10.0619 21.7082 10.0963 21.7157C10.2334 21.76 10.3718 21.7878 10.4953 21.7878C11.022 21.7878 11.3443 21.4978 11.3443 21.4978L11.3637 21.4837L14.0725 19.1405L17.3578 22.2483C17.4041 22.3137 17.8355 22.9058 18.7869 22.9058C19.3518 22.9058 19.8 22.6223 20.0877 22.3204C20.3754 22.0185 20.5547 21.7014 20.6309 21.3026V21.3009C20.7021 20.9241 23.7299 5.38037 23.7299 5.38037L23.7246 5.40146C23.8132 4.9969 23.8365 4.62014 23.7387 4.24834C23.6409 3.87654 23.3832 3.52056 23.0637 3.329C22.7442 3.13749 22.4316 3.07879 22.1391 3.0917ZM21.9703 4.97256C21.966 4.99882 21.9735 4.98562 21.9668 5.0165L21.965 5.02705L21.9633 5.0376C21.9633 5.0376 18.973 20.3825 18.8625 20.9669C18.8706 20.9228 18.8336 21.0105 18.7957 21.0636C18.7421 21.0266 18.6322 20.9792 18.6322 20.9792L18.6146 20.9599L14.127 16.7147L10.9541 19.4569L11.898 15.6776C11.898 15.6776 17.7986 9.56966 18.1541 9.21416C18.4403 8.92976 18.5004 8.83062 18.5004 8.73252C18.5004 8.60112 18.4319 8.50576 18.2789 8.50576C18.1412 8.50576 17.956 8.63964 17.857 8.70264C16.5672 9.52483 10.9048 12.825 8.3666 14.3013C7.96323 14.1362 5.16089 12.9891 4.21113 12.6015C4.21832 12.5983 4.21596 12.5994 4.22344 12.5962C6.42648 11.6484 10.7247 9.79696 14.5488 8.15244C16.4609 7.33018 18.255 6.55992 19.6078 5.97978C20.9398 5.40858 21.8653 5.01546 21.9703 4.97256Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
    li.skype a
      &::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12435 2.16669C4.83318 2.16669 2.16602 4.83385 2.16602 8.12502C2.16602 9.4586 2.60888 10.6842 3.3488 11.6776C3.2903 12.1109 3.24935 12.5504 3.24935 13C3.24935 18.3853 7.6141 22.75 12.9993 22.75C13.4489 22.75 13.8884 22.7091 14.3218 22.6506C15.3152 23.3905 16.5408 23.8334 17.8743 23.8334C21.1655 23.8334 23.8327 21.1662 23.8327 17.875C23.8327 16.5414 23.3898 15.3159 22.6499 14.3224C22.7084 13.8891 22.7493 13.4496 22.7493 13C22.7493 7.61477 18.3846 3.25002 12.9993 3.25002C12.5498 3.25002 12.1103 3.29097 11.6769 3.34947C10.6835 2.60955 9.45793 2.16669 8.12435 2.16669ZM8.12435 4.33335C8.9401 4.33335 9.7222 4.59369 10.3841 5.08661L11.0908 5.61558L11.9668 5.49709C12.372 5.44184 12.7003 5.41669 12.9993 5.41669C17.181 5.41669 20.5827 8.81835 20.5827 13C20.5827 13.299 20.5575 13.6263 20.5023 14.0326L20.3838 14.9085L20.9128 15.6153C21.4057 16.2772 21.666 17.0593 21.666 17.875C21.666 19.9659 19.9652 21.6667 17.8743 21.6667C17.0586 21.6667 16.2765 21.4063 15.6146 20.9134L14.9079 20.3845L14.0319 20.5029C13.6257 20.5571 13.2983 20.5834 12.9993 20.5834C8.81768 20.5834 5.41602 17.1817 5.41602 13C5.41602 12.701 5.44117 12.3737 5.49642 11.9675L5.61491 11.0915L5.08594 10.3848C4.59302 9.72287 4.33268 8.94077 4.33268 8.12502C4.33268 6.03419 6.03352 4.33335 8.12435 4.33335ZM12.8364 7.58335C8.76309 7.58335 8.46289 9.97633 8.46289 10.5668C8.46289 11.7411 9.13628 12.6532 10.2868 13.0952C11.5099 13.5654 12.9944 13.8473 13.8372 14.077C15.1557 14.4378 14.9883 15.1642 14.9883 15.2704C14.9883 16.3862 13.46 16.6736 12.8089 16.6118C12.0723 16.5425 11.3259 16.753 10.5492 15.154C10.4105 14.868 10.1556 14.242 9.38965 14.242C9.05815 14.242 8.23014 14.4943 8.23014 15.2852C8.23014 16.8365 9.96224 18.4167 12.9761 18.4167C14.5512 18.4167 17.4892 17.8714 17.4914 15.0461C17.4914 12.5858 15.0099 12.1541 13.1855 11.6839C12.6861 11.555 10.8242 11.3492 10.8242 10.3742C10.8242 10.085 11.2291 9.39032 12.6883 9.39032C14.1909 9.39032 14.5181 10.0938 14.7174 10.4588C14.8843 10.7481 15.0214 10.9715 15.1893 11.0788C15.8555 11.5045 16.4633 11.1782 16.6789 10.954C16.8945 10.7297 17.0026 10.4824 17.0026 10.2007C17.0026 8.97545 15.5534 7.58335 12.8364 7.58335Z' fill='%2300574F'/%3E%3C/svg%3E")
      &:hover::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12435 2.16669C4.83318 2.16669 2.16602 4.83385 2.16602 8.12502C2.16602 9.4586 2.60888 10.6842 3.3488 11.6776C3.2903 12.1109 3.24935 12.5504 3.24935 13C3.24935 18.3853 7.6141 22.75 12.9993 22.75C13.4489 22.75 13.8884 22.7091 14.3218 22.6506C15.3152 23.3905 16.5408 23.8334 17.8743 23.8334C21.1655 23.8334 23.8327 21.1662 23.8327 17.875C23.8327 16.5414 23.3898 15.3159 22.6499 14.3224C22.7084 13.8891 22.7493 13.4496 22.7493 13C22.7493 7.61477 18.3846 3.25002 12.9993 3.25002C12.5498 3.25002 12.1103 3.29097 11.6769 3.34947C10.6835 2.60955 9.45793 2.16669 8.12435 2.16669ZM8.12435 4.33335C8.9401 4.33335 9.7222 4.59369 10.3841 5.08661L11.0908 5.61558L11.9668 5.49709C12.372 5.44184 12.7003 5.41669 12.9993 5.41669C17.181 5.41669 20.5827 8.81835 20.5827 13C20.5827 13.299 20.5575 13.6263 20.5023 14.0326L20.3838 14.9085L20.9128 15.6153C21.4057 16.2772 21.666 17.0593 21.666 17.875C21.666 19.9659 19.9652 21.6667 17.8743 21.6667C17.0586 21.6667 16.2765 21.4063 15.6146 20.9134L14.9079 20.3845L14.0319 20.5029C13.6257 20.5571 13.2983 20.5834 12.9993 20.5834C8.81768 20.5834 5.41602 17.1817 5.41602 13C5.41602 12.701 5.44117 12.3737 5.49642 11.9675L5.61491 11.0915L5.08594 10.3848C4.59302 9.72287 4.33268 8.94077 4.33268 8.12502C4.33268 6.03419 6.03352 4.33335 8.12435 4.33335ZM12.8364 7.58335C8.76309 7.58335 8.46289 9.97633 8.46289 10.5668C8.46289 11.7411 9.13628 12.6532 10.2868 13.0952C11.5099 13.5654 12.9944 13.8473 13.8372 14.077C15.1557 14.4378 14.9883 15.1642 14.9883 15.2704C14.9883 16.3862 13.46 16.6736 12.8089 16.6118C12.0723 16.5425 11.3259 16.753 10.5492 15.154C10.4105 14.868 10.1556 14.242 9.38965 14.242C9.05815 14.242 8.23014 14.4943 8.23014 15.2852C8.23014 16.8365 9.96224 18.4167 12.9761 18.4167C14.5512 18.4167 17.4892 17.8714 17.4914 15.0461C17.4914 12.5858 15.0099 12.1541 13.1855 11.6839C12.6861 11.555 10.8242 11.3492 10.8242 10.3742C10.8242 10.085 11.2291 9.39032 12.6883 9.39032C14.1909 9.39032 14.5181 10.0938 14.7174 10.4588C14.8843 10.7481 15.0214 10.9715 15.1893 11.0788C15.8555 11.5045 16.4633 11.1782 16.6789 10.954C16.8945 10.7297 17.0026 10.4824 17.0026 10.2007C17.0026 8.97545 15.5534 7.58335 12.8364 7.58335Z' fill='%23FFFFFF'/%3E%3C/svg%3E")

  &-info
    height: 100vh
    position: relative
    .container
      @include flexbox
      height: 100%
    &__left
      width: 50%
      padding: 90px 90px 90px 0
    &__right
      border-left: 1px solid var(--color-border)
      padding-left: 90px
      position: relative
      width: 50%
      height: 100%
      overflow-y: auto
      &::-webkit-scrollbar
        width: 2px
        background: #D9D9D9
      &::-webkit-scrollbar-thumb
        background: var(--color-brown)
        border-top: 90px solid transparent
        border-bottom: 90px solid transparent
        background-clip: padding-box
        border-radius: 0
      &::-webkit-scrollbar-track
        border-top: 90px solid var(--color-bg)
        border-bottom: 90px solid var(--color-bg)
      &::before
        content: ''
        display: block
        position: sticky
        z-index: 50
        top: 0
        left: 0
        right: 0
        width: 100%
        height: 90px
        background: linear-gradient(180deg, #FBFAF9 0%, rgba(255, 255, 255, 0.00) 100%, rgba(245, 242, 239, 0.00) 100%)
      &::after
        content: ''
        display: block
        position: sticky
        z-index: 50
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 90px
        background: linear-gradient(0deg, #FBFAF9 0%, rgba(255, 255, 255, 0.00) 100%, rgba(245, 242, 239, 0.00) 100%)
    &__label
      margin-bottom: 32px
      &:last-child
        margin-bottom: 0
      i
        font-style: normal
        font-size: 16px
        font-weight: 500
        color: var(--color-dark)
        display: block
        margin-bottom: 8px
      p
        font-size: 22px
        line-height: 1.2
        font-weight: 500
    &__base
      display: none
      &.active
        display: block
      .title-xl
        margin-bottom: 20px
      & > p
        max-width: 525px
        color: var(--color-dark)
        margin-bottom: 32px
      .btn
        p::after
          display: none
        span
          opacity: 0.5
          color: var(--color-green)
          transition: .25s
        &:hover span
          color: #fff
    &__data
      display: none
      &.active
        display: block
    &__tabs
      @include flexbox
      align-items: flex-start
      gap: 12px
      margin-bottom: 50px
      p
        font-size: 14px
        text-transform: uppercase
        width: 100%
        font-weight: 500
        line-height: 16px
        letter-spacing: 0.05em
      li
        padding: 12px 28px
        border-radius: 99px
        border: 1px solid var(--color-border)
        color: var(--color-dark)
        line-height: 24px
        cursor: pointer
        font-weight: 500
        transition: .25s
        &.active
          color: #fff
          background: var(--color-black)
          border-color: var(--color-black)
