.dropdown
  position: absolute
  top: 101px
  left: 0
  right: 0
  background: #fff
  z-index: 200
  border-top: 1px solid var(--color-border)
  border-bottom: 1px solid var(--color-border)
  pointer-events: none
  opacity: 0
  transition: opacity .25s
  &.show
    pointer-events: auto
    opacity: 1
  .container-fluid
    @include flexbox
  &-left
    width: 500px
  &-right
    width: calc(100% - 500px)
    border-left: 1px solid var(--color-border)
  &-nav
    font-weight: 500
    display: none
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
    gap: 15px
    padding: 30px 30px 30px 0
    line-height: 1.4
    li
      a
        transition: .25s
        &:hover
          color: var(--color-brown)
      &.hover
        @include flexbox
        align-items: center
        gap: 10px
        &::after
          content: ''
          display: block
          width: 7px
          height: 10px
          background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -0.00552464L2.06354 5.38016L0 11L7.5663 5.38016L0 -0.00552464Z' fill='%23002E25'/%3E%3C/svg%3E%0A") no-repeat center / cover
          transition: .25s
        &:hover::after
          background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -0.00552464L2.06354 5.38016L0 11L7.5663 5.38016L0 -0.00552464Z' fill='%23CD7F74'/%3E%3C/svg%3E%0A") no-repeat center / cover
      &.open
        color: var(--color-brown)
        &::after
          background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -0.00552464L2.06354 5.38016L0 11L7.5663 5.38016L0 -0.00552464Z' fill='%23CD7F74'/%3E%3C/svg%3E%0A") no-repeat center / cover
    &.show
      display: flex
  &-sub
    display: none
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
    gap: 15px
    padding: 30px 0 30px 30px
    line-height: 1.4
    li
      a
        transition: .25s
        &:hover
          color: var(--color-brown)
    &.show
      display: flex
  &-bg
    position: absolute
    top: 101px
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,0.15)
    z-index: 199
    transition: .25s
    opacity: 0
    pointer-events: none
    &.show
      opacity: 1
      pointer-events: auto
