.footer
  background: #fff
  .container
    @include flexbox
  &-sidebar
    width: var(--width-sidebar)
    padding-top: 110px
    padding-right: 90px
    padding-bottom: 80px
    @include flexbox
    flex-direction: column
    align-items: flex-start
  &-main
    width: var(--width-main)
    border-left: 1px solid var(--color-border)
    padding-top: 100px
    padding-left: 120px
    padding-bottom: 80px
    @include flexbox
    align-items: flex-start
  &-nav
    font-family: 'Wulkan Display'
    font-size: 54px
    line-height: 1.2
    font-weight: 500
    li
      margin: 20px 0
      display: block
      a
        transition: .25s
        &:hover
          opacity: 1
    &:hover a
      opacity: 0.5
  &-subnav
    margin-left: auto
    width: 270px
    margin-right: 60px
    line-height: 1
    letter-spacing: -0.02em
    margin-top: 2px
    li
      margin: 20px 0
      display: block
      a
        transition: .25s
        --hover-color: var(--color-brown)
        &:hover
          color: var(--color-brown)
  &-contact
    @include flexbox
    align-items: flex-start
    justify-content: space-between
    width: 100%
    margin-top: 80px
    &__item
      p
        font-size: 16px
        line-height: 1.6
        letter-spacing: -0.02em
        @include flexbox
        align-items: center
        justify-content: space-between
        span
          font-size: 14px
          font-weight: 500
          margin-left: auto
      b
        display: block
        width: 100%
        margin-top: 12px
      &:nth-child(3)
        width: 330px
      &.ad
        display: none
  &-logo
    img
      height: 85px
  &-desc
    max-width: 400px
    margin-top: 90px
    font-size: 16px
    line-height: 1.6
    letter-spacing: -0.02em
    b
      font-weight: 600
  &-bottom
    @include flexbox
    align-items: center
    border-top: 1px solid var(--color-border)
    padding: 20px 0
    font-size: 14px
    line-height: 1.6
    font-weight: 500
  &-copy,
  &-links
    color: var(--color-dark)
  &-copy
    width: 770px
  &-links
    @include flexbox
    align-items: center
    gap: 24px
    margin-left: auto
    span
      color: #00574F
  &-social
    @include flexbox
    align-items: flex-start
    gap: 20px
    font-size: 16px
    line-height: 1
    margin-top: 110px
    a
      @include flexbox
      align-items: center
      gap: 12px
      &::before
        content: ''
        display: block
        width: 52px
        height: 52px
        border-radius: 100%
        border: 1px solid var(--color-border)
        background-repeat: no-repeat
        background-position: center
        transition: .25s
      &:hover::before
        background-color: var(--color-green)
    li.wa a
      &::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0132 1.75C6.81893 1.75 1.77642 6.78817 1.77417 12.9824C1.77304 14.9624 2.29165 16.8954 3.2749 18.5986L1.75 24.25L7.63647 22.8591C9.27785 23.7546 11.1256 24.2247 13.0066 24.2258H13.011C19.2041 24.2258 24.2444 19.1865 24.2478 12.9934C24.2501 9.99078 23.0824 7.1677 20.9607 5.0437C18.8389 2.92083 16.0192 1.75113 13.0132 1.75ZM13.011 4C15.414 4.00113 17.6722 4.93802 19.3699 6.63452C21.0675 8.33327 22.0001 10.5905 21.9978 12.9912C21.9956 17.9457 17.9655 21.9758 13.0088 21.9758C11.5092 21.9747 10.0237 21.5982 8.71533 20.8838L7.95728 20.4707L7.12012 20.6685L4.90527 21.1914L5.4458 19.1831L5.6897 18.2822L5.22388 17.4736C4.43863 16.1146 4.02304 14.5608 4.02417 12.9824C4.02642 8.03017 8.05761 4 13.011 4ZM9.03613 7.79688C8.84826 7.79688 8.54449 7.86719 8.28687 8.14844C8.02924 8.42856 7.30249 9.10703 7.30249 10.4885C7.30249 11.87 8.30884 13.2054 8.44946 13.3933C8.58896 13.5801 10.392 16.5046 13.2461 17.6296C15.6176 18.5645 16.0993 18.38 16.6145 18.3328C17.1298 18.2866 18.2767 17.6549 18.5107 16.999C18.7447 16.3432 18.7453 15.779 18.6755 15.6631C18.6058 15.5461 18.4185 15.4763 18.1372 15.3357C17.8571 15.1951 16.4766 14.5172 16.219 14.4238C15.9614 14.3305 15.7729 14.2832 15.5862 14.5645C15.3994 14.8457 14.8627 15.4763 14.6985 15.6631C14.5342 15.851 14.3711 15.8762 14.0898 15.7356C13.8086 15.5938 12.9043 15.2966 11.8311 14.3403C10.9963 13.5967 10.433 12.6792 10.2688 12.398C10.1057 12.1178 10.2534 11.964 10.394 11.8245C10.52 11.6985 10.6731 11.4965 10.8137 11.3323C10.9532 11.168 11.0016 11.051 11.095 10.8643C11.1883 10.6775 11.1406 10.5127 11.0708 10.3721C11.0011 10.2314 10.4548 8.84481 10.2051 8.28906C9.9947 7.82219 9.77252 7.81134 9.57227 7.80347C9.40914 7.79672 9.22288 7.79688 9.03613 7.79688Z' fill='%2300574F'/%3E%3C/svg%3E%0A")
      &:hover::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0132 1.75C6.81893 1.75 1.77642 6.78817 1.77417 12.9824C1.77304 14.9624 2.29165 16.8954 3.2749 18.5986L1.75 24.25L7.63647 22.8591C9.27785 23.7546 11.1256 24.2247 13.0066 24.2258H13.011C19.2041 24.2258 24.2444 19.1865 24.2478 12.9934C24.2501 9.99078 23.0824 7.1677 20.9607 5.0437C18.8389 2.92083 16.0192 1.75113 13.0132 1.75ZM13.011 4C15.414 4.00113 17.6722 4.93802 19.3699 6.63452C21.0675 8.33327 22.0001 10.5905 21.9978 12.9912C21.9956 17.9457 17.9655 21.9758 13.0088 21.9758C11.5092 21.9747 10.0237 21.5982 8.71533 20.8838L7.95728 20.4707L7.12012 20.6685L4.90527 21.1914L5.4458 19.1831L5.6897 18.2822L5.22388 17.4736C4.43863 16.1146 4.02304 14.5608 4.02417 12.9824C4.02642 8.03017 8.05761 4 13.011 4ZM9.03613 7.79688C8.84826 7.79688 8.54449 7.86719 8.28687 8.14844C8.02924 8.42856 7.30249 9.10703 7.30249 10.4885C7.30249 11.87 8.30884 13.2054 8.44946 13.3933C8.58896 13.5801 10.392 16.5046 13.2461 17.6296C15.6176 18.5645 16.0993 18.38 16.6145 18.3328C17.1298 18.2866 18.2767 17.6549 18.5107 16.999C18.7447 16.3432 18.7453 15.779 18.6755 15.6631C18.6058 15.5461 18.4185 15.4763 18.1372 15.3357C17.8571 15.1951 16.4766 14.5172 16.219 14.4238C15.9614 14.3305 15.7729 14.2832 15.5862 14.5645C15.3994 14.8457 14.8627 15.4763 14.6985 15.6631C14.5342 15.851 14.3711 15.8762 14.0898 15.7356C13.8086 15.5938 12.9043 15.2966 11.8311 14.3403C10.9963 13.5967 10.433 12.6792 10.2688 12.398C10.1057 12.1178 10.2534 11.964 10.394 11.8245C10.52 11.6985 10.6731 11.4965 10.8137 11.3323C10.9532 11.168 11.0016 11.051 11.095 10.8643C11.1883 10.6775 11.1406 10.5127 11.0708 10.3721C11.0011 10.2314 10.4548 8.84481 10.2051 8.28906C9.9947 7.82219 9.77252 7.81134 9.57227 7.80347C9.40914 7.79672 9.22288 7.79688 9.03613 7.79688Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
    li.tg a
      &::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1391 3.0917C21.8465 3.10461 21.5739 3.18982 21.334 3.28682C21.1092 3.37723 20.2504 3.74558 18.8977 4.32568C17.5437 4.90629 15.751 5.67596 13.8387 6.49834C10.014 8.14309 5.71398 9.99451 3.51152 10.9421C3.4287 10.9777 3.13972 11.07 2.83301 11.3095C2.52629 11.5489 2.2002 12.0451 2.2002 12.5979C2.2002 13.0438 2.41266 13.4866 2.68008 13.7511C2.9475 14.0155 3.23047 14.1461 3.47285 14.245C4.3523 14.6039 7.07986 15.72 7.59492 15.9308C7.77619 16.486 8.76344 19.506 8.99238 20.2462C9.14331 20.7346 9.28697 21.0405 9.47402 21.2833C9.56755 21.4047 9.67626 21.5111 9.80801 21.5944C9.86067 21.6278 9.91841 21.6534 9.97676 21.6771L9.98027 21.6788C9.99372 21.6842 10.0053 21.6934 10.0189 21.6981C10.0447 21.7071 10.0619 21.7082 10.0963 21.7157C10.2334 21.76 10.3718 21.7878 10.4953 21.7878C11.022 21.7878 11.3443 21.4978 11.3443 21.4978L11.3637 21.4837L14.0725 19.1405L17.3578 22.2483C17.4041 22.3137 17.8355 22.9058 18.7869 22.9058C19.3518 22.9058 19.8 22.6223 20.0877 22.3204C20.3754 22.0185 20.5547 21.7014 20.6309 21.3026V21.3009C20.7021 20.9241 23.7299 5.38037 23.7299 5.38037L23.7246 5.40146C23.8132 4.9969 23.8365 4.62014 23.7387 4.24834C23.6409 3.87654 23.3832 3.52056 23.0637 3.329C22.7442 3.13749 22.4316 3.07879 22.1391 3.0917ZM21.9703 4.97256C21.966 4.99882 21.9735 4.98562 21.9668 5.0165L21.965 5.02705L21.9633 5.0376C21.9633 5.0376 18.973 20.3825 18.8625 20.9669C18.8706 20.9228 18.8336 21.0105 18.7957 21.0636C18.7421 21.0266 18.6322 20.9792 18.6322 20.9792L18.6146 20.9599L14.127 16.7147L10.9541 19.4569L11.898 15.6776C11.898 15.6776 17.7986 9.56966 18.1541 9.21416C18.4403 8.92976 18.5004 8.83062 18.5004 8.73252C18.5004 8.60112 18.4319 8.50576 18.2789 8.50576C18.1412 8.50576 17.956 8.63964 17.857 8.70264C16.5672 9.52483 10.9048 12.825 8.3666 14.3013C7.96323 14.1362 5.16089 12.9891 4.21113 12.6015C4.21832 12.5983 4.21596 12.5994 4.22344 12.5962C6.42648 11.6484 10.7247 9.79696 14.5488 8.15244C16.4609 7.33018 18.255 6.55992 19.6078 5.97978C20.9398 5.40858 21.8653 5.01546 21.9703 4.97256Z' fill='%2300574F'/%3E%3C/svg%3E%0A")
      &:hover::before
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1391 3.0917C21.8465 3.10461 21.5739 3.18982 21.334 3.28682C21.1092 3.37723 20.2504 3.74558 18.8977 4.32568C17.5437 4.90629 15.751 5.67596 13.8387 6.49834C10.014 8.14309 5.71398 9.99451 3.51152 10.9421C3.4287 10.9777 3.13972 11.07 2.83301 11.3095C2.52629 11.5489 2.2002 12.0451 2.2002 12.5979C2.2002 13.0438 2.41266 13.4866 2.68008 13.7511C2.9475 14.0155 3.23047 14.1461 3.47285 14.245C4.3523 14.6039 7.07986 15.72 7.59492 15.9308C7.77619 16.486 8.76344 19.506 8.99238 20.2462C9.14331 20.7346 9.28697 21.0405 9.47402 21.2833C9.56755 21.4047 9.67626 21.5111 9.80801 21.5944C9.86067 21.6278 9.91841 21.6534 9.97676 21.6771L9.98027 21.6788C9.99372 21.6842 10.0053 21.6934 10.0189 21.6981C10.0447 21.7071 10.0619 21.7082 10.0963 21.7157C10.2334 21.76 10.3718 21.7878 10.4953 21.7878C11.022 21.7878 11.3443 21.4978 11.3443 21.4978L11.3637 21.4837L14.0725 19.1405L17.3578 22.2483C17.4041 22.3137 17.8355 22.9058 18.7869 22.9058C19.3518 22.9058 19.8 22.6223 20.0877 22.3204C20.3754 22.0185 20.5547 21.7014 20.6309 21.3026V21.3009C20.7021 20.9241 23.7299 5.38037 23.7299 5.38037L23.7246 5.40146C23.8132 4.9969 23.8365 4.62014 23.7387 4.24834C23.6409 3.87654 23.3832 3.52056 23.0637 3.329C22.7442 3.13749 22.4316 3.07879 22.1391 3.0917ZM21.9703 4.97256C21.966 4.99882 21.9735 4.98562 21.9668 5.0165L21.965 5.02705L21.9633 5.0376C21.9633 5.0376 18.973 20.3825 18.8625 20.9669C18.8706 20.9228 18.8336 21.0105 18.7957 21.0636C18.7421 21.0266 18.6322 20.9792 18.6322 20.9792L18.6146 20.9599L14.127 16.7147L10.9541 19.4569L11.898 15.6776C11.898 15.6776 17.7986 9.56966 18.1541 9.21416C18.4403 8.92976 18.5004 8.83062 18.5004 8.73252C18.5004 8.60112 18.4319 8.50576 18.2789 8.50576C18.1412 8.50576 17.956 8.63964 17.857 8.70264C16.5672 9.52483 10.9048 12.825 8.3666 14.3013C7.96323 14.1362 5.16089 12.9891 4.21113 12.6015C4.21832 12.5983 4.21596 12.5994 4.22344 12.5962C6.42648 11.6484 10.7247 9.79696 14.5488 8.15244C16.4609 7.33018 18.255 6.55992 19.6078 5.97978C20.9398 5.40858 21.8653 5.01546 21.9703 4.97256Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
  &-address
    margin-top: auto
