.header
  height: 101px
  background: #fff
  @include flexbox
  align-items: center
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 1000
  border-bottom: 1px solid transparent
  .container-fluid
    @include flexbox
    align-items: center
    z-index: initial
  &.fixed
    position: fixed
    .header-logo
      background: url(../img/svg/logo.svg) no-repeat center
  &-col
    flex: 1
    @include flexbox
    align-items: center
  &-logo
    display: block
    width: 172px
    height: 42px
    background: url(../img/svg/logo.svg) no-repeat center
    position: relative
    z-index: 20
    transition: .25s
  &-contact
    @include flexbox
    flex-direction: column
    align-items: flex-start
    gap: 2px
    margin-left: 36px
    a
      font-size: 20px
      font-weight: 600
    p
      font-size: 14px
      font-weight: 500
  &-nav
    @include flexbox
    align-items: center
    li
      a
        @include flexbox
        align-items: center
        justify-content: center
        width: 128px
        height: 45px
        font-weight: 500
      &.active a
        font-weight: 700
  &-burger
    width: 64px
    @include flexbox
    align-items: center
    justify-content: center
    position: relative
    z-index: 20
    a
      width: 54px !important
      height: 54px !important
      border-radius: 100%
      border: 1px dashed rgba(15, 15, 17, 0.30)
      gap: 5px
      flex-direction: column
      background: #fff
      transition: .25s
      position: relative
      span
        width: 18px
        height: 2px
        background: var(--color-black)
        transition: .25s
      &::before
        content: ''
        position: absolute
        top: 4px
        left: 4px
        right: 4px
        bottom: 4px
        border-radius: 100%
        border: 1px dashed #fff
        opacity: 0
      &:hover
        background: var(--color-brown)
        transform: rotate(90deg)
        border-color: transparent
        transition: .25s
        span
          background: #fff
        &::before
          opacity: 1
    &.open a
      gap: 0px
      span
        margin: -1px 0
        &:nth-child(1)
          transform: rotate(45deg)
        &:nth-child(2)
          transform: rotate(-45deg)
  &-social
    @include flexbox
    align-items: center
    gap: 12px
    margin-left: auto
    li
      a
        display: block
        width: 52px
        height: 52px
        border-radius: 100%
        border: 1px solid var(--color-border)
        background-repeat: no-repeat
        background-position: center
        &.wa
          background-image: url(../img/svg/wa.svg)
        &.tg
          background-image: url(../img/svg/tg.svg)
  .btn-outline
    margin-left: 16px
  &-white
    background: transparent
    color: #fff
    border-color: rgba(255,255,255,.1)
    .header-logo
      background: url(../img/svg/logo-white.svg) no-repeat center
    .header-social
      li
        a
          border: 1px solid rgba(255,255,255,.1)
          &.wa
            background-image: url(../img/svg/wa-white.svg)
          &.tg
            background-image: url(../img/svg/tg-white.svg)
    .btn-outline
      border: 1px dashed #fff
      color: #fff
      p
        &::after
          background: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.36328 0.891113L4.61328 6.76345L2.36328 12.8911L10.6133 6.76345L2.36328 0.891113Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A") no-repeat center
        &::before
          border: 1px solid #fff
      &:hover
        background: #fff
        color: var(--color-green)
        p
          &::after
            background: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.36328 0.891113L4.61328 6.76345L2.36328 12.8911L10.6133 6.76345L2.36328 0.891113Z' fill='%2300574F'/%3E%3C/svg%3E%0A") no-repeat center
          &::before
            border: 1px dashed var(--color-green)
  &-clear
    background: transparent
