.hero
  padding: 195px 0
  background: url(../img/hero-bg.jpg) no-repeat top center / cover
  overflow: hidden
  h3
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    color: var(--color-brown)
    letter-spacing: 0.05em
    margin-bottom: 36px
  h1
    font-size: 90px
    line-height: 1
    max-width: 990px
    margin-bottom: 20px
    font-family: 'Wulkan Display'
    font-weight: 500
  h2
    font-weight: 400
    font-size: 20px
    letter-spacing: -0.02em
    color: var(--color-dark)
    margin-bottom: 36px
  &-photos
    position: absolute
    top: -195px
    left: 1110px
    z-index: -1
