.popup
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  &-bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #000
    opacity: 0
    transition: .3s ease
  &-wrapper
    position: absolute
    top: 0
    right: 0
    bottom: 0
    overscroll-behavior-y: contain
    overflow-y: auto
    z-index: 100
    padding: 80px 80px 20px
    background: #fbfaf9
    max-width: calc(100% - 90px)
    margin-left: auto
    transform: translateX(100%)
    transition: .3s ease
    @include flexbox
  &.open
    pointer-events: auto
    .popup-bg
      opacity: .2
    .popup-wrapper
      transform: translateX(0%)
  &-close
    position: absolute
    width: 56px
    height: 56px
    top: 40px
    right: 40px
    border-radius: 100%
    background: #fff
    border: 1px dashed rgba(15, 15, 17, 0.30)
    cursor: pointer
    @include flexbox
    align-items: center
    flex-direction: column
    justify-content: center
    transition: .25s
    &::before, &::after
      content: ''
      display: block
      width: 18px
      height: 2px
      background: var(--color-black)
      transition: .25s
      margin: -1px 0
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)
    &:hover
      background: var(--color-brown)
      border-color: #fff
      transform: rotate(180deg)
      &::before, &::after
        background: #fff
  &-call
    max-width: 460px
    width: 100%
    @include flexbox
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    &__subtitle
      margin-top: 16px
      line-height: 1.2
      letter-spacing: -0.02em
      color: var(--color-gray)
      b
        font-weight: 500
    form
      width: 100%
      @include flexbox
      flex-direction: column
      align-items: flex-start
      gap: 24px
      .label
        width: 100%
      .btn, .btn p
        width: 100%
      .btn p
        justify-content: center
      .btn
        margin: 24px 0 0
      small
        font-size: 14px
        text-align: center
        line-height: 1.6
        color: var(--color-dark)
        display: block
        width: 100%
        a
          color: var(--color-black)
          font-weight: 600
  &-footer
    text-align: center
    font-size: 12px
    font-weight: 500
    line-height: 1.5
    color: var(--color-dark)
    width: 100%

  &-reviews
    max-width: 600px
    width: 100%
    @include flexbox
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    &__text
      line-height: 1.6
      color: var(--color-dark)
      margin-top: 24px
      margin-bottom: 40px
    &__specialists
      margin-top: auto
      margin-bottom: 50px
      p
        text-transform: uppercase
        font-size: 14px
        font-weight: 500
        line-height: 1.6
        margin-bottom: 16px
        letter-spacing: 0.05em
        color: var(--color-dark)
      ul
        display: block
        line-height: 1.6
        font-weight: 500
        li
          display: inline
          &::after
            content: '•'
            padding: 0 8px
          &:last-child::after
            display: none
          a
            border-bottom: 1px solid transparent
            transition: .25s
            &:hover
              color: var(--color-green)
              border-color: var(--color-green)
    &__info
      display: block
      margin-bottom: 24px
      line-height: 1.6
      font-size: 16px
      font-weight: 500
      color: var(--color-dark)
      li
        display: inline
        &::after
          content: '•'
          padding: 0 8px
        &:last-child::after
          display: none
    .popup-footer
      text-align: left
    &__form
      width: 100%
      @include flexbox
      align-items: flex-start
      gap: 24px
      margin-bottom: 24px
      .btn, .btn p
        width: 100%
      .btn p
        justify-content: center
      small
        font-size: 14px
        text-align: center
        line-height: 1.6
        color: var(--color-dark)
        display: block
        width: 100%
        a
          color: var(--color-black)
          font-weight: 600
    &__label
      display: block
      width: 100%
      padding-top: 14px
      position: relative
      span
        position: absolute
        bottom: 11px
        right: 0
        font-size: 14px
        color: #000
        opacity: 0.3
      p
        width: 100%
        font-size: 14px
        font-weight: 500
        line-height: 1.6
        color: var(--color-dark)
        text-transform: uppercase
      input
        width: 100%
        height: 44px
        border-bottom: 1px solid var(--color-border)
        padding: 0
        transition: .25s
        @include placeholder
          color: #b0afaf
        &:focus, &:active
          border-color: var(--color-black)
      textarea
        width: 100%
        height: 300px
        border-bottom: 1px solid var(--color-border)
        padding: 8px 0 0
        transition: .25s
        resize: none
        @include placeholder
          color: #b0afaf
        &:focus, &:active
          border-color: var(--color-black)
      &-col
        width: calc(100% / 2 - 12px)
      .ts-control
        padding: 0 !important
        border: 0
        border-radius: 0
        background: transparent
        input
          font-size: 18px !important
          border-bottom: 1px solid rgba(15, 15, 17, 0.10) !important
          margin: 0 !important
          &:focus, &:active
            border-color: #002E25 !important
      .ts-wrapper.multi.has-items .ts-control
        padding-top: 8px !important
      .ts-wrapper.multi .ts-control>div
        background: #F1F3F2
        padding: 8px 12px
        margin: 0 5px 5px 0
        font-size: 15px
        border-radius: 99px
        border: 1px solid var(--color-border)
        color: var(--color-black)
      .ts-dropdown [data-selectable].option
        padding: 12px
        font-size: 18px
        line-height: 1.4
        color: var(--color-black)
        &.active
          background: #F7F5F3
          color: var(--color-black)
      .ts-dropdown
        border-radius: 4px
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05)
        border: 0
      .ts-wrapper.plugin-remove_button .item .remove
        border: 0
        border-radius: 100%
        margin-right: 8px
        background: #fff
