.popup
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  right: 0
  height: var(--app-height)
  pointer-events: none
  &-bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #000
    opacity: 0
    transition: .3s ease
  &-wrapper
    position: absolute
    top: 0
    right: 0
    bottom: 0
    overscroll-behavior-y: contain
    overflow-y: auto
    z-index: 100
    padding: 80px 80px 20px
    background: #fbfaf9
    max-width: calc(100% - 90px)
    margin-left: auto
    transform: translateX(100%)
    transition: .3s ease
    @include flexbox
  &.open
    pointer-events: auto
    .popup-bg
      opacity: .3
    .popup-wrapper
      transform: translateX(0%)
  &-close
    position: absolute
    z-index: 30
    width: 56px
    height: 56px
    top: 40px
    right: 40px
    border-radius: 100%
    background: #fff
    border: 1px dashed rgba(15, 15, 17, 0.30)
    cursor: pointer
    @include flexbox
    align-items: center
    flex-direction: column
    justify-content: center
    transition: .25s
    &::before, &::after
      content: ''
      display: block
      width: 18px
      height: 2px
      background: var(--color-black)
      transition: .25s
      margin: -1px 0
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)
    &:hover
      background: var(--color-brown)
      border-color: #fff
      transform: rotate(180deg)
      &::before, &::after
        background: #fff
  &-call
    max-width: 460px
    width: 100%
    @include flexbox
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    &__subtitle
      margin-top: 16px
      line-height: 1.2
      letter-spacing: -0.02em
      color: var(--color-gray)
      b
        font-weight: 500
    form
      width: 100%
      @include flexbox
      flex-direction: column
      align-items: flex-start
      gap: 24px
      .label
        width: 100%
      .btn, .btn p
        width: 100%
      .btn p
        justify-content: center
      .btn
        margin: 24px 0 0
      small
        font-size: 14px
        text-align: center
        line-height: 1.6
        color: var(--color-dark)
        display: block
        width: 100%
        a
          color: var(--color-black)
          font-weight: 600
  &-footer
    text-align: center
    font-size: 12px
    font-weight: 500
    line-height: 1.5
    color: var(--color-dark)
    width: 100%

  &-reviews
    max-width: 600px
    width: 100%
    @include flexbox
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    &__text
      line-height: 1.6
      color: var(--color-dark)
      margin-top: 24px
      margin-bottom: 40px
    &__specialists
      margin-top: auto
      margin-bottom: 50px
      p
        text-transform: uppercase
        font-size: 14px
        font-weight: 500
        line-height: 1.6
        margin-bottom: 16px
        letter-spacing: 0.05em
        color: var(--color-dark)
      ul
        display: block
        line-height: 1.6
        font-weight: 500
        li
          display: inline
          &::after
            content: '•'
            padding: 0 8px
          &:last-child::after
            display: none
          a
            border-bottom: 1px solid transparent
            transition: .25s
            &:hover
              color: var(--color-green)
              border-color: var(--color-green)
    &__info
      display: block
      margin-bottom: 24px
      line-height: 1.6
      font-size: 16px
      font-weight: 500
      color: var(--color-dark)
      li
        display: inline
        &::after
          content: '•'
          padding: 0 8px
        &:last-child::after
          display: none
    .popup-footer
      text-align: left
    &__form
      width: 100%
      @include flexbox
      align-items: flex-start
      gap: 24px
      margin-bottom: 24px
      .btn, .btn p
        width: 100%
      .btn p
        justify-content: center
      small
        font-size: 14px
        text-align: center
        line-height: 1.6
        color: var(--color-dark)
        display: block
        width: 100%
        a
          color: var(--color-black)
          font-weight: 600
    &__label
      display: block
      width: 100%
      padding-top: 14px
      position: relative
      span
        position: absolute
        bottom: 11px
        right: 0
        font-size: 14px
        color: #000
        opacity: 0.3
      p
        width: 100%
        font-size: 14px
        font-weight: 500
        line-height: 1.6
        color: var(--color-dark)
        text-transform: uppercase
      input
        width: 100%
        height: 44px
        border-bottom: 1px solid var(--color-border)
        padding: 0
        transition: .25s
        @include placeholder
          color: #b0afaf
        &:focus, &:active
          border-color: var(--color-black)
      textarea
        width: 100%
        height: 300px
        border-bottom: 1px solid var(--color-border)
        padding: 8px 0 0
        transition: .25s
        resize: none
        @include placeholder
          color: #b0afaf
        &:focus, &:active
          border-color: var(--color-black)
      &-col
        width: calc(100% / 2 - 12px)
      .ts-control
        padding: 0 !important
        border: 0
        border-radius: 0
        background: transparent
        input
          font-size: 18px !important
          border-bottom: 1px solid rgba(15, 15, 17, 0.10) !important
          margin: 0 !important
          &:focus, &:active
            border-color: #002E25 !important
      .ts-wrapper.multi.has-items .ts-control
        padding-top: 8px !important
      .ts-wrapper.multi .ts-control>div
        background: #F1F3F2
        padding: 8px 12px
        margin: 0 5px 5px 0
        font-size: 15px
        border-radius: 99px
        border: 1px solid var(--color-border)
        color: var(--color-black)
      .ts-dropdown [data-selectable].option
        padding: 12px
        font-size: 18px
        line-height: 1.4
        color: var(--color-black)
        &.active
          background: #F7F5F3
          color: var(--color-black)
      .ts-dropdown
        border-radius: 4px
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05)
        border: 0
      .ts-wrapper.plugin-remove_button .item .remove
        border: 0
        border-radius: 100%
        margin-right: 8px
        background: #fff
  &[data-popup="social"]
    .popup-wrapper
      padding: 68px
  &-social
    @include flexbox
    width: 960px
    border-top: 1px solid var(--color-border)
    border-bottom: 1px solid var(--color-border)
    &__item
      width: 50%
      @include flexbox
      flex-direction: column
      align-items: center
      justify-content: space-between
      border-right: 1px solid var(--color-border)
      padding: 20px
      &:last-child
        border: 0
      span
        color: var(--color-dark)
        text-align: center
        line-height: 1.6
      img
        width: 370px
    .btn
      .wa
        width: 26px
        height: 26px
        display: block
        background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0127 2.16666C7.04782 2.16666 2.19207 7.01823 2.1899 12.9831C2.18882 14.8897 2.68822 16.7511 3.63505 18.3913L2.16663 23.8333L7.83508 22.494C9.41567 23.3563 11.195 23.809 13.0063 23.8101H13.0105C18.9743 23.8101 23.8279 18.9574 23.8312 12.9936C23.8333 10.1022 22.709 7.3837 20.6658 5.33837C18.6226 3.29412 15.9073 2.16774 13.0127 2.16666ZM13.0105 4.33332C15.3245 4.33441 17.4992 5.2366 19.1339 6.87027C20.7687 8.5061 21.6667 10.6797 21.6645 12.9915C21.6623 17.7625 17.7816 21.6434 13.0084 21.6434C11.5643 21.6423 10.1339 21.2797 8.87398 20.5918L8.144 20.194L7.33785 20.3844L5.20504 20.888L5.72555 18.9541L5.96041 18.0866L5.51184 17.3079C4.75567 15.9993 4.35548 14.503 4.35657 12.9831C4.35873 8.21423 8.24062 4.33332 13.0105 4.33332ZM9.1829 7.98957C9.00199 7.98957 8.70947 8.05728 8.46139 8.32812C8.2133 8.59787 7.51347 9.2512 7.51347 10.5815C7.51347 11.9119 8.48254 13.1978 8.61796 13.3787C8.75229 13.5586 10.4885 16.3748 13.2369 17.4582C15.5206 18.3584 15.9844 18.1807 16.4806 18.1352C16.9768 18.0908 18.0813 17.4825 18.3066 16.8509C18.5319 16.2193 18.5325 15.676 18.4653 15.5644C18.3981 15.4518 18.2177 15.3846 17.9469 15.2492C17.6771 15.1138 16.3478 14.461 16.0997 14.3711C15.8516 14.2812 15.6702 14.2357 15.4904 14.5065C15.3105 14.7773 14.7937 15.3846 14.6355 15.5644C14.4774 15.7454 14.3203 15.7697 14.0494 15.6343C13.7786 15.4978 12.9078 15.2115 11.8743 14.2907C11.0705 13.5746 10.5281 12.6911 10.3699 12.4202C10.2128 12.1505 10.3551 12.0023 10.4905 11.868C10.6119 11.7467 10.7592 11.5522 10.8947 11.394C11.029 11.2359 11.0756 11.1232 11.1655 10.9433C11.2554 10.7635 11.2094 10.6048 11.1422 10.4694C11.075 10.334 10.5491 8.9987 10.3086 8.46353C10.106 8.01395 9.89201 8.00351 9.69918 7.99592C9.5421 7.98942 9.36274 7.98957 9.1829 7.98957Z' fill='%2300574F'/%3E%3C/svg%3E%0A") no-repeat center / cover
        transition: .25s
      .tg
        width: 26px
        height: 26px
        display: block
        background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7996 3.45287C21.5179 3.4653 21.2554 3.54736 21.0244 3.64076C20.8079 3.72783 19.9809 4.08254 18.6783 4.64115C17.3745 5.20026 15.6482 5.94142 13.8067 6.73334C10.1236 8.31718 5.98289 10.1 3.862 11.0125C3.78225 11.0468 3.50397 11.1357 3.20862 11.3663C2.91326 11.5969 2.59924 12.0747 2.59924 12.607C2.59924 13.0363 2.80384 13.4628 3.06135 13.7175C3.31887 13.9721 3.59136 14.0979 3.82476 14.1931C4.67164 14.5387 7.29818 15.6135 7.79416 15.8164C7.96872 16.3511 8.9194 19.2593 9.13987 19.972C9.2852 20.4424 9.42355 20.7369 9.60367 20.9707C9.69373 21.0876 9.79842 21.19 9.92528 21.2703C9.97599 21.3024 10.0316 21.3271 10.0878 21.3499L10.0912 21.3516C10.1041 21.3568 10.1153 21.3656 10.1284 21.3702C10.1532 21.3789 10.1698 21.3799 10.2029 21.3871C10.3349 21.4298 10.4682 21.4565 10.5871 21.4565C11.0943 21.4565 11.4047 21.1772 11.4047 21.1772L11.4233 21.1637L14.0318 18.9073L17.1955 21.9C17.24 21.963 17.6554 22.5331 18.5716 22.5331C19.1156 22.5331 19.5472 22.2601 19.8242 21.9694C20.1013 21.6787 20.2739 21.3733 20.3473 20.9893V20.9876C20.4159 20.6248 23.3315 5.65678 23.3315 5.65678L23.3265 5.67709C23.4118 5.28751 23.4342 4.9247 23.34 4.56667C23.2458 4.20865 22.9977 3.86585 22.69 3.68139C22.3824 3.49696 22.0813 3.44044 21.7996 3.45287ZM21.6371 5.26407C21.633 5.28936 21.6402 5.27664 21.6337 5.30639L21.6321 5.31654L21.6304 5.3267C21.6304 5.3267 18.7509 20.1033 18.6444 20.666C18.6522 20.6235 18.6166 20.708 18.5801 20.7591C18.5285 20.7236 18.4227 20.6779 18.4227 20.6779L18.4058 20.6593L14.0843 16.5714L11.0289 19.212L11.9379 15.5727C11.9379 15.5727 17.6199 9.69091 17.9623 9.34858C18.2379 9.07471 18.2957 8.97924 18.2957 8.88477C18.2957 8.75824 18.2298 8.66641 18.0824 8.66641C17.9498 8.66641 17.7715 8.79533 17.6762 8.856C16.4342 9.64774 10.9815 12.8257 8.53726 14.2473C8.14884 14.0883 5.45028 12.9837 4.5357 12.6104C4.54263 12.6074 4.54035 12.6085 4.54755 12.6053C6.66899 11.6926 10.808 9.90979 14.4905 8.32618C16.3318 7.53437 18.0594 6.79264 19.3621 6.23399C20.6448 5.68394 21.536 5.30538 21.6371 5.26407Z' fill='%2300574F'/%3E%3C/svg%3E%0A") no-repeat center / cover
        transition: .25s
    .btn:hover
      .wa
        background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0127 2.16666C7.04782 2.16666 2.19207 7.01823 2.1899 12.9831C2.18882 14.8897 2.68822 16.7511 3.63505 18.3913L2.16663 23.8333L7.83508 22.494C9.41567 23.3563 11.195 23.809 13.0063 23.8101H13.0105C18.9743 23.8101 23.8279 18.9574 23.8312 12.9936C23.8333 10.1022 22.709 7.3837 20.6658 5.33837C18.6226 3.29412 15.9073 2.16774 13.0127 2.16666ZM13.0105 4.33332C15.3245 4.33441 17.4992 5.2366 19.1339 6.87027C20.7687 8.5061 21.6667 10.6797 21.6645 12.9915C21.6623 17.7625 17.7816 21.6434 13.0084 21.6434C11.5643 21.6423 10.1339 21.2797 8.87398 20.5918L8.144 20.194L7.33785 20.3844L5.20504 20.888L5.72555 18.9541L5.96041 18.0866L5.51184 17.3079C4.75567 15.9993 4.35548 14.503 4.35657 12.9831C4.35873 8.21423 8.24062 4.33332 13.0105 4.33332ZM9.1829 7.98957C9.00199 7.98957 8.70947 8.05728 8.46139 8.32812C8.2133 8.59787 7.51347 9.2512 7.51347 10.5815C7.51347 11.9119 8.48254 13.1978 8.61796 13.3787C8.75229 13.5586 10.4885 16.3748 13.2369 17.4582C15.5206 18.3584 15.9844 18.1807 16.4806 18.1352C16.9768 18.0908 18.0813 17.4825 18.3066 16.8509C18.5319 16.2193 18.5325 15.676 18.4653 15.5644C18.3981 15.4518 18.2177 15.3846 17.9469 15.2492C17.6771 15.1138 16.3478 14.461 16.0997 14.3711C15.8516 14.2812 15.6702 14.2357 15.4904 14.5065C15.3105 14.7773 14.7937 15.3846 14.6355 15.5644C14.4774 15.7454 14.3203 15.7697 14.0494 15.6343C13.7786 15.4978 12.9078 15.2115 11.8743 14.2907C11.0705 13.5746 10.5281 12.6911 10.3699 12.4202C10.2128 12.1505 10.3551 12.0023 10.4905 11.868C10.6119 11.7467 10.7592 11.5522 10.8947 11.394C11.029 11.2359 11.0756 11.1232 11.1655 10.9433C11.2554 10.7635 11.2094 10.6048 11.1422 10.4694C11.075 10.334 10.5491 8.9987 10.3086 8.46353C10.106 8.01395 9.89201 8.00351 9.69918 7.99592C9.5421 7.98942 9.36274 7.98957 9.1829 7.98957Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A") no-repeat center / cover
      .tg
        background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7996 3.45287C21.5179 3.4653 21.2554 3.54736 21.0244 3.64076C20.8079 3.72783 19.9809 4.08254 18.6783 4.64115C17.3745 5.20026 15.6482 5.94142 13.8067 6.73334C10.1236 8.31718 5.98289 10.1 3.862 11.0125C3.78225 11.0468 3.50397 11.1357 3.20862 11.3663C2.91326 11.5969 2.59924 12.0747 2.59924 12.607C2.59924 13.0363 2.80384 13.4628 3.06135 13.7175C3.31887 13.9721 3.59136 14.0979 3.82476 14.1931C4.67164 14.5387 7.29818 15.6135 7.79416 15.8164C7.96872 16.3511 8.9194 19.2593 9.13987 19.972C9.2852 20.4424 9.42355 20.7369 9.60367 20.9707C9.69373 21.0876 9.79842 21.19 9.92528 21.2703C9.97599 21.3024 10.0316 21.3271 10.0878 21.3499L10.0912 21.3516C10.1041 21.3568 10.1153 21.3656 10.1284 21.3702C10.1532 21.3789 10.1698 21.3799 10.2029 21.3871C10.3349 21.4298 10.4682 21.4565 10.5871 21.4565C11.0943 21.4565 11.4047 21.1772 11.4047 21.1772L11.4233 21.1637L14.0318 18.9073L17.1955 21.9C17.24 21.963 17.6554 22.5331 18.5716 22.5331C19.1156 22.5331 19.5472 22.2601 19.8242 21.9694C20.1013 21.6787 20.2739 21.3733 20.3473 20.9893V20.9876C20.4159 20.6248 23.3315 5.65678 23.3315 5.65678L23.3265 5.67709C23.4118 5.28751 23.4342 4.9247 23.34 4.56667C23.2458 4.20865 22.9977 3.86585 22.69 3.68139C22.3824 3.49696 22.0813 3.44044 21.7996 3.45287ZM21.6371 5.26407C21.633 5.28936 21.6402 5.27664 21.6337 5.30639L21.6321 5.31654L21.6304 5.3267C21.6304 5.3267 18.7509 20.1033 18.6444 20.666C18.6522 20.6235 18.6166 20.708 18.5801 20.7591C18.5285 20.7236 18.4227 20.6779 18.4227 20.6779L18.4058 20.6593L14.0843 16.5714L11.0289 19.212L11.9379 15.5727C11.9379 15.5727 17.6199 9.69091 17.9623 9.34858C18.2379 9.07471 18.2957 8.97924 18.2957 8.88477C18.2957 8.75824 18.2298 8.66641 18.0824 8.66641C17.9498 8.66641 17.7715 8.79533 17.6762 8.856C16.4342 9.64774 10.9815 12.8257 8.53726 14.2473C8.14884 14.0883 5.45028 12.9837 4.5357 12.6104C4.54263 12.6074 4.54035 12.6085 4.54755 12.6053C6.66899 11.6926 10.808 9.90979 14.4905 8.32618C16.3318 7.53437 18.0594 6.79264 19.3621 6.23399C20.6448 5.68394 21.536 5.30538 21.6371 5.26407Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A") no-repeat center / cover

  &-thanks
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: #fbfaf9
    z-index: 20
    @include flexbox
    flex-direction: column
    align-items: center
    padding: 80px 60px 20px
    opacity: 0
    transition: .25s
    pointer-events: none
    &.show
      opacity: 1
      pointer-events: auto
    &__text
      margin: auto 0
      text-align: center
      & > p
        margin: 24px 0
    .btn-wrap
      justify-content: center
      p
        width: 200px
        justify-content: center
    &__icon
      width: 46px
      height: 33px
      background: url("data:image/svg+xml,%3Csvg width='46' height='33' viewBox='0 0 46 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1541 8.56348C19.5122 11.1675 21.1379 14.8023 21.5312 16.2943C20.5368 14.9787 18.1176 11.9568 16.3969 10.3946C16.7577 12.5963 18.941 15.3903 19.8427 16.8335C18.0858 15.3903 15.9182 13.0798 14.9747 10.9641C13.7953 8.31957 12.581 7.30232 11.5056 6.8955C10.4302 6.48847 9.80221 6.83869 8.24461 6.69208C6.08602 6.48867 4.86574 3.64339 3.80429 4.33212C3.51646 4.51884 3.42108 5.2329 4.46628 7.13959C2.41516 5.55317 2.4076 3.64301 3.00651 3.19282C5.16925 1.56686 6.77748 6.41921 7.93241 5.0644C8.24461 4.69827 7.86309 3.88442 6.57954 2.786C5.29599 1.68738 2.34717 0.304177 1.376 1.72806C0.404456 3.15214 1.58413 5.30851 2.24329 6.2037C2.90244 7.09872 4.32482 8.19733 5.19192 9.45849C6.0592 10.72 7.72428 12.3882 9.07733 12.7542C10.1596 13.0472 12.7429 13.9342 13.8994 14.3407C12.1416 13.4051 8.32809 11.2405 7.13463 10.0687C5.94116 8.8968 5.76041 8.03633 5.52943 6.52897C6.08451 6.96285 7.56713 7.78054 8.24461 9.21421C8.93852 10.5976 10.2568 10.9231 10.6038 10.5569C10.9507 10.1906 10.8272 9.35333 10.0294 8.45812C13.2555 9.59743 14.177 12.6317 16.05 14.5848C17.9235 16.5376 18.6651 16.3423 21.8219 18.9463C18.5608 16.9934 14.4197 16.4565 12.5463 16.4565C10.6729 16.4565 8.7995 16.4158 7.41188 16.131C6.02426 15.8462 5.74681 14.7883 5.67731 14.3406C5.608 13.8932 5.58816 12.6682 6.07393 13.3598C6.5597 14.0514 8.31392 14.5848 7.72408 13.4456C7.13444 12.3063 5.74682 11.3297 5.05309 11.7773C4.35919 12.2249 4.18581 13.7303 4.60208 15.3986C5.01853 17.0667 6.85698 18.0026 9.90987 17.8396C12.9626 17.677 15.5644 18.0023 17.5419 18.2058C19.1236 18.3686 21.0355 19.0603 21.822 19.386C21.1051 19.4265 19.4916 19.5974 18.548 19.9554C17.3685 20.4029 15.4953 21.2169 13.2404 20.7692C14.4894 20.4844 15.6687 19.9554 18.0972 19.1823C12.0956 19.508 9.91006 21.2576 8.66125 22.6001C7.41226 23.9428 7.30838 26.3435 8.52244 29.5575C7.39263 28.684 6.4409 27.0351 6.02464 25.9773C5.60837 24.9194 5.1226 21.5832 9.07752 19.9554C4.42888 18.979 3.59635 14.829 3.52684 13.1608C3.45753 11.4927 3.59635 9.86513 1.58432 6.69151C-0.42789 3.51789 -0.185004 1.52407 0.474149 0.669735C1.1333 -0.184788 3.76972 -0.632104 6.96143 1.93108C10.1531 4.49447 11.9568 5.30812 16.1545 8.56309L16.1541 8.56348ZM29.8458 8.56348C26.4877 11.1675 24.8619 14.8023 24.4689 16.2943C25.4633 14.9787 27.8823 11.9568 29.6031 10.3946C29.2422 12.5963 27.0588 15.3903 26.1574 16.8335C27.914 15.3903 30.0817 13.0798 31.0253 10.9641C32.2048 8.31957 33.4188 7.30232 34.4944 6.8955C35.5698 6.48847 36.1978 6.83869 37.7553 6.69208C39.914 6.48867 41.1343 3.64339 42.1958 4.33212C42.4834 4.51884 42.5788 5.2329 41.5336 7.13959C43.5847 5.55317 43.5925 3.64301 42.9935 3.19282C40.8308 1.56686 39.2225 6.41921 38.0676 5.0644C37.7553 4.69827 38.1369 3.88442 39.4205 2.786C40.7039 1.68738 43.6526 0.304177 44.624 1.72806C45.5954 3.15214 44.4159 5.30851 43.7567 6.2037C43.0976 7.09872 41.6753 8.19733 40.8081 9.45849C39.9408 10.72 38.2755 12.3882 36.9227 12.7542C35.8403 13.0472 33.257 13.9342 32.1007 14.3407C33.8583 13.4051 37.672 11.2405 38.8655 10.0687C40.0589 8.8968 40.2396 8.03633 40.4704 6.52897C39.9155 6.96285 38.4329 7.78054 37.7553 9.21421C37.0614 10.5976 35.7432 10.9231 35.3962 10.5569C35.0493 10.1906 35.1726 9.35333 35.9706 8.45812C32.7444 9.59743 31.823 12.6317 29.9498 14.5848C28.0766 16.5376 27.335 16.3423 24.1782 18.9463C27.439 16.9934 31.5803 16.4565 33.4537 16.4565C35.3269 16.4565 37.2003 16.4158 38.588 16.131C39.9758 15.8462 40.2533 14.7883 40.3227 14.3406C40.392 13.8932 40.4116 12.6682 39.9259 13.3598C39.4404 14.0514 37.6861 14.5848 38.2758 13.4456C38.8656 12.3063 40.2533 11.3297 40.9469 11.7773C41.6408 12.2249 41.8142 13.7303 41.3978 15.3986C40.9815 17.0667 39.1428 18.0026 36.0901 17.8396C33.0373 17.677 30.4356 18.0023 28.458 18.2058C26.8764 18.3686 24.9644 19.0603 24.178 19.386C24.8949 19.4265 26.5085 19.5974 27.4521 19.9554C28.6314 20.4029 30.5048 21.2169 32.7596 20.7692C31.5107 20.4844 30.3312 19.9554 27.9029 19.1823C33.9042 19.508 36.09 21.2576 37.3388 22.6001C38.5876 23.9428 38.6916 26.3435 37.4776 29.5575C38.6074 28.684 39.5591 27.0351 39.9755 25.9773C40.3917 24.9194 40.8773 21.5832 36.9225 19.9554C41.5709 18.979 42.4035 14.829 42.473 13.1608C42.5425 11.4927 42.4035 9.86513 44.4157 6.69151C46.4278 3.51789 46.1851 1.52407 45.5259 0.669735C44.8666 -0.184788 42.2303 -0.632104 39.0386 1.93108C35.8469 4.49447 34.0432 5.30812 29.8454 8.56309L29.8458 8.56348ZM19.9993 21.0898C20.9925 20.7969 21.6088 20.1806 21.793 19.9091C22.2619 19.1928 21.8965 15.3901 23.0001 15.3901C24.1036 15.3901 23.738 19.1928 24.2071 19.9091C24.3912 20.1806 25.0073 20.7969 26.0007 21.0898C27.2424 21.4563 30.4843 21.9857 33.1055 22.1483C35.7267 22.3113 37.0028 23.3698 37.1406 25.0389C37.2787 26.7083 37.0715 27.6445 36.8302 28.581C36.0025 26.7487 34.8987 25.3239 32.7949 24.5503C30.6914 23.7768 26.4945 22.049 25.3369 21.3831C26.6821 22.7674 28.346 23.5731 29.7254 24.1838C31.1052 24.7946 35.3128 26.7081 36.8302 30.2502C38.3477 33.7921 33.2779 33.0699 31.3809 32.6116C29.5674 32.1735 28.0203 30.8202 27.5029 32.2857C25.9165 30.5353 24.7784 27.2375 24.8817 25.8124C25.9164 27.0339 26.4597 29.3545 27.1925 29.9244C27.6199 30.2568 27.8823 31.0664 31.2087 31.4308C34.2761 31.7669 36.3476 31.2272 36.2096 30.4943C36.0715 29.7617 31.7949 27.6851 31.7259 28.1331C31.6569 28.5808 32.6227 29.8022 33.2779 30.2502C33.9333 30.6978 32.6569 30.413 31.9327 29.9244C31.2087 29.4358 29.9669 28.1737 29.2427 28.0517C28.5184 27.9297 29.5533 29.5988 29.9669 29.9244C30.3808 30.2502 29.8288 30.413 28.967 29.9244C28.1046 29.4358 27.3113 28.0517 26.8973 25.6496C26.566 23.7281 24.9659 21.809 24.2071 21.0897C24.3223 23.3153 24.2419 28.5888 23.0001 31.8786C21.7584 28.589 21.6781 23.3153 21.793 21.0897C21.0343 21.8089 19.4338 23.7281 19.1029 25.6496C18.6889 28.0517 17.8957 29.4358 17.0333 29.9244C16.1711 30.413 15.6194 30.2502 16.0332 29.9244C16.4472 29.5986 17.4819 27.9297 16.7575 28.0517C16.0332 28.174 14.7916 29.4358 14.0675 29.9244C13.3431 30.413 12.067 30.6978 12.7224 30.2502C13.3776 29.8024 14.3433 28.581 14.2743 28.1331C14.2053 27.6851 9.92856 29.7616 9.79069 30.4943C9.65263 31.2271 11.724 31.7666 14.7916 31.4308C18.118 31.0664 18.3801 30.2568 18.8074 29.9244C19.5403 29.3545 20.0837 27.0337 21.1185 25.8124C21.222 27.2375 20.0838 30.5353 18.4971 32.2857C17.9799 30.8202 16.4326 32.1733 14.6191 32.6116C12.7224 33.0699 7.65231 33.7924 9.17008 30.2502C10.6876 26.7083 14.895 24.7946 16.2748 24.1838C17.6542 23.5731 19.3182 22.7674 20.6631 21.3831C19.5057 22.049 15.3089 23.7768 13.205 24.5503C11.1013 25.3237 9.99769 26.7487 9.17008 28.581C8.9285 27.6443 8.72169 26.7083 8.85957 25.0389C8.99762 23.3698 10.2736 22.3115 12.8947 22.1483C15.5161 21.9857 18.7578 21.4561 19.9993 21.0898ZM22.9998 16.3266C22.747 17.5207 22.2976 20.3326 22.2976 22.0263C22.2976 23.7199 22.747 26.7489 22.9998 28.0519C23.2527 26.7491 23.7022 23.7199 23.7022 22.0263C23.7022 20.3326 23.2527 17.5207 22.9998 16.3266Z' fill='%23EB8C78'/%3E%3C/svg%3E%0A") no-repeat center / cover
      margin-bottom: 50px

  &[data-popup="filter"]
    .popup-wrapper
      padding: 60px 70px
      overflow: hidden
  &-filter
    width: 780px
    height: 100%
    @include flexbox
    flex-direction: column
    align-items: flex-start
    &__search
      margin-top: 32px
      width: 100%
      position: relative
      input
        width: 100%
        height: 68px
        border-bottom: 1px solid var(--color-black)
        padding: 0
        padding-right: 32px
        @include placeholder
          color: #25343e
      button
        position: absolute
        top: 0
        right: 0
        bottom: 0
        width: 24px
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.57144' cy='8.57142' r='7.61905' stroke='%23002E25' stroke-width='1.42857' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.3' d='M13.8096 14.2457L18.5715 19.0076' stroke='%23002E25' stroke-width='1.42857' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center
    &__content
      flex: 1
      overflow-y: scroll
      margin: 8px 0 32px
      width: 100%
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        width: 0px
        background: transparent
    &__bottom
      @include flexbox
      align-items: flex-start
      width: 100%
      .btn
        margin-left: auto
    &__group
      border-bottom: 1px solid rgba(15, 15, 17, 0.1)
      &.open
        .popup-filter__head::after
          transform: rotate(-180deg)
    &__head
      padding: 16px 0
      padding-right: 100px
      @include flexbox
      align-items: flex-start
      position: relative
      cursor: pointer
      &::after
        content: ''
        position: absolute
        top: 0
        right: 16px
        bottom: 0
        margin: auto 0
        width: 14px
        height: 8px
        background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='black'/%3E%3C/svg%3E%0A") no-repeat center
        transition: .25s
      p
        margin-top: 4px
        font-size: 18px
        line-height: 1.6
        letter-spacing: -0.02em
        color: var(--color-dark)
      .title-xs, p
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
      .count
        position: absolute
        top: 0
        right: 46px
        bottom: 0
        margin: auto 0
        width: 32px
        height: 32px
        border-radius: 100%
        color: #fff
        @include flexbox
        align-items: center
        justify-content: center
        background: var(--color-black)
        pointer-events: none
        opacity: 1
        transition: .25s
        &.hide
          opacity: 0
    &__wrapper
      max-height: 0
      overflow: hidden
      transition: .25s
    &__checkboxes
      padding: 16px 0 32px
      @include flexbox
      align-items: flex-start
      gap: 30px
    &__col
      width: calc(100% / 2 - 15px)
      @include flexbox
      flex-direction: column
      align-items: flex-start
      gap: 12px
    &__checkbox
      display: block
      cursor: pointer
      transition: .25s
      input
        @include visually-hidden
        &:checked + p::before
          background: var(--color-black)
          border-color: var(--color-black)
      p
        line-height: 32px
        position: relative
        padding-left: 48px
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 32px
          height: 32px
          border: 1px solid #D9D9D9
          border-radius: 4px
          transition: .15s
        &::after
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 32px
          height: 32px
          background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.923096 5.14288L5.27474 8.30771L11.0769 0.923096' stroke='white' stroke-width='1.84615'/%3E%3C/svg%3E%0A") no-repeat center
