.template
  &-reviews
    padding-top: var(--gap-lg)
  &-text
    padding: var(--gap-lg) 0
    .container
      @include flexbox
      align-items: center
      justify-content: space-between
    &__img
      max-width: calc(100% - 1020px - 40px)
    &__wrapper
      max-width: 1020px
    &__text
      max-width: 740px
      margin-top: 36px
      font-size: 22px
      line-height: 1.6
      font-weight: 500
      color: var(--color-dark)
      b
        font-weight: 600
        color: var(--color-black)
    &__quote
      max-width: 740px
      margin-top: 36px
      padding: 40px
      font-size: 26px
      font-weight: 500
      line-height: 1.6
      border-radius: 12px
      border: 1px dashed var(--color-green)
  &-list
    padding: var(--gap-lg) 0
    background: #f5f2ef
    .title-xl
      max-width: 850px
    &__list
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 16px 48px
      margin-top: var(--gap-md)
      ul
        @include flexbox
        flex-direction: column
        align-items: flex-start
        gap: 16px
      li
        padding: 14px 27px
        padding-left: 46px
        font-weight: 500
        line-height: 1.3
        letter-spacing: -0.02em
        border: 1px dashed #888888
        border-radius: 999px
        position: relative
        &::before
          content: ''
          position: absolute
          top: 0
          left: 20px
          bottom: 0
          margin: auto 0
          background: #416935
          width: 8px
          height: 8px
          border-radius: 100%
  &-help
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 50%
      background: #f5f2ef
    &__block
      max-width: 1200px
      margin: 0 auto
      background: #f5e6d8 url(../img/svg/template-help.svg) no-repeat bottom right
      padding: 80px 90px
      h3
        margin-top: 70px
        font-size: 24px
        font-weight: 600
        line-height: 1.6
        span
          padding: 11px 0
          border-bottom: 1px solid var(--color-black)
      p
        max-width: 630px
        margin-top: 36px
        font-size: 22px
        line-height: 1.6
  &-photo
    padding-top: var(--gap-lg)
    img
      width: 100%
      max-width: 1920px
      margin: 0 auto
  &-stats
    padding-top: var(--gap-lg)
    &__block
      background: #f5f2ef
      margin-top: var(--gap-md)
      padding: 55px 80px
      @include flexbox
      align-items: flex-start
    &__slider
      overflow: hidden
      width: calc(100% - 210px)
      p
        margin-top: 16px
        color: var(--color-dark)
    &__control
      width: 210px
      justify-content: flex-end
  &-section
    padding-top: var(--gap-lg)
    &__grid
      display: grid
      grid-template-columns: repeat(3, 1fr)
      margin-top: var(--gap-md)
      gap: 10px
    &__item
      height: 635px
      padding: 60px 40px
      @include flexbox
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      background: #f5f2ef
      &-text
        h5
          margin: 0 0 24px
          font-size: 24px
          font-weight: 700
          line-height: 1.2
        p
          line-height: 1.6
