{% extends 'components/_layout.html' %}
{% set site_title = 'Партнерская программа' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Партнёрская программа</a></li>
    </ul>
    <h2 class="top-title">Партнёрская программа</h2>
  </div>
</section>

  <div class="service-single">
    <div class="service-content">
      <div class="container">
        <div class="service-main">
          <div class="service-section service-element service-element__text">
            <h3 class="subtitle">Программа</h3>
            <h2 class="title">Партнёрская программа<br> для психологов</h2>
            <p class="text">Партнерская программа от психолого-психиатрической клиники Доктора Шмиловича «Ре-Альт» направлена на расширение ваших профессиональных горизонтов и углубление знаний по психиатрии.</p>
            <h5>Она включает:</h5>
            <ul>
              <li>Совместную тактику сопровождения пациента</li>
              <li>Бонусы за приведённого пациента</li>
              <li>Доступ к закрытому чату для психологов</li>
            </ul>
          </div>
        </div>
        <div class="service-form">
          <form action="#">
            <h3 class="title-md">Узнайте подробнее о партнёрской программе</h3>
            <label class="label">
              <p>Представьтесь</p>
              <input type="text" placeholder="Ваше имя и фамилия" />
            </label>
            <label class="label">
              <p>Номер телефона</p>
              <input type="text" class="masked" placeholder="+7 (000) 000-00-00" />
            </label>
            <button class="btn btn-outline btn-lg"><p>Узнать</p></button>
            <small>Нажимая на эту кнопку вы принимаете условия <a href="#">Соглашения о передаче личных данных</a></small>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="principle service-section">
    <div class="container">
      <h2 class="title">Посмотри видеопрезентацию с описанием партнёрской программы</h2>
    </div>
    <a href="#" data-fancybox class="principle-video">
      <img src="img/principle-video.jpg" alt="" class="principle-video__poster">
    </a>
  </div>

  <section class="advantages">
    <div class="container">
      <h2 class="title">Ключевые преимущества программы</h2>
      <ul class="advantages-list">
        <li>
          <span>
            <h4 class="title-xl">Ко-терапевтический подход</h4>
            <p>Сотрудничайте с врачами психиатрами ваших клиентов, чтобы разработать совместную стратегию психиатрического лечения и психологической терапии, достигая более эффективного результата</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Бонусная система</h4>
            <p>За каждого приведенного пациента вам будут начислены бонусы по программе лояльности LoyalMed, которые можно использовать на ваш выбор двумя способами:<br> 1) для оплаты образовательных программ, супервизий, конференций, подписок и других продуктов Академии;<br> 2) для прямого вывода средств на свой счет.</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Индивидуальный подбор психиатра</h4>
            <p>Менеджер Клиники поможет подобрать квалифицированного специалиста конкретно под запрос вашего клиента.</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Мультидисциплинарный подход</h4>
            <p>Подтверждение или опровержение Ваших гипотез с возможностью медико-фармакологической поддержки. Проведение совместных приемов с психиатрами для дальнейшей ко-терапевтической работы с пограничными и психотическими случаями.</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Совместные консультации и супервизии</h4>
            <p>Возможность записаться на групповые встречи и получить супервизию с целью усовершенствования профессиональных навыков в диагностике сложных случаев.</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Консилиумы со сложными пациентами</h4>
            <p>Принимайте участие в обсуждениях сложных клинических случаев с командой экспертов для разработки эффективных комплексных планов лечения.</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Доступ к профессиональному сообществу</h4>
            <p>Вступите в закрытый чат для психологов, где вы сможете общаться и обсуждать волнующие вас вопросы терапии с коллегами и специалистами клиники Ре-Альт</p>
          </span>
        </li>
      </ul>
    </div>
  </section>

  <section class="free">
    <div class="container">
      <h2 class="title">Запишитесь на участие в нашей партнёрской программе</h2>
      <p>Вы получите поддержку практикующего врача-психиатра,<br> ответы на вопросы и увеличите качество терапии</p>
      <div class="btn-wrap"><a href="javascript:;" data-button="call" class="btn btn-green btn-lg"><p>Записаться</p></a></div>
    </div>
  </section>

  <section class="advantages">
    <div class="container">
      <h2 class="title">Путь в партнерской программе</h2>
      <ul class="advantages-list">
        <li>
          <span>
            <h4 class="title-xl">Регистрация по анкете</h4>
            <p>Попросим ответить вас на несколько вопросов и подтвердить свою квалификацию</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Отбор</h4>
            <p>Обязательные условия отбора наличие профильного образование и частной практики</p>
          </span>
        </li>
        <li>
          <span>
            <h4 class="title-xl">Подтверждение участия</h4>
            <p>После прохождения отбора с вами свяжется менеджер для подтверждения участия и ответов на вопросы</p>
          </span>
        </li>
      </ul>
    </div>
  </section>

  <section class="template-text" style="padding-top: 0;">
    <div class="container">
      <div class="template-text__wrapper full">
        <h2 class="title-xl">Условия участия</h2>
        <div class="template-text__text">
          <p>1. Столкнувшись с пациентом, которому помимо помощи психолога необходим приём врачапсихиатра вы связываетесь с нашей клиникой.</p>
          <p>2. Администратор индивидуально подбирает специалиста.</p>
          <p>3. Организуется групповая встреча с вашим клиентом и психиатром клиники: 50-70 минут консультация клиента с психиатром, 20-40 минут супервизия этого случая с психиатром без клиента.</p>
          <p>4. Со сложными случаями может быть организован консилиум, с вашим участием.</p>
          <p>5. Вы получаете доступ к материалам по работе со сложными пациентами (суицидальные и др).</p>
          <p>6. Вы имеете возможность быть на связи с лечащим врачом вашего клиента, для составления совместной тактики курации и плана лечения.</p>
          <p>7. Мы предоставляем доступ к закрытому чату для психологов со специалистами клиники РеАльт, с ответами на вопросы от психиатров.</p>
          <p>8. Вы получаете доступ к закрытым материалам-дайджест последних исследований в области психологии и психиатрии.</p>
          <p>9. Мы ведём учёт пришедших от вас пациентов и начисляем за них бонусы.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="service-single" style="border-top: 1px solid var(--color-border);">
    <div class="service-content">
      <div class="container">
        <div class="service-main">
          <div class="service-section service-element service-element__text">
            <h2 class="title">Что вы получите от участия в программе</h2>
            <p class="text"></p>
            <ul>
              <li>Повышение уровня профессионализма</li>
              <li>Повышение эффективности лечения или курации</li>
              <li>Новые связи и знакомства</li>
              <li>Будете в курсе трендов и последних исследований</li>
              <li>Всегда будете знать куда обратиться при столкновении со сложным случаем</li>
              <li>Специальные условия на покупку наших программ </li>
            </ul>
          </div>
        </div>
        <div class="service-form">
          <form action="#">
            <h3 class="title-md">Узнайте подробнее о партнёрской программе</h3>
            <label class="label">
              <p>Представьтесь</p>
              <input type="text" placeholder="Ваше имя и фамилия" />
            </label>
            <label class="label">
              <p>Номер телефона</p>
              <input type="text" class="masked" placeholder="+7 (000) 000-00-00" />
            </label>
            <button class="btn btn-outline btn-lg"><p>Узнать</p></button>
            <small>Нажимая на эту кнопку вы принимаете условия <a href="#">Соглашения о передаче личных данных</a></small>
          </form>
        </div>
      </div>
    </div>
  </div>

  <section class="advantages">
    <div class="container">
      <h2 class="title">Куда можно потратить бонусы, с партнёрской программы</h2>
      <ul class="advantages-list">
        <li><span><h4 class="title-xl">Оплата до 20% от стоимости продуктов академии Шмиловича</h4></span></li>
        <li><span><h4 class="title-xl">Оплата супервизий с врачом-психиатром по психотическим пациентам</h4></span></li>
        <li><span><h4 class="title-xl">Оплата до 100% научно практической конференции</h4></span></li>
        <li><span><h4 class="title-xl">Оплата до 50% подписки на мастер-классы к материалам академии</h4></span></li>
      </ul>
    </div>
  </section>

  <section class="faq" style="padding-bottom: var(--gap-xl);">
    <div class="container">
      <h3 class="subtitle">FAQ</h3>
      <h2 class="title">Ответы на часто<br> задаваемые вопросы</h2>
      <div class="faq-list">
        <div class="faq-item">
          <div class="faq-main">
            <h3 class="faq-title title-sm">Есть ли ограничения по хранению бонусных баллов?</h3>
            <div class="faq-text">
              <h4 class="title-md">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque optio voluptatibus vel odio amet. Obcaecati doloribus, eos perspiciatis cumque soluta tempora molestias fuga eaque. Quia sunt similique perferendis consectetur alias!</p>
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-main">
            <h3 class="faq-title title-sm">Как можно отслеживать баланс начисленных бонусов?</h3>
            <div class="faq-text">
              <h4 class="title-md">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque optio voluptatibus vel odio amet. Obcaecati doloribus, eos perspiciatis cumque soluta tempora molestias fuga eaque. Quia sunt similique perferendis consectetur alias!</p>
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-main">
            <h3 class="faq-title title-sm">Заключается ли договор на участие в партнёрской программе?</h3>
            <div class="faq-text">
              <h4 class="title-md">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque optio voluptatibus vel odio amet. Obcaecati doloribus, eos perspiciatis cumque soluta tempora molestias fuga eaque. Quia sunt similique perferendis consectetur alias!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="template-form">
    <div class="container">
      <form action="#">
        <h2 class="title-md">Остались вопросы? Оставьте заявку и мы вас проконсультируем</h2>
        <label class="label">
          <p>Представьтесь</p>
          <input type="text" placeholder="Ваше имя и фамилия" />
        </label>
        <label class="label">
          <p>Номер телефона</p>
          <input type="text" class="masked" placeholder="+7 (000) 000-00-00" />
        </label>
        <button class="btn btn-green btn-lg"><p>Записаться</p></button>
        <small>Нажимая на эту кнопку вы принимаете условия<br> <a href="#">Соглашения о передаче личных данных</a></small>
      </form>
    </div>
  </section>

{% endblock %}