{% extends 'components/_layout.html' %}
{% set site_title = 'Страница блога' %}
{% set white = true %}

{% block content %}

<section class="top blog-top" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 50.52%, rgba(0, 0, 0, 0.60) 100%), url(img/specialists-top.png), url(img/blog-single.jpg);">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Блог</a></li>
      <li><a href="#">Что такое забота о себе с точки зрения психологии?</a></li>
    </ul>
    <h2 class="top-title">Что такое забота о себе с точки зрения психологии?</h2>
  </div>
</section>

</div>

<section class="blog-single" id="top">
  <div class="container">
    <div class="blog-single__sidebar">
      <h3 class="title-xl">Что такое забота о себе с точки зрения психологии?</h3>
      <p class="blog-single__date">10 августа, 2023</p>
      <ul class="blog-single__themes">
        <p>Тематика</p>
        <li><a href="#">Осознание и управление эмоциями</a></li>
        <li><a href="#">Панические атаки</a></li>
        <li><a href="#">Панические атаки</a></li>
      </ul>
      <a href="#" class="blog-single__next"><span>Следующая статья</span><p>Любить, гордиться, заботиться о себе: в чем разница?</p></a>
    </div>
    <div class="blog-single__content">
      <img src="img/blog-single-image.jpg" alt="" class="blog-single__image">
      <ul class="blog-single__nav">
        <p>Содержание статьи</p>
        <li><a href="#theme-1">Любить, гордиться, заботиться о себе: в чем разница?</a></li>
        <li><a href="#theme-2">Любить, гордиться, заботиться о себе: в чем разница?</a></li>
        <li><a href="#theme-3">Любить, гордиться, заботиться о себе: в чем разница?</a></li>
      </ul>
      <div class="blog-single__text" id="theme-1">
        <h3>Любить, гордиться, заботиться о себе: в чем разница?</h3>
        <p>О том, как важно любить себя и заботиться о себе, сегодня говорят многие. Эта же мысль лежит в основе философии студии TEKSTURA.</p>
        <p>TEKSTURA – это особое место в центре Москвы, в котором мы объединили заботу, красоту, качество, атмосферу и профессиональный уход за лицом и телом, — отмечает управляющая студии по уходу TEKSTURA Кристина Сергеева. — В нашем пространстве красоты можно признаться себе в любви через разные ритуалы, например, побаловать себя спа и полностью расслабиться.</p>
        <p>Но в реальности на пути заботы о себе могут всплывать подводные камни. Например, человек много трудился над своим проектом. С одной стороны, он добился желаемого результата и его успех отметили, с другой – он очень устал, так как посвящал работе все свое время. Но вместо того, чтобы дать себе время на восстановление, он зачастую игнорирует эту усталость и работает еще усерднее, чтобы оправдать возросшие ожидания начальства. То есть наш герой старается для других, пытаясь оправдать чужие ожидания, а про себя и свои потребности в восстановлении и отдыхе забывает. А это может привести к эмоциональному выгоранию. Бывают и другие причины, из-за которых людям так трудно что-либо разрешить себе.</p>
      </div>
      <div class="blog-single__quote title-md">Есть три больших понятия «заботиться о себе», «гордиться собой», «любить себя», которые чаще всего звучат</div>
      <div class="blog-single__text" id="theme-2">
        <h3>Любить, гордиться, заботиться о себе: в чем разница?</h3>
        <p>О том, как важно любить себя и заботиться о себе, сегодня говорят многие. Эта же мысль лежит в основе философии студии TEKSTURA.</p>
        <p>TEKSTURA – это особое место в центре Москвы, в котором мы объединили заботу, красоту, качество, атмосферу и профессиональный уход за лицом и телом, — отмечает управляющая студии по уходу TEKSTURA Кристина Сергеева. — В нашем пространстве красоты можно признаться себе в любви через разные ритуалы, например, побаловать себя спа и полностью расслабиться.</p>
        <p>Но в реальности на пути заботы о себе могут всплывать подводные камни. Например, человек много трудился над своим проектом. С одной стороны, он добился желаемого результата и его успех отметили, с другой – он очень устал, так как посвящал работе все свое время. Но вместо того, чтобы дать себе время на восстановление, он зачастую игнорирует эту усталость и работает еще усерднее, чтобы оправдать возросшие ожидания начальства. То есть наш герой старается для других, пытаясь оправдать чужие ожидания, а про себя и свои потребности в восстановлении и отдыхе забывает. А это может привести к эмоциональному выгоранию. Бывают и другие причины, из-за которых людям так трудно что-либо разрешить себе.</p>
      </div>
      <div class="blog-single__free">
        <h4 class="title-md">Бесплатная беседа «Альтер-фон» это предварительная беседу с нашими специалистами по телефону.</h4>
        <p>В течение 10-минутной беседы вы сможете обозначить или выявить свои проблемы, и понять, кто из врачей вам нужен и нужен ли вообще. <span>Запишитесь на бесплатный разговор к специалисту</span></p>
        <div class="btn-wrap"><a href="#" class="btn-brown">Записаться</a></div>
      </div>
      <div class="blog-single__text" id="theme-3">
        <h3>Любить, гордиться, заботиться о себе: в чем разница?</h3>
        <p>О том, как важно любить себя и заботиться о себе, сегодня говорят многие. Эта же мысль лежит в основе философии студии TEKSTURA.</p>
        <p>TEKSTURA – это особое место в центре Москвы, в котором мы объединили заботу, красоту, качество, атмосферу и профессиональный уход за лицом и телом, — отмечает управляющая студии по уходу TEKSTURA Кристина Сергеева. — В нашем пространстве красоты можно признаться себе в любви через разные ритуалы, например, побаловать себя спа и полностью расслабиться.</p>
        <p>Но в реальности на пути заботы о себе могут всплывать подводные камни. Например, человек много трудился над своим проектом. С одной стороны, он добился желаемого результата и его успех отметили, с другой – он очень устал, так как посвящал работе все свое время. Но вместо того, чтобы дать себе время на восстановление, он зачастую игнорирует эту усталость и работает еще усерднее, чтобы оправдать возросшие ожидания начальства. То есть наш герой старается для других, пытаясь оправдать чужие ожидания, а про себя и свои потребности в восстановлении и отдыхе забывает. А это может привести к эмоциональному выгоранию. Бывают и другие причины, из-за которых людям так трудно что-либо разрешить себе.</p>
      </div>
      <div class="blog-single__footer">
        <a href="#top" class="blog-single__top">Наверх</a>
        <ul class="blog-single__links">
          <li class="tg"><a href="#">Телеграм</a></li>
          <li class="link"><a href="#">Ссылка</a></li>
          <li class="wa"><a href="#">Whatsapp</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">

<section class="blog-specialists">
  <div class="container">
    <div class="control blog-specialists__control">
      <div class="arrow blog-specialists__prev"></div>
      <div class="arrow blog-specialists__next"></div>
    </div>
    <h2 class="title">Специалисты,<br> которые работают с этим</h2>
    <p class="text">Добавить краткий подзаголовок, про опыт и тп, строчка-две</p>
    <div class="blog-specialists__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
      </div>
    </div>
  </div>
</section>

<section class="blog-more">
  <div class="container">
    <h3 class="subtitle">Наш блог</h3>
    <h2 class="title">Читайте также</h2>
    <div class="blog-grid">
      {% include 'components/blog-item.html' %}
      {% include 'components/blog-item.html' %}
      {% include 'components/blog-item.html' %}
    </div>
  </div>
</section>

{% endblock %}