{% extends 'components/_layout.html' %}
{% set site_title = 'Династия' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Династия</a></li>
    </ul>
    <h2 class="top-title">Династия<br> психиатров Шмиловичей</h2>
    <h3 class="top-subtitle">преемственность поколений</h3>
  </div>
</section>

</div>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-photo">
        <img src="img/dynasty-photo-1.jpg" alt="">
        <p class="text">дедушка. Был в эпицентре репрессий</p>
        <h3 class="title">Липа Айзикович Шмилович</h3>
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-photo-v2">
        <h3 class="title-xl">Липа Айзикович Шмилович закончил итальянский институт в Балонии, знал 11 языков</h3>
        <p class="text">Служил в госпиталях во время Второй Мировой Войны, работал нейрохирургом. Осел после войны в … Руководил отделением.</p>
        <img src="img/dynasty-photo-5.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-photo">
        <img src="img/dynasty-photo-2.jpg" alt="">
        <p class="text">Отец</p>
        <h3 class="title">Аркадий Липович Шмилович</h3>
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-photo-v2">
        <h3 class="title-xl">В 1960 годах закончил медицинский Томский ВУЗ, за короткое время стал руководителем крупной клиники</h3>
        <p class="text">считался ведущим реабилитологом психических больных, освобождение от стигмы и злоупотреблений. Возвращение пациентов в жизнь, социализация.</p>
        <img src="img/dynasty-photo-6.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-list">
        <h3 class="title-xl">Образование</h3>
        <ul>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
        </ul>
        <h3 class="title-xl">Опыт</h3>
        <ul>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
          <li>
            <h4 class="title-sm">Название</h4>
            <p>Подзаголовок</p>
          </li>
        </ul>
        <h3 class="title-xl">Публикации/Работы</h3>
        <p class="text">Владел большой библиотекой. <b>Раритетные издания передаются из поколения в поколения.</b></p>
        <ul>
          <li>
            <h4 class="title-sm">Методические рекомендации по развитию сети волонтёрских центров инклюзивного добровольчества.</h4>
            <p>Подзаголовок</p>
            <a href="#"></a>
          </li>
          <li>
            <h4 class="title-sm">Методические рекомендации по развитию сети волонтёрских центров инклюзивного добровольчества.</h4>
            <p>Подзаголовок</p>
            <a href="#"></a>
          </li>
          <li>
            <h4 class="title-sm">Методические рекомендации по развитию сети волонтёрских центров инклюзивного добровольчества.</h4>
            <p>Подзаголовок</p>
            <a href="#"></a>
          </li>
          <li>
            <h4 class="title-sm">Методические рекомендации по развитию сети волонтёрских центров инклюзивного добровольчества.</h4>
            <p>Подзаголовок</p>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-photo">
        <img src="img/dynasty-photo-3.jpg" alt="">
        <p class="text">Сын</p>
        <h3 class="title">Андрей Аркадьевич Шмилович</h3>
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-text">
        <h3 class="title-xl">В 1990 годах начал заниматься психиатрией. Общался с дедушкой, ел виноград во время приемов, цитаты Липа Айзиковича.</h3>
      </div>
    </div>
  </div>
</section>

<section class="dynasty-section">
  <div class="container">
    <div class="dynasty-date">1989</div>
    <div class="dynasty-main">
      <div class="dynasty-photo">
        <img src="img/dynasty-photo-4.jpg" alt="">
        <p class="text">Внук</p>
        <h3 class="title">Аркадий Андреевич Шмилович</h3>
      </div>
    </div>
  </div>
</section>

<section class="dynasty-video">
  <a href="#" data-fancybox class="principle-video">
    <img src="img/principle-video.jpg" alt="" class="principle-video__poster">
    <div class="container">
      <div class="principle-video__text">
        <h2 class="title">История семьи<br> и интервью</h2>
      </div>
    </div>
  </a>
</section>

<div class="wrapper">

{% endblock %}