{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container-fluid">
    <h3>КЛИНИКА В ЦЕНТРЕ МОСКВЫ</h3>
    <h1 animate-text>Клиника <i>психотерапии</i> и <i>психиатрии</i> доктора Шмиловича «Ре-Альт»</h1>
    <h2 animate-text>Профессиональная помощь психологов, врачей-психиатров и психоаналитиков.</h2>
    <div class="btn-wrap"><a href="#" class="btn btn-green btn-lg"><p>Подобрать услугу и специалиста</p></a></div>
    {# <img src="img/hero-photos.png" alt="" class="hero-photos"> #}
    <div class="hero-photos"><img src="img/hero-photos-2.png" alt=""></div>
  </div>
</section>

<section class="stats">
  <div class="container">
    <div class="stats-item">
      <h2 data-counter>7 500+</h2>
      <p>приняли пациентов с 2015 г.</p>
    </div>
    <div class="stats-item">
      <h2 data-counter>70%</h2>
      <p>Выбрали наблюдаться и лечить свой недуг в нашей Клинике </p>
    </div>
    <div class="stats-item">
      <h2 data-counter>85%</h2>
      <p>первичных пациентов пришли по рекомендации</p>
    </div>
  </div>
</section>

<section class="principle">
  <div class="container">
    <h3 class="subtitle">Основной принцип</h3>
    <h2 class="title" animate-text>Уникальность команды профессионалов клиники «Re-Alt» <br>— психологов, психотерапевтов и врачей-психиатров в том, что <i>мы смогли пойти навстречу<br> друг к другу,</i></h2>
    <p class="text" animate-text>Уникальность команды профессионалов клиники «Re-Alt» — психологов, психотерапевтов и врачей-психиатров в том, что мы смогли пойти навстречу друг к другу,</p>
  </div>
  <a href="#" data-fancybox class="principle-video">
    <img src="img/principle-video.jpg" alt="" class="principle-video__poster">
    <div class="container">
      <div class="principle-video__text">
        <h3 class="title" animate-text>Андрей<br> Аркадьевич<br> Шмилович</h3>
        <p animate-text>основатель клиники, практикующий врач, доктор медицинских наук</p>
      </div>
    </div>
  </a>
</section>

</div>

<section class="directions">
  <div class="container">
    <h3 class="subtitle">Направления</h3>
    <h2 class="title" animate-text>Мы охватываем следующие медицинские направления</h2>
    <p class="text" animate-text>Уникальность команды профессионалов клиники «Re-Alt» — психологов, психотерапевтов и врачей-психиатров в том, что мы смогли пойти навстречу друг к другу</p>
  </div>
  <div class="directions-wrapper">
    <div class="container">
      <div class="directions-sidebar">
        <div class="directions-sidebar__text">
          <div class="directions-sidebar__item active" data-id="1">
            <h3 class="title-md">Посттравматическое стрессовое расстройство</h3>
            <p>Психическое расстройство, которое может возникнуть у людей, которые столкнулись с травматическими событиями, такими как насилие, аварии, военные действия и т.д</p>
          </div>
          <div class="directions-sidebar__item" data-id="2">
            <h3 class="title-md">Расстройство пищевого поведения</h3>
            <p>Психическое расстройство, которое может возникнуть у людей, которые столкнулись с травматическими событиями, такими как насилие, аварии, военные действия и т.д</p>
          </div>
          <div class="directions-sidebar__item" data-id="3">
            <h3 class="title-md">Депрессия</h3>
            <p>Психическое расстройство, которое может возникнуть у людей, которые столкнулись с травматическими событиями, такими как насилие, аварии, военные действия и т.д</p>
          </div>
          <div class="directions-sidebar__item" data-id="4">
            <h3 class="title-md">Стрессы, неврозы</h3>
            <p>Психическое расстройство, которое может возникнуть у людей, которые столкнулись с травматическими событиями, такими как насилие, аварии, военные действия и т.д</p>
          </div>
          <div class="directions-sidebar__item" data-id="5">
            <h3 class="title-md">Шизофрения</h3>
            <p>Психическое расстройство, которое может возникнуть у людей, которые столкнулись с травматическими событиями, такими как насилие, аварии, военные действия и т.д</p>
          </div>
          <div class="directions-sidebar__item" data-id="6">
            <h3 class="title-md">Острые кризисные состояния</h3>
            <p>Психическое расстройство, которое может возникнуть у людей, которые столкнулись с травматическими событиями, такими как насилие, аварии, военные действия и т.д</p>
          </div>
          <img src="img/svg/directions-figure.svg" alt="" class="directions-figure">
        </div>
      </div>
      <div class="directions-main">
        <ul class="directions-links">
          <li data-id="1" class="active"><a href="#"><p class="title-xl">Посттравматическое стрессовое расстройство</p></a></li>
          <li data-id="2"><a href="#"><p class="title-xl">Расстройство пищевого поведения</p></a></li>
          <li data-id="3"><a href="#"><p class="title-xl">Депрессия</p></a></li>
          <li data-id="4"><a href="#"><p class="title-xl">Стрессы, неврозы</p></a></li>
          <li data-id="5"><a href="#"><p class="title-xl">Шизофрения</p></a></li>
          <li data-id="6"><a href="#"><p class="title-xl">Острые кризисные состояния</p></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">

<section class="advantages">
  <div class="container">
    <h3 class="subtitle">Наши преимущества</h3>
    <h2 class="title" animate-text>Для каждого пациента терапевт должен создавать свой язык терапии нужен текст</h2>
    <p class="text" animate-text><b>Именно это высказывание как нельзя лучше характеризует наше отношение к работе с пациентами.</b> Мы не трудимся строго по шаблону, мы берем человека за руку и ведем к пути исцеления, излечения, восстановления и обретения своей ценности, своего «Я»</p>
    <ul class="advantages-list">
      <li>
        <span>
          <h4 class="title-xl" animate-text>Исключительно<br> <i>конфиденциально</i></h4>
          <p>Исключительно конфиденциально</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-xl" animate-text><i>Междисциплинарный</i> подход<br> к каждому пациенту</h4>
          <p>Междисциплинарный подход к каждому пациенту</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-xl" animate-text>Используем <i>авторские</i> и <i>запатентованные</i> методики</h4>
          <p>Используем авторские и запатентованные методики</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-xl" animate-text>Семейная психотерапия<br> в работе с <i>детьми</i> и <i>подростками</i></h4>
          <p>Семейная психотерапия в работе с детьми и подростками</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-xl" animate-text><i>Персональная курация</i> с составлением плана лечения и реабилитации</h4>
          <p>Персональная курация с составлением плана лечения и реабилитации</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-xl" animate-text><i>Индивидуальная</i> личностно ориентированная психотерапия</h4>
          <p>Индивидуальная личностно ориентированная психотерапия</p>
        </span>
      </li>
    </ul>
  </div>
</section>

{% include 'components/free.html' %}

<section class="specialists">
  <div class="container">
    <h3 class="subtitle">Наши специалисты</h3>
    <h2 class="title" animate-text>В штате работают кандидаты и доктора наук, обладающие <i>фундаментальными</i> знаниями и <i>научно-практической деятельностью.</i></h2>
  </div>
  <div class="container-fluid">
    <div class="specialists-grid specialists-grid__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
      </div>
    </div>
    <a href="#" class="specialists-more">
      <h5 class="title">22</h5>
      <p>Наши специалисты</p>
    </a>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h3 class="subtitle">FAQ</h3>
    <h2 class="title" animate-text>Часто задаваемые вопросы</h2>
    <div class="faq-list">
      {% include 'components/faq-item.html' %}
      {% include 'components/faq-item.html' %}
      {% include 'components/faq-item.html' %}
      {% include 'components/faq-item.html' %}
      {% include 'components/faq-item.html' %}
    </div>
  </div>
</section>

<section class="reviews">
  <div class="container">
    <h3 class="subtitle">Отзывы</h3>
    <h2 class="title" animate-text>Блок про наши отзывы в три четыре строчки, можно в три</h2>
  </div>
  <div class="reviews-wrapper">
    <div class="container">
      <div class="reviews-sidebar">
        <div class="reviews-author">
          <div class="reviews-author__item active" data-id="1">
            <h4>Автор 1, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="2">
            <h4>Автор 2, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="3">
            <h4>Автор 3, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="4">
            <h4>Автор 4, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="5">
            <h4>Автор 5, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="6">
            <h4>Автор 6, Москва</h4>
            <p>Подпись</p>
          </div>
        </div>
        <div class="reviews-btns">
          <a href="#" class="btn btn-green btn-md"><p>Все отзывы</p></a>
          <a href="javascript:;" data-button="reviews-send" class="btn btn-outline btn-noarrow btn-md"><p>Оставить отзыв</p></a>
        </div>
      </div>
      <div class="reviews-main">
        <div class="reviews-item active" data-id="1">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more hover-effect">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="2">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more hover-effect">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="3">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more hover-effect">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="4">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more hover-effect">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="5">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more hover-effect">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="6">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more hover-effect">Показать весь отзыв</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <h2 class="title" animate-text>Блог</h2>
    <div class="control blog-control">
      <div class="arrow blog-prev"></div>
      <div class="arrow blog-next"></div>
    </div>
    <div class="blog-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'components/blog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/blog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/blog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/blog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/blog-item.html' %}</div>
      </div>
    </div>
  </div>
</section>

<section class="license">
  <div class="container">
    <h3 class="subtitle">Опыт наших пациентов</h3>
    <h2 class="title" animate-text>Блок про наши лицензии в три четыре строчки, можно в три</h2>
    <div class="control license-control">
      <div class="arrow license-prev"></div>
      <div class="arrow license-next"></div>
    </div>
    <div class="license-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'components/license-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/license-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/license-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/license-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/license-item.html' %}</div>
      </div>
      <div class="license-scrollbar"></div>
    </div>
  </div>
</section>

{% endblock %}