{% extends 'components/_layout.html' %}
{% set site_title = 'Правовая информация' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Правовая информация</a></li>
    </ul>
    <h2 class="top-title">Правовая информация</h2>
  </div>
</section>

<section class="legal">
  <div class="container">
    <div class="legal-sidebar">
      <h3 class="title-xl">Юридическая, правовая информация и лицензии.</h3>
      <ul class="legal-nav">
        <p>Содержание:</p>
        <li class="active"><a href="#theme-1">Юридическая информация</a></li>
        <li><a href="#theme-2">Лицензии</a></li>
        <li><a href="#theme-3">Контакты организаций регулирующих деятельность клиники</a></li>
        <li><a href="#theme-4">Бесплатная медицинская помощь в ЦАО</a></li>
        <li><a href="#theme-5">Правила и форма предоставления мед. услуг</a></li>
        <li><a href="#theme-6">Информация для специалистов</a></li>
        <li><a href="#theme-7">Политика конфиденциальности и обработка персональных данных</a></li>
      </ul>
    </div>
    <div class="legal-main">123</div>
  </div>
</section>

{% endblock %}