{% extends 'components/_layout.html' %}
{% set site_title = 'Правовая информация' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Правовая информация</a></li>
    </ul>
    <h2 class="top-title">Правовая информация</h2>
  </div>
</section>

</div>

<section class="legal">
  <div class="container">
    <div class="legal-sidebar">
      <h3 class="title-xl">Юридическая, правовая информация и лицензии.</h3>
      <ul class="legal-nav">
        <p>Содержание:</p>
        <li class="active"><a href="#theme-1">Юридическая информация</a></li>
        <li><a href="#theme-2">Лицензии</a></li>
        <li><a href="#theme-3">Контакты организаций регулирующих деятельность клиники</a></li>
        <li><a href="#theme-4">Бесплатная медицинская помощь в ЦАО</a></li>
        <li><a href="#theme-5">Правила и форма предоставления мед. услуг</a></li>
        <li><a href="#theme-6">Информация для специалистов</a></li>
        <li><a href="#theme-7">Политика конфиденциальности и обработка персональных данных</a></li>
      </ul>
    </div>
    <div class="legal-main">
      <div class="legal-group" id="theme-1">
        <h3 class="legal-title">Юридическая информация</h3>
        <div class="legal-section">
          <h4>Общество с ограниченной ответственностью “Центр душевного здоровья” (допустимое сокращенное ООО»ЦДЗ»)</h4>
          <label>
            <span>Юридический и фактический адрес</span>
            <b>119034 г. Москва, Всеволожский переулок, д. 2, cтр. 2, этаж 3, помещение IV</b>
          </label>
          <label>
            <span>Телефоны</span>
            <b>+7 (495) 151-85-64, +7(495)695-02-42</b>
          </label>
          <label>
            <span>Сайт</span>
            <b><a href="www.cdz-alter.ru" target="_blank">www.cdz-alter.ru</a></b>
          </label>
          <label>
            <span>Электронная почта</span>
            <b><a href="mailto:info@cdz-alter.ru">info@cdz-alter.ru</a></b>
          </label>
        </div>
      </div>
      <div class="legal-group" id="theme-2">
        <h3 class="legal-title">Лицензии</h3>
        <div class="legal-license">
          <p>Свидетельство о государственной регистрации юридического лица ООО «Центр душевного здоровья» в Единый государственный реестр юридических лиц от 25.11.2015 г ОГРН 1157746928690, выдано Инспекцией Федеральной налоговой службы №4 по г.Москве .</p>
          <a href="img/license-1.jpg" data-fancybox="license-1"><img src="img/license-1.jpg" alt=""></a>
          <a href="img/license-2.jpg" data-fancybox="license-1"><img src="img/license-2.jpg" alt=""></a>
        </div>
        <div class="legal-license">
          <p>Лицензия №ЛО-77-01-012333 от 18 мая 2016 Перечень услуг согласно приложению №1 лицензии. Выдана: Департаментом Здравоохранения города Москвы</p>
          <a href="img/license-3.jpg" data-fancybox="license-2"><img src="img/license-3.jpg" alt=""></a>
          <a href="img/license-4.jpg" data-fancybox="license-2"><img src="img/license-4.jpg" alt=""></a>
          <a href="img/license-5.jpg" data-fancybox="license-2"><img src="img/license-5.jpg" alt=""></a>
        </div>
      </div>
      <div class="legal-group" id="theme-3">
        <h3 class="legal-title">Контакты организаций регулирующих деятельность клиники</h3>
        <div class="legal-section">
          <h4>Территориальный орган (Управление Росздравнадзора по городу Москве и Московской области)</h4>
          <label>
            <span>Руководитель</span>
            <b>Плутницкий Андрей Николаевич</b>
          </label>
          <label>
            <span>Адрес</span>
            <b>127206,г.Москва, ул. Вучетича, д.12а</b>
          </label>
          <label>
            <span>Телефон горячей линии</span>
            <b>+7(495) 611-55-77, +7(916) 256-76-76</b>
          </label>
          <label>
            <span>Сайт</span>
            <b><a href="http://77reg.roszdravnadzor.ru" target="_blank">http://77reg.roszdravnadzor.ru</a></b>
          </label>
        </div>
        <div class="legal-section">
          <h4>Управление Федеральной службой по надзору в сфере защиты прав потребителей и благополучия человека по городу Москве (Управление Роспотребнадзора по городу Москве)</h4>
          <label>
            <span>Руководитель</span>
            <b>Андреева Елена Евгеньевна.</b>
          </label>
          <label>
            <span>Адрес</span>
            <b>129626, г.Москва, Графский пер.4/9</b>
          </label>
          <label>
            <span>Телефон</span>
            <b>+7(495)687-40-35. Факс : +7( 495) 616-65-69</b>
          </label>
          <label>
            <span>Телефон горячей линии</span>
            <b>+7 (495)785-37-41 или +7 (495)678-39-61</b>
          </label>
          <label>
            <span>Сайт</span>
            <b><a href="http://77reg.roszdravnadzor.ru" target="_blank">http://77reg.roszdravnadzor.ru</a></b>
          </label>
        </div>
        <div class="legal-section">
          <h4>Департамента здравоохранения города Москвы</h4>
          <label>
            <span>Руководитель</span>
            <b>Плутницкий Андрей Николаевич</b>
          </label>
          <label>
            <span>Адрес</span>
            <b>127206,г.Москва, ул. Вучетича, д.12а</b>
          </label>
          <label>
            <span>Телефон горячей линии</span>
            <b>+7(495) 611-55-77, +7(916) 256-76-76</b>
          </label>
          <label>
            <span>Сайт</span>
            <b><a href="http://77reg.roszdravnadzor.ru" target="_blank">http://77reg.roszdravnadzor.ru</a></b>
          </label>
        </div>
      </div>
      <div class="legal-group" id="theme-4">
        <h3 class="legal-title">Бесплатная медицинская помощь в ЦАО</h3>
        <div class="legal-section">
          <h4>Психоневрологический диспансер № 2 г. Москвы</h4>
          <label>
            <span>Адрес</span>
            <b>Москва, ул. Смоленская площадь, д. 13/21,станция метро Смоленская</b>
          </label>
          <label>
            <span>Телефон </span>
            <b>+7 (499) 248-79-35</b>
          </label>
          <label>
            <span>График работы</span>
            <b>С понедельника по пятницу 8.00-20.00, суббота 9.00-16.00.</b>
          </label>
        </div>
        <div class="legal-section">
          <h4>Психоневрологический диспансер № 15 г. Москвы</h4>
          <label>
            <span>Адрес</span>
            <b>Москва, Армянский переулок, д. 3, к. 5, с. 4,станция метро Чистые Пруды</b>
          </label>
          <label>
            <span>Телефон </span>
            <b>+7 495 623 58 53</b>
          </label>
          <label>
            <span>График работы</span>
            <b>С понедельника по пятницу 8.00-20.00 в 2 смены: 8.00-14.00, 14.00-20.00 Суббота 9.00-16.00.</b>
          </label>
        </div>
        <div class="legal-section">
          <h4>Психоневрологический диспансер № 23 г. Москвы</h4>
          <label>
            <span>Адрес</span>
            <b>Москва, Фрунзенская набережная, д. 24/1</b>
          </label>
          <label>
            <span>Телефон </span>
            <b>+7 (499) 242-56-88</b>
          </label>
          <label>
            <span>График работы</span>
            <b>С понедельника по пятницу 8.00-20.00, суббота 9.00-16.00.</b>
          </label>
        </div>
        <div class="legal-section">
          <h4>Наркологический диспансер №1 по ЦАО г. Москвы</h4>
          <label>
            <span>Адрес</span>
            <b>Москва, Садовническая ул., д.73, стр.2,станция метро "Павелецкая</b>
          </label>
          <label>
            <span>Телефон </span>
            <b>+7(495)951-83-87</b>
          </label>
          <label>
            <span>График работы</span>
            <b>понедельник - пятница с 8 до 20, суббота с 10 до 16.</b>
          </label>
          <label>
            <span>Главный врач</span>
            <b>Глазкова Людмила Ивановна</b>
          </label>
          <label>
            <span>Телефон</span>
            <b>+7 (495) 951-85-01</b>
          </label>
        </div>
        <div class="legal-section">
          <h4>Психоневрологический диспансер № 23 г. Москвы</h4>
          <label>
            <span>Адрес</span>
            <b>Москва, Фрунзенская набережная, д. 24/1</b>
          </label>
          <label>
            <span>Телефон </span>
            <b>+7 (499) 242-56-88</b>
          </label>
          <label>
            <span>График работы</span>
            <b>С понедельника по пятницу 8.00-20.00, суббота 9.00-16.00.</b>
          </label>
        </div>
      </div>
      <div class="legal-group" id="theme-5">
        <h3 class="legal-title">Правила и форма предоставления мед. услуг</h3>
        <div class="legal-section">
          <label class="legal-link">
            <b><a href="#" target="_blank">Информированное добровольное согласие родителей на психолога (образец)</a></b>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Правила ЦДЗ</a></b>
            <span>Перечень услуг <b><a href="https://cdz-alter.ru/uslugi/" target="_blank">https://cdz-alter.ru/uslugi/</a></b></span>
            <span>Цены и порядок оплаты <b><a href="https://cdz-alter.ru/tseny/" target="_blank">https://cdz-alter.ru/tseny/</a></b></span>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Информированное добровольное согласие родителей на психолога</a></b>
            <span>Образец</span>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Информированное добровольное согласие на медицинское вмешательство при выборе врача и медицинской организации</a></b>
            <span>Образец</span>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Информирование добровольное согласие на психиатрическую и психотерапевтическую помощь Несовершеннолетний</a></b>
            <span>Образец</span>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Информирование добровольное согласие на психиатрическую и психотерапевтическую помощь Взрослый</a></b>
            <span>Образец</span>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Договор ЦДЗ в пользу 3х лиц</a></b>
            <span>Образец</span>
          </label>
          <label class="legal-link">
            <b><a href="#" target="_blank">Договор ЦДЗ</a></b>
          </label>
          <label>
            <span>Данные о сотрудниках</span>
            <b><a href="https://cdz-alter.ru/nashi-spetsialisty/" target="_blank">https://cdz-alter.ru/nashi-spetsialisty/</a></b>
          </label>
          <h4>Отношения между пациентами и клиникой регулируются некоторыми положениями Гражданского кодекса Российской Федерации, Законом Российской Федерации от 07.02.1992 № 2300-1 «О защите прав потребителей», а так же Правилами предоставления медицинскими организациями платных медицинских услуг от 04.10.2012 № 1006.</h4>
        </div>
      </div>
      <div class="legal-group" id="theme-6">
        <h3 class="legal-title">Информация для специалистов</h3>
        <div class="legal-section">
          <label><b><a href="#">Приказ Минздрава России от 30.12.2015 N 1034</a></b></label>
          <h4>"Об утверждении Порядка оказания медицинской помощи по профилю "психиатрия-наркология" и Порядка диспансерного наблюдения за лицами с психическими расстройствами и (или) расстройствами поведения, связанными с употреблением психоактивных веществ" (Зарегистрировано в Минюсте России 22.03.2016 N 41495)</h4>
        </div>
        <div class="legal-section">
          <label><b><a href="#">Приказ Минздрава РФ от 16.09.2003 N 438</a></b></label>
          <h4>О психотерапевтической помощи" (вместе с "Положением об организации деятельности врача-психотерапевта", "Положением об организации деятельности медицинского психолога, участвующего в оказании психотерапевтической помощи", "Положением об организации деятельности социального работника, участвующего в оказании психотерапевтической помощи", "Положением об организации деятельности психотерапевтического кабинета", "Положением об организации деятельности психотерапевтического отделения", "Положением об организации деятельности психотерапевтического центра")</h4>
        </div>
      </div>
      <div class="legal-group" id="theme-7">
        <h3 class="legal-title">Политика конфиденциальности и обработка персональных данных</h3>
        <div class="legal-section">
          <h4>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных пользователей (посетителей) сайта https://cdz-alter.ru обществом с ограниченной ответственностью «Центр Душевного Здоровья» (ООО «ЦДЗ»), ОГРН 1157746928690, ИНН/КПП 7718278615/770401001, юридический адрес 119034, город Москва, Всеволожский пер., д. 2 стр. 2, этаж 3 пом. IV (далее – Оператор).</h4>
          <p><b>Основные понятия, используемые в Политике</b></p>
          <ol>
            <li><b>Оператор</b> – общество с ограниченной ответственностью «Центр Душевного Здоровья» (ООО «ЦДЗ»), ОГРН 1157746928690, ИНН/КПП 7718278615/770401001, юридический адрес 119034, город Москва, Всеволожский пер., д. 2 стр. 2, этаж 3 пом. IV;</li>
            <li><b>Персональные данные</b> – любая информация, относящаяся прямо или косвенно к определенному или определяемому пользователю веб-сайта https://cdz-alter.ru;</li>
            <li><b>Пользователь</b> – субъект персональных данных, любой посетитель веб-сайта https://cdz-alter.ru (физическое лицо);</li>
            <li><b>Уничтожение персональных данных</b> – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.</li>
          </ol>
        </div>
        <div class="legal-section">
          <p><b>Цель обработки персональных данных</b></p>
          <ol>
            <li><b>Цель обработки персональных данных Пользователя</b> — информирование Пользователя посредством отправки электронных писем, содержащих различную информацию о новых продуктах и услугах ООО «ЦДЗ» и других организаций, специальных предложениях и различных событиях.</li>
            <li><b>Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты info@cdz-alter.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».</b></li>
          </ol>
        </div>
        <div class="legal-section">
          <p><b>Категории и перечни персональных данных, обрабатываемых Оператором</b></p>
          <p><b>Оператор обрабатывает следующие Персональные данные Пользователя:</b></p>
          <ol>
            <li><b>Общие категории персональных данных:</b></li>
            <ul>
              <li>фамилия, имя, отчество;</li>
              <li>электронная почта;</li>
              <li>номера телефонов;</li>
              <li>адрес места проживания.</li>
            </ul>
            <li><b>Иные категории персональных данных:</b></li>
            <ul>
              <li>обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики («Яндекс Метрика», «Гугл Аналитика» и т.д.).</li>
              <li>Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).</li>
              <li>Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</li>
            </ul>
          </ol>
        </div>
        <div class="legal-section">
          <p><b>Меры для обеспечения безопасности обработки персональных данных</b></p>
          <ol>
            <li><b>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</b></li>
            <ul>
              <li>Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</li>
              <li>Персональные данные Пользователя не передаются третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства РФ.</li>
              <li>В случае выявления неточностей в персональных данных Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора info@cdz-alter.ru с пометкой «Актуализация персональных данных».</li>
            </ul>
            <li><b>Если происходит утечка Персональных данных, то Оператор:</b></li>
            <ul>
              <li>в течение 24 часов уведомляем об этом Роскомнадзор;</li>
              <li>в течение 72 часов проводим собственное расследование и уведомляем Роскомнадзор о его результатах.</li>
            </ul>
            <li><b>Срок обработки персональных данных</b></li>
            <ul>
              <li>в течение 24 часов уведомляем об этом Роскомнадзор;</li>
              <li>в течение 72 часов проводим собственное расследование и уведомляем Роскомнадзор о его результатах.</li>
            </ul>
          </ol>
        </div>
        <div class="legal-section">
          <p><b>Срок обработки персональных данных</b></p>
          <ol>
            <li><b>Оператор прекращает обработку Персональных данных Пользователя:</b></li>
            <ul>
              <li>в случае отзыва Пользователем согласия на обработку Персональных данных;</li>
              <li>в случае выявления неправомерной обработки персональных данных, если обеспечить правомерность обработки невозможно;</li>
              <li>в случае ликвидации Оператора.</li>
            </ul>
            <li><b>Пользователь может отозвать свое согласие на обработку персональных данных путем направления отзыва на E-mail: info@cdz-alter.ru с пометкой «Отзыв согласия на обработку персональных данных».</b></li>
            <li><b>В течение 10 рабочих дней с момента получения отзыва согласия на обработку Персональных данных Оператор прекращает их обработку.</b></li>
          </ol>
        </div>
        <div class="legal-section">
          <p><b>Способы и сроки обработки персональных данных. Порядок хранения и уничтожения персональных данных</b></p>
          <ol>
            <li><b>Оператор обрабатывает Персональные данные Пользователя как в электронной форме (автоматизировано) путем:</b></li>
            <ul>
              <li>сбора</li>
              <li>сбор</li>
              <li>запись</li>
              <li>систематизация</li>
              <li>накопление; хранение;</li>
              <li>уточнение (обновление, изменение);</li>
              <li>извлечение</li>
              <li>использование;</li>
              <li>передача (распространение, предоставление, доступ);</li>
              <li>обезличивание;</li>
              <li>блокирование;</li>
              <li>удаление;</li>
              <li>уничтожение.</li>
            </ul>
            <li><b>Оператор хранит Персональные данные в условиях, при которых обеспечивается их сохранность и исключается неправомерный доступ к ним, организует обучение работников Оператора, осуществляющих обработку Персональных данных, для целей их надлежащего хранения.</b></li>
            <li><b>Оператор осуществляет хранение Персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требует каждая цель обработки Персональных данных.</b></li>
            <li><b>Условия и сроки уничтожения Персональных данных Оператором:</b></li>
            <ul>
              <li>достижение цели обработки персональных данных либо утрата необходимости достигать эту цель - в течение 30 дней;</li>
              <li>достижение максимальных сроков хранения документов, содержащих персональные данные, - в течение 30 дней;</li>
              <li>предоставление субъектом персональных данных (его представителем) подтверждения того, что персональные данные получены незаконно или не являются необходимыми для заявленной цели обработки, - в течение семи рабочих дней;</li>
              <li>отзыв субъектом персональных данных согласия на обработку его персональных данных, если их сохранение для цели их обработки более не требуется, - в течение 30 дней.</li>
            </ul>
            <li><b>Способы уничтожения персональных данных устанавливаются в локальных нормативных актах Оператора.</b></li>
          </ol>
        </div>
        <div class="legal-section">
          <p><b>Заключительные положения</b></p>
          <ol>
            <li><b>Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты info@cdz-alter.ru</b></li>
            <li><b>В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.</b></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">

{% endblock %}