{% extends 'components/_layout.html' %}
{% set site_title = 'Программа лояльности' %}

{% block content %}

<section class="loyalty-hero">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Программа лояльности</a></li>
    </ul>
    <h2 class="loyalty-hero__title">Программа <i>лояльности</i></h2>
    <h3 class="loyalty-hero__subtitle">Подключитесь к программе лояльности и <span>получите 500 приветственных бонусов</span></h3>
  </div>
</section>

<section class="loyalty-uniq">
  <div class="container">
    <h2 class="title">Новая уникальная программа поощрения</h2>
    <p class="text">Теперь благодаря бонусам наших лояльных пациентов, <b>особенно тех, кто следит за своим психологическим здоровьем</b></p>
    <div class="communication-row">
      <div class="communication-item communication-item__bonus">
        <div class="communication-item__head">
          <h3>Приходите на консультацию</h3>
          <span><b>01</b></span>
        </div>
        <div class="communication-item__wrap">
          <div class="communication-item__plus">
            <b>В рамках программы лояльности Клиника доктора Шмиловича начисляет Пациентам бонусные баллы (кешбэк)</b>
            <p>которые можно использовать для оплаты услуг Клиники.</p>
          </div>
          <a href="javascript:;" data-button="telegram" class="communication-item__link">
            <p>Подключиться</p>
          </a>
        </div>
      </div>
      <div class="communication-item communication-item__bonus">
        <div class="communication-item__head">
          <h3>Оплачиваете услуги</h3>
          <span><b>02</b></span>
        </div>
        <div class="communication-item__wrap">
          <div class="communication-item__plus">
            <b>Бонусами можно оплатить до 10% от стоимости приема.</b>
          </div>
          <div class="communication-item__plus">
            <b>1 бонусный балл = 1 рубль РФ</b>
          </div>
          <a href="https://t.me/re_alt_bot" class="communication-item__link">
            <p>Подключиться</p>
          </a>
        </div>
      </div>
      <div class="communication-item communication-item__bonus">
        <div class="communication-item__head">
          <h3>Получаете бонусы</h3>
          <span><b>03</b></span>
        </div>
        <div class="communication-item__wrap">
          <div class="communication-item__plus">
            <b>Дарим 500 бонусных баллов за каждого нового пациента, которому вы рекомендуете нас</b>
            <p>100 сразу + 400 при активации</p>
          </div>
          <div class="communication-item__plus">
            <b>И еще 500 бонусных балов</b>
            <p>если вы оставить о нас отзыв на любой доступной площадке.</p>
          </div>
          <a href="https://t.me/re_alt_bot" class="communication-item__link">
            <p>Подключиться</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="advantages loyalty-advantages">
  <div class="container">
    <h3 class="subtitle">Наши преимущества</h3>
    <h2 class="title">Начисляем Пациентам бонусные баллы (<i>кешбэк</i>), которые можно использовать для оплаты услуг Клиники.</h2>
    <ul class="advantages-list">
      <li>
        <span>
          <h4 class="title-md">1 бонусный балл = 1 рубль РФ</h4>
          <p>Описание в одну строку</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-md">Бонусами можно оплатить до 10% от стоимости приема.</h4>
          <p>Описание в одну строку</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-md">Дарим 500 бонусных баллов за каждого нового пациента, которому вы рекомендуете нас</h4>
          <p>100 сразу + 400 при активации</p>
        </span>
      </li>
      <li>
        <span>
          <h4 class="title-md">И еще 500 бонусных балов мы начислим, если вы оставить о нас отзыв на любой доступной площадке.</h4>
          <p>Описание в одну строку</p>
        </span>
      </li>
    </ul>
  </div>
</section>

<section class="loyalty-bonus">
  <div class="container">
    <div class="loyalty-bonus__left">
      <h3 class="subtitle">Заголовок</h3>
      <h2 class="title">Бонусами можно <span>оплатить часть консультаций</span></h2>
      <p class="text">В рамках программы лояльности Клиника доктора Шмиловича начисляет Пациентам бонусные баллы (кешбэк), которые можно использовать для оплаты услуг Клиники.</p>
      <div class="btn-wrap"><a href="https://t.me/re_alt_bot" class="btn btn-brown btn-lg"><p>Наш телеграм бот</p></a></div>
    </div>
    <div class="loyalty-bonus__right">
      <img src="img/qr-tg.jpg" alt="">
      <p>Отсканируйте QR-код с телефона</p>
    </div>
  </div>
</section>

<section class="loyalty-status">
  <div class="container">
    <h3 class="subtitle">Здоровье - бонус!</h3>
    <h2 class="title">Сколько бонусов вы получите? Зависит от вашего статуса</h2>
    <p class="text">Теперь благодаря бонусам наших лояльных пациентов, особенно тех, кто следит за своим психологическим здоровьем</p>
    <div class="loyalty-status__grid">
      <div class="loyalty-status__item">
        <h3>3<span>%</span></h3>
        <p>Пациент оплатил услуг Клиники<br> на <b>0 — 74 999 руб.</b></p>
        <h4 class="bronze">Бронзовый</h4>
      </div>
      <div class="loyalty-status__item">
        <h3>5<span>%</span></h3>
        <p>Пациент оплатил услуг Клиники<br> на <b>75 000 — 249 999 руб.</b></p>
        <h4 class="silver">Серебрянный</h4>
      </div>
      <div class="loyalty-status__item">
        <h3>7<span>%</span></h3>
        <p>Пациент оплатил услуг Клиники<br> на <b>250 000 — 599 999 руб.</b></p>
        <h4 class="gold">Золотой</h4>
      </div>
      <div class="loyalty-status__item">
        <h3>10<span>%</span></h3>
        <p>Пациент оплатил услуг Клиники<br> на сумму <b>более 600 000 руб.</b></p>
        <h4 class="platinum">Платиновый</h4>
      </div>
    </div>
  </div>
</section>

<section class="loyalty-join">
  <div class="container">
    <h2 class="title">Подключитесь к программе лояльности и получите <span>500 приветственных бонусов <a href="https://t.me/re_alt_bot" target="_blank">по ссылке</a></span></h2>
    <p>© 2015-2023 ООО “Центр душевного здоровья”</p>
  </div>
</section>

{% endblock %}