{% extends 'components/_layout.html' %}
{% set site_title = 'Стоимость услуг' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Стоимость услуг</a></li>
    </ul>
    <h2 class="top-title">Стоимость услуг</h2>
  </div>
</section>

</div>

<section class="price">
  <div class="price-head">
    <div class="container">
      <div class="price-head__wrapper">
        <div class="price-head__slider">
          <a href="#section-0" class="price-head__item active" data-id="0">Психология</a>
          <a href="#section-1" class="price-head__item" data-id="1">Психиатрия, психотерапия</a>
          <a href="#section-2" class="price-head__item" data-id="2">Он-лайн консультации</a>
          <a href="#section-3" class="price-head__item" data-id="3">Выездные консультации</a>
          <a href="#section-4" class="price-head__item" data-id="4">Диагностика</a>
          <a href="#section-5" class="price-head__item" data-id="5">Документы о лечении/состоянии</a>
        </div>
      </div>
      <div class="price-head__control">
        <div class="arrow price-head__prev"></div>
        <div class="arrow price-head__next"></div>
      </div>
    </div>
  </div>
  <div class="price-content">
    <div class="container">
      <div class="price-section" id="section-0" data-id="0">
        <h2 class="title">Психология</h2>
        <div class="price-table">
          <div class="price-row">
            <div class="price-col">Номер</div>
            <div class="price-col">Услуга</div>
            <div class="price-col">Стоимость</div>
            <div class="price-col">Время</div>
            <div class="price-col"></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация психолога</div>
            <div class="price-col">от 5 000 руб</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация психолога</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация психолога</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
        </div>
      </div>
      <div class="price-section" id="section-1" data-id="1">
        <h2 class="title">Психиатрия, психотерапия</h2>
        <div class="price-table">
          <div class="price-row">
            <div class="price-col">Номер</div>
            <div class="price-col">Услуга</div>
            <div class="price-col">Стоимость</div>
            <div class="price-col">Время</div>
            <div class="price-col"></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Первичная консультация психиатра</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Повторная консультация психиатра</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Первичная консультация психотерапевта</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Повторная консультация психотерапевта</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация детского психиатра</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
        </div>
      </div>
      <div class="price-section" id="section-2" data-id="2">
        <h2 class="title">Он-лайн консультации</h2>
        <div class="price-table">
          <div class="price-row">
            <div class="price-col">Номер</div>
            <div class="price-col">Услуга</div>
            <div class="price-col">Стоимость</div>
            <div class="price-col">Время</div>
            <div class="price-col"></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация психолога он-лайн</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация психотерапевта он-лайн</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Консультация специалиста он-лайн</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
        </div>
      </div>
      <div class="price-section" id="section-3" data-id="3">
        <h2 class="title">Выездные консультации</h2>
        <div class="price-table">
          <div class="price-row">
            <div class="price-col">Номер</div>
            <div class="price-col">Услуга</div>
            <div class="price-col">Стоимость</div>
            <div class="price-col">Время</div>
            <div class="price-col"></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Первичная выездная консультация врача-психиатра<br> (в пределах МКАД)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Повторная выездная консультация  врача-психиатра<br> (в пределах МКАД)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Первичная выездная консультация врача-психиатра<br> (за МКАД)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Повторная выездная консультация  врача-психиатра<br> (за МКАД)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Выездная консультация психолога<br> (в пределах МКАД)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Выездная консультация психолога<br> (за МКАД)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Выезд специалиста в суд<br> (один судебный день)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
        </div>
      </div>
      <div class="price-section" id="section-4" data-id="4">
        <h2 class="title">Диагностика</h2>
        <div class="price-table">
          <div class="price-row">
            <div class="price-col">Номер</div>
            <div class="price-col">Услуга</div>
            <div class="price-col">Стоимость</div>
            <div class="price-col">Время</div>
            <div class="price-col"></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Патопсихологическое обследование</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Тест Векслера (Шкала Векслера)</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Профориентация</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Няня-Тест</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
        </div>
      </div>
      <div class="price-section" id="section-5" data-id="5">
        <h2 class="title">Документы о лечении/состоянии</h2>
        <div class="price-table">
          <div class="price-row">
            <div class="price-col">Номер</div>
            <div class="price-col">Услуга</div>
            <div class="price-col">Стоимость</div>
            <div class="price-col">Время</div>
            <div class="price-col"></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Диагностическое заключение</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Комплексное дифференциально-диагностическое заключение</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Многофакторное диагностическое заключение для нотариуса / суда</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
          <div class="price-row">
            <div class="price-col"></div>
            <div class="price-col title-sm">Независимая оценка (рецензия) судебно-психиатрической экспертизы</div>
            <div class="price-col">Бесплатно</div>
            <div class="price-col">До 10 минут</div>
            <div class="price-col"><a href="#" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">

<section class="price-full">
  <div class="container">
    <h2 class="title-xl">Полный прейскурант</h2>
    <p>Подазголовок в одну строчку</p>
    <div class="btn-wrap"><a href="#" class="btn btn-outline btn-md"><p>Скачать<span>PDF</span></p></a></div>
    <img src="img/svg/price-full.svg" alt="" class="price-full__img">
  </div>
</section>

<section class="price-top">
  <div class="container">
    <div class="btn-wrap"><a href="#" class="btn btn-outline btn-up btn-sm"><p>Наверх</p></a></div>
  </div>
</section>

{% endblock %}