{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Услуги</a></li>
    </ul>
    <h2 class="top-title">Услуги</h2>
  </div>
</section>

</div>

<section class="service">
  <div class="service-head">
    <div class="container">
      <form action="#" class="service-search">
        <input type="text" placeholder="Поиск по услугам" />
        <button></button>
      </form>
    </div>
  </div>
  <div class="service-content">
    <div class="container">
      <div class="service-main">
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Психиатрия</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Психотерапия</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Психология</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Совместный прием</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <div class="service-item">
          <div class="service-item__section">
            <div class="title-md">Для детей</div>
            <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
          </div>
          <ul class="service-item__links">
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Помощь психиатра</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Помощь психолога</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Диагностика</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Семейная терапия</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
          </ul>
        </div>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Для родственников</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <div class="service-item">
          <div class="service-item__section">
            <div class="title-md">Няня-тест</div>
            <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
          </div>
          <ul class="service-item__links">
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Помощь психиатра</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Помощь психолога</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Диагностика</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <span></span>
                <h4 class="title-sm">Семейная терапия</h4>
                <p>Одновременный прием психолога и врача-психиатра помогут найти решение проблемы.</p>
              </a>
            </li>
          </ul>
        </div>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Профориентация подростков и взрослых</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Семейный прием психолога</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Прием нарколога</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Патопсихологическое тестирование</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Спортивная психотерапия</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Онлайн консультация психолога</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Онлайн консультация врача-психиатра</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Вызов психиатра на дом</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Вызов детского психолога на дом</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Консультация детского психолога</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Прием подросткового психолога</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Прием подросткового психиатра</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
        <a href="#" class="service-item">
          <span></span>
          <div class="title-md">Заключение врача-психиатра</div>
          <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
        </a>
      </div>
      <div class="service-form">
        <form action="#">
          <h3 class="title-xl">Записаться на прием</h3>
          <label class="label">
            <p>Представьтесь</p>
            <input type="text" placeholder="Ваше имя и фамилия" />
          </label>
          <label class="label">
            <p>Номер телефона</p>
            <input type="text" class="masked" placeholder="+7 (000) 000-00-00" />
          </label>
          <button class="btn-green">Записаться</button>
          <small>Нажимая на эту кнопку вы принимаете условия <a href="#">Соглашения о передаче личных данных</a></small>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">

{% endblock %}