{% extends 'components/_layout.html' %}
{% set site_title = 'Страница услуги' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Патопсихологическое тестирование</a></li>
    </ul>
    <h2 class="top-title">Патопсихологическое тестирование</h2>
  </div>
</section>

</div>

<section class="service">

  <div class="service-head">
    <div class="container">
      <div class="service-head__wrapper">
        <div class="service-head__slider">
          <a href="#section-0" class="service-head__item active" data-id="0">Об услуге</a>
          <a href="#section-1" class="service-head__item" data-id="1">Стоимость и формат</a>
          <a href="#section-2" class="service-head__item" data-id="2">Симптомы</a>
          <a href="#section-3" class="service-head__item" data-id="3">Видео с основателем</a>
          <a href="#section-4" class="service-head__item" data-id="4">Специалисты</a>
        </div>
      </div>
    </div>
  </div>

  <div class="service-single">
    <div class="service-content">
      <div class="container">
        <div class="service-main">
          <div class="service-section service-element service-element__text" id="section-0" data-id="0">
            <h3 class="subtitle">Лечение психических заболеваний</h3>
            <h2 class="title">Проведение психологического тестирования – это исследование процессов памяти, внимания, мышления</h2>
            <p class="text">эмоционально-личностной сферы, уровня интеллекта, количественная оценка симптомов психических заболеваний, определение целей для психокоррекционных вмешательств.</p>
            <h5>Оно позволяет:</h5>
            <ul>
              <li>Найти источник проблем в жизни</li>
              <li>Выявить уникальные черты характера</li>
              <li>Определить уровень социальной адаптации</li>
              <li>Оценить степень сохранности психических функций и способности к обучению</li>
              <li>Понять, что является причиной проблем у ребёнка: неправильное воспитание или врожденные особенности</li>
            </ul>
          </div>
          <div class="service-section service-element service-element__infograph" id="section-10" data-id="10">
            <h3 class="subtitle">преимущества</h3>
            <h2 class="title">Что получите<br> от консультации</h2>
            <div class="service-element__infograph-grid">
              <ul>
                <li>
                  <span></span>
                  <p>Обсудите со специалистом свои проблемы и переживания</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="service-section service-element service-element__price" id="section-1" data-id="1">
            <h3 class="subtitle">Стоимость</h3>
            <h2 class="title">Стоимость<br> и формат приема:</h2>
            <p class="text">Выберите удобный формат</p>
            <div class="service-price__table">
              <div class="service-price__row">
                <div class="service-price__col">Услуга</div>
                <div class="service-price__col">Стоимость</div>
                <div class="service-price__col">Время</div>
              </div>
              <div class="service-price__row">
                <div class="service-price__col">
                  <h3 class="title-sm">Первичный совместный прием врача-психиатра и психолога</h3>
                  <div class="service-price__text">
                    <p>Комплексные первичные мероприятия проводятся по алгоритму:</p>
                    <ul>
                      <li>беседа для точного определения проблемы</li>
                      <li>избрание оптимальной схемы лечения</li>
                      <li>разъяснение плана действий пациента для скорейшего выздоровления</li>
                    </ul>
                    <p><b style="color: #B0242A;">Очная консультация психиатра</b></p>
                  </div>
                  <div class="service-price__more">Раскрыть подробнее</div>
                </div>
                <div class="service-price__col">от 5 000 руб</div>
                <div class="service-price__col">До 10 минут</div>
              </div>
              <div class="service-price__row">
                <div class="service-price__col">
                  <h3 class="title-sm">Консультация психоаналитика Метревели И.А.</h3>
                </div>
                <div class="service-price__col">от 5 000 руб</div>
                <div class="service-price__col">До 10 минут</div>
              </div>
              <div class="service-price__row">
                <div class="service-price__col">
                  <h3 class="title-sm">Консультация психоаналитика Страхова М.Ю.</h3>
                </div>
                <div class="service-price__col">от 5 000 руб</div>
                <div class="service-price__col">До 10 минут</div>
              </div>
              <div class="service-price__row">
                <div class="service-price__col">
                  <h3 class="title-sm">Прием врача-психиатра Алексеева А.В. первичный</h3>
                </div>
                <div class="service-price__col">от 5 000 руб</div>
                <div class="service-price__col">До 10 минут</div>
              </div>
              <div class="service-price__row">
                <div class="service-price__col">
                  <h3 class="title-sm">Первичный прием психолога</h3>
                </div>
                <div class="service-price__col">от 5 000 руб</div>
                <div class="service-price__col">До 10 минут</div>
              </div>
            </div>
          </div>
          <div class="service-section service-element service-element__list vh" id="section-2" data-id="2">
            <h3 class="subtitle">Симптомы</h3>
            <h2 class="title">Симптомы с которыми<br> к нам обращаются</h2>
            <div class="vh-scroll">
              <ul>
                <li>
                  <h4 class="title-sm">Нарушение сна и процесса засыпания</h4>
                  <p>Неудовлетворенность отношениями, одиночество, измена</p>
                </li>
                <li>
                  <h4 class="title-sm">Неконтролируемые фантазии</h4>
                  <p>(ребёнок перевоплощается в какой-либо образ и подолгу не выходит из него).</p>
                </li>
                <li>
                  <h4 class="title-sm">Потеря близкого человека</h4>
                  <p>Неудовлетворенность отношениями, одиночество, измена</p>
                </li>
                <li>
                  <h4 class="title-sm">Проблемы с питанием</h4>
                  <p>Вы стали слишком много есть или наоборот редко испытываете чувство голода. В 70% случаев это вызвано не физиологическими, а другими проблемами, решить которые поможет психиатр.</p>
                </li>
                <li>
                  <h4 class="title-sm">Отставание в интеллектуальном или речевом развитии</h4>
                </li>
                <li>
                  <h4 class="title-sm">Психосоматические расстройства</h4>
                  <p>Боль без причины. Организм здоров, но дискомфорт не оставляет. Бессонница или, наоборот, сильная сонливость, частые кошмары, сомнамбулизм. Волнение и непонятная тревога.</p>
                </li>
                <li>
                  <h4 class="title-sm">Нарушение сна и процесса засыпания</h4>
                  <p>Неудовлетворенность отношениями, одиночество, измена</p>
                </li>
                <li>
                  <h4 class="title-sm">Неконтролируемые фантазии</h4>
                  <p>(ребёнок перевоплощается в какой-либо образ и подолгу не выходит из него).</p>
                </li>
                <li>
                  <h4 class="title-sm">Потеря близкого человека</h4>
                  <p>Неудовлетворенность отношениями, одиночество, измена</p>
                </li>
                <li>
                  <h4 class="title-sm">Проблемы с питанием</h4>
                  <p>Вы стали слишком много есть или наоборот редко испытываете чувство голода. В 70% случаев это вызвано не физиологическими, а другими проблемами, решить которые поможет психиатр.</p>
                </li>
                <li>
                  <h4 class="title-sm">Отставание в интеллектуальном или речевом развитии</h4>
                </li>
                <li>
                  <h4 class="title-sm">Психосоматические расстройства</h4>
                  <p>Боль без причины. Организм здоров, но дискомфорт не оставляет. Бессонница или, наоборот, сильная сонливость, частые кошмары, сомнамбулизм. Волнение и непонятная тревога.</p>
                </li>
                <li>
                  <h4 class="title-sm">Нарушение сна и процесса засыпания</h4>
                  <p>Неудовлетворенность отношениями, одиночество, измена</p>
                </li>
                <li>
                  <h4 class="title-sm">Неконтролируемые фантазии</h4>
                  <p>(ребёнок перевоплощается в какой-либо образ и подолгу не выходит из него).</p>
                </li>
                <li>
                  <h4 class="title-sm">Потеря близкого человека</h4>
                  <p>Неудовлетворенность отношениями, одиночество, измена</p>
                </li>
                <li>
                  <h4 class="title-sm">Проблемы с питанием</h4>
                  <p>Вы стали слишком много есть или наоборот редко испытываете чувство голода. В 70% случаев это вызвано не физиологическими, а другими проблемами, решить которые поможет психиатр.</p>
                </li>
                <li>
                  <h4 class="title-sm">Отставание в интеллектуальном или речевом развитии</h4>
                </li>
                <li>
                  <h4 class="title-sm">Психосоматические расстройства</h4>
                  <p>Боль без причины. Организм здоров, но дискомфорт не оставляет. Бессонница или, наоборот, сильная сонливость, частые кошмары, сомнамбулизм. Волнение и непонятная тревога.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="service-form">
          <form action="#">
            <h3 class="title-xl">Записаться на прием</h3>
            <label class="label">
              <p>Представьтесь</p>
              <input type="text" placeholder="Ваше имя и фамилия" />
            </label>
            <label class="label">
              <p>Номер телефона</p>
              <input type="text" class="masked" placeholder="+7 (000) 000-00-00" />
            </label>
            <button class="btn btn-outline btn-lg"><p>Записаться</p></button>
            <small>Нажимая на эту кнопку вы принимаете условия <a href="#">Соглашения о передаче личных данных</a></small>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="principle service-section" id="section-3" data-id="3">
    <div class="container">
      <h2 class="title">Патопсихологическое тестирование проводит психолог Ольга Строганова</h2>
      <p class="text">Уникальность команды профессионалов Клиники «Ре-Альт» – психологов, психотерапевтов и врачей-психиатров в том, что мы смогли пойти навстречу друг к другу, говорить на одном языке, думать созвучными категориями, иметь один взгляд и направлять свои действия в одну сторону, увеличивая в десятки раз эффективность лечебно-коррекционных мероприятий.</p>
    </div>
    <a href="#" data-fancybox class="principle-video">
      <img src="img/principle-video.jpg" alt="" class="principle-video__poster">
    </a>
  </div>

  <div class="specialists service-section" id="section-4" data-id="4">
    <div class="container">
      <h3 class="subtitle">Наши специалисты</h3>
      <h2 class="title">В штате работают кандидаты и доктора наук, обладающие <i>фундаментальными</i> знаниями и <i>научно-практической деятельностью.</i></h2>
    </div>
    <div class="container-fluid">
      <div class="specialists-grid specialists-grid__slider">
        <div class="arrow specialists-grid__prev"></div>
        <div class="arrow specialists-grid__next"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
          <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
          <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
          <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
          <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
          <div class="swiper-slide">{% include 'components/specialists-item.html' %}</div>
        </div>
      </div>
      <a href="#" class="specialists-more">
        <h5 class="title">22</h5>
        <p>Наши специалисты</p>
      </a>
    </div>
  </div>

</section>

<div class="wrapper">

{% include 'components/free.html' %}

{% endblock %}