{% extends 'components/_layout.html' %}
{% set site_title = 'Специалисты' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Наши специалисты</a></li>
    </ul>
    <h2 class="top-title">Наши специалисты</h2>
  </div>
</section>

<section class="specialists-page">
  <div class="container">
    <h3 class="subtitle">Подобрать врача</h3>
    <h2 class="title">Подберем специалиста в соответствии с вашей<br> проблемой</h2>
    <p class="text">Мы поможем найти психиатра, психоаналитика или психолога, с которым вам будет комфортно согласно вашей проблеме.</p>
    <div class="specialists-type">
      <p>Специализация</p>
      <span class="active" data-filter="spec">Все</span>
      <span data-filter="spec">Психиатр</span>
      <span data-filter="spec">Психотерапевт</span>
      <span data-filter="spec">Психоаналитик</span>
      <span data-filter="spec">Психолог</span>
    </div>
    <div class="specialists-type">
      <p>Кому нужна помощь</p>
      <span class="active" data-filter="help">Все</span>
      <span data-filter="help">Для себя</span>
      <span data-filter="help">Для ребенка</span>
      <span data-filter="help">Для подростка</span>
      <span data-filter="help">Для пары</span>
      <span data-filter="help">Для семьи</span>
    </div>
    <div class="specialists-type">
      <p>Выберите формат</p>
      <span class="active" data-filter="format">Все</span>
      <span data-filter="format">Лично</span>
      <span data-filter="format">Онлайн</span>
      <span data-filter="format">Выезд на дом</span>
    </div>
    <div class="specialists-type">
      <p>Что вас беспокоит?</p>
      <a href="javascript:;" data-button="filter" class="btn btn-green btn-md"><p>Открыть фильтр</p></a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="specialists-grid">
      {% include 'components/specialists-item.html' %}
      {% include 'components/specialists-item.html' %}
      {% include 'components/specialists-item.html' %}
      {% include 'components/specialists-item.html' %}
      {% include 'components/specialists-item.html' %}
      {% include 'components/specialists-item.html' %}
    </div>
  </div>
</section>

<div class="popup" data-popup="filter">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <div class="popup-filter">
      <h3 class="title-md">Что вас беспокоит?</h3>
      <form action="javascript:;" class="popup-filter__search">
        <input type="text" placeholder="Поиск" />
        <button type="submit"></button>
      </form>
      <div class="popup-filter__content">
        <div class="popup-filter__group">
          <div class="popup-filter__head">
            <h4 class="title-xs">Отношения, общение, личная жизнь, семья</h4>
            <p>Неудовлетворенность отношениями, одиночество, измена</p>
            <span class="count hide">0</span>
          </div>
          <div class="popup-filter__wrapper">
            <div class="popup-filter__checkboxes">
              <div class="popup-filter__col">
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Тревога, беспокойство" />
                  <p>Тревога, беспокойство</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Беспокойные, навязчивые мысли" />
                  <p>Беспокойные, навязчивые мысли</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Осознание и управление эмоциями" />
                  <p>Осознание и управление эмоциями</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Страхи" />
                  <p>Страхи</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Панические атаки" />
                  <p>Панические атаки</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Фобии" />
                  <p>Фобии</p>
                </label>
              </div>
              <div class="popup-filter__col">
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Тревога, беспокойство" />
                  <p>Тревога, беспокойство</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Беспокойные, навязчивые мысли" />
                  <p>Беспокойные, навязчивые мысли</p>
                </label>
                <label class="popup-filter__checkbox">
                  <input type="checkbox" name="symptoms[]" data-filter="symptoms" value="Осознание и управление эмоциями" />
                  <p>Осознание и управление эмоциями</p>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-filter__bottom">
        <a href="javascript:;" class="btn btn-outline btn-md popup-filter__apply"><p>Подтвердить</p></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}