{% extends 'components/_layout.html' %}
{% set site_title = 'Страница специалиста' %}
{% set clear = true %}

{% block content %}

<section class="top specialists-top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Cпециалисты</a></li>
      <li><a href="#">Шмилович Андрей Аркадьевич</a></li>
    </ul>
    <h2 class="top-title">Шмилович Андрей Аркадьевич</h2>
    <img src="img/specialists-item.png" alt="" class="specialists-top__photo">
  </div>
</section>

</div>

<div class="specialists-single">

  <div class="specialists-head">
    <div class="container">
      <div class="specialists-head__wrapper">
        <div class="specialists-head__slider">
          <a href="#section-0" class="specialists-head__item active" data-id="0">Обучение и образование</a>
          <a href="#section-1" class="specialists-head__item" data-id="1">Прайс-лист</a>
          <a href="#section-2" class="specialists-head__item" data-id="2">Заболевания</a>
          <a href="#section-3" class="specialists-head__item" data-id="3">Симптомы</a>
          <a href="#section-4" class="specialists-head__item" data-id="4">Методы лечения</a>
          <a href="#section-5" class="specialists-head__item" data-id="5">Отзывы</a>
        </div>
      </div>
      <div class="specialists-head__btn"><a href="javascript:;" data-button="online" data-step="3" data-specId="117294" class="btn btn-outline btn-md"><p>Записаться</p></a></div>
    </div>
  </div>

  <section class="specialists-card">
    <div class="container">
      <div class="specialists-card__main">
        <h3 class="title-md">Основатель клиники, доктор медицинских наук, заведующий кафедрой психиатрии</h3>
        <div class="specialists-card__label">
          <p>Должность</p>
          <b>Врач-психиатр, психотерапевт</b>
        </div>
        <div class="specialists-card__cta">
          <a href="javascript:;" data-button="call" class="btn btn-green btn-lg"><p>Записаться</p></a>
          <div class="specialists-card__price">
            <p>Первичный, повторный приём</p>
            <b>10 000 ₽  /  7 000 ₽</b>
          </div>
        </div>
        <ul class="specialists-card__list">
          <p>Специализация</p>
          <li>Психиатр</li>
          <li>Психотерапевт</li>
          <li>Психоаналитик</li>
          <li>Психолог</li>
        </ul>
        <ul class="specialists-card__list">
          <p>стаж, с кем работает</p>
          <li>Взрослые</li>
          <li>Подростки с 13 лет</li>
          <li>Психоаналитик</li>
          <li>Психолог</li>
        </ul>
        <ul class="specialists-card__list">
          <p>Формат</p>
          <li>Лично</li>
          <li>Онлайн</li>
          <li>Выезд на дом</li>
        </ul>
        <div class="specialists-card__year">
          <p>стаж</p>
          <b class="title-md">28 лет</b>
        </div>
      </div>
      <div class="specialists-card__photo"><img src="img/specialists-card.jpg" alt=""></div>
    </div>
  </section>

  {# <section class="principle">
    <div class="container">
      <h3 class="subtitle">Подобрать врача</h3>
      <h2 class="title">Посмотрите интервью<br> с этим специалистом</h2>
    </div>
    <a href="#" data-fancybox class="principle-video">
      <img src="img/principle-video.jpg" alt="" class="principle-video__poster">
    </a>
  </section> #}

  <section class="specialists-edu specialists-section" id="section-0" data-id="0">
    <div class="container">
      <div class="specialists-edu__sidebar">
        <div class="specialists-edu__text">
          <h2 class="title">Обучение и образование</h2>
          <p class="text">мы берем человека за руку и ведем к пути исцеления, излечения, восстановления и обретения своей ценности, своего «Я»</p>
        </div>
      </div>
      <div class="specialists-edu__main">
        <ul class="specialists-edu__list">
          <li>
            <h4 class="title-sm">Окончила 2 МОЛГМИ им. Пирогова Н.И. по специальности «лечебное дело»</h4>
            <p>1985 г</p>
          </li>
          <li>
            <h4 class="title-sm">Обучалась в интернатуре в ПКБ № 1 им. Кащенко П.П. по специальности «психиатрия»</h4>
            <p>1986 г</p>
          </li>
          <li>
            <h4 class="title-sm">Получила специализацию по психотерапии, совмещала обязанности врача-психиатра и врача-психотерапевта</h4>
            <p>1993 г</p>
          </li>
          <li>
            <h4 class="title-sm">Проходила стажировку на рабочем месте в психиатрической клинике г. Мюнхена</h4>
            <p>1998 г</p>
          </li>
          <li>
            <h4 class="title-sm">Обучение в Институте Лундбек в Дании, в 2014 году – в психиатрической клинике г. Йорка (Великобритания)</h4>
            <p>2008 г</p>
          </li>
          <li>
            <h4 class="title-sm">Занималась клиническими исследованиями в области психофармакологии. Была главным исследователем Международного Центра исследования. Имеет сертификат GCP</h4>
            <p>С 2000 г</p>
          </li>
          <li>
            <h4 class="title-sm">Занималась клиническими исследованиями в области психофармакологии. Была главным исследователем Международного Центра исследования. Имеет сертификат GCP</h4>
            <p>С 2000 г</p>
          </li>
          <li>
            <h4 class="title-sm">Обучалась в интернатуре в ПКБ № 1 им. Кащенко П.П. по специальности «психиатрия»</h4>
            <p>1986 г</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="specialists-list specialists-section vh-margin" id="section-2" data-id="2">
    <div class="vh">
      <div class="container">
        <h3 class="subtitle">Заболевания</h3>
        <h2 class="title">Заболевания</h2>
      </div>
      <div class="vh-scroll">
        <div class="container">
        <ul class="specialists-list__group specialists-list__group-links">
          <li>
            <span class="specialists-list__text">
              <a href="#" class="title-md">Аффективные расстройства</a>
              <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
            </span>
          </li>
          <li>
            <span class="specialists-list__text">
              <a href="#" class="title-md">Рекуррентное депрессивное расстройство</a>
              <p>Психиатрические нарушения, шизофрения, </p>
            </span>
          </li>
          <li>
            <span class="specialists-list__text">
              <a href="#" class="title-md">Биполярное аффективное расстройство</a>
              <p>Психиатрические нарушения, шизофрения, БАР, психозы, </p>
            </span>
          </li>
          <li>
            <span class="specialists-list__text">
              <a href="#" class="title-md">Шизофрения</a>
              <p>Деменция, обсессивно-компульсивное расстройство.</p>
            </span>
          </li>
          <li>
            <span class="specialists-list__text">
              <a href="#" class="title-md">Расстройства личности</a>
              <p>Психиатрические нарушения, шизофрения, БАР, психозы, деменция, обсессивно-компульсивное расстройство.</p>
            </span>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="specialists-list specialists-section vh-margin" id="section-3" data-id="3">
    <div class="vh">
    <div class="container">
      <h3 class="subtitle">Симптомы</h3>
      <h2 class="title">Симптомы, с которыми можно обратиться к специалисту</h2>
      <p class="text"><b>Именно это высказывание как нельзя лучше характеризует наше отношение к работе с пациентами.</b> Мы не трудимся строго по шаблону, мы берем человека за руку и ведем к пути исцеления, излечения, восстановления и обретения своей ценности, своего «Я»</p>
    </div>
    <div class="vh-scroll">
      <div class="container">
        <ul class="specialists-list__group">
          <li class="specialists-list__symptom">
            <span class="specialists-list__text">
              <h4 class="title-md">Трудности в установлении контактов</h4>
              <p>Подпись</p>
            </span>
          </li>
          <li class="specialists-list__symptom">
            <span class="specialists-list__text">
              <h4 class="title-md">Трудности в установлении контактов</h4>
              <p>Подпись</p>
            </span>
          </li>
          <li><span class="specialists-list__text"><h4 class="title-md">Навязчивые переживании</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Беспричинные опасения и страхи</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Нарушения пищевого поведения</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Нарушения настроения, сложности в установлении контакта с окружающими</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Тревожные переживания, панические атаки</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Обманы восприятия</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Нарушения настроения, обусловленные возрастными и гормональными нарушениями</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Снижение (нарушения) интеллектуальных возможностей</h4></span></li>
          <li><span class="specialists-list__text"><h4 class="title-md">Нарушения поведения</h4></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="specialists-price specialists-section" id="section-1" data-id="1">
    <div class="container">
      <h2 class="title">Прайс-лист</h2>
      <div class="price-table">
        <div class="price-row">
          <div class="price-col">Номер</div>
          <div class="price-col">Услуга</div>
          <div class="price-col">Стоимость</div>
          <div class="price-col">Время</div>
          <div class="price-col"></div>
        </div>
        <div class="price-row">
          <div class="price-col"></div>
          <div class="price-col title-sm">Консультация психолога</div>
          <div class="price-col">от 5 000 руб</div>
          <div class="price-col">До 10 минут</div>
          <div class="price-col"><a href="javascript:;" data-button="online" data-step="3" data-specId="117294" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
        </div>
        <div class="price-row">
          <div class="price-col"></div>
          <div class="price-col title-sm">Консультация психолога</div>
          <div class="price-col">Бесплатно</div>
          <div class="price-col">До 10 минут</div>
          <div class="price-col"><a href="javascript:;" data-button="online" data-step="3" data-specId="117294" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
        </div>
        <div class="price-row">
          <div class="price-col"></div>
          <div class="price-col title-sm">Консультация психолога</div>
          <div class="price-col">Бесплатно</div>
          <div class="price-col">До 10 минут</div>
          <div class="price-col"><a href="javascript:;" data-button="online" data-step="3" data-specId="117294" class="btn btn-transparent btn-md"><p>Записаться</p></a></div>
        </div>
      </div>
    </div>
  </section>

  <section class="reviews specialists-section" id="section-5" data-id="5">
    <div class="container">
      <h3 class="subtitle">Отзывы</h3>
      <h2 class="title">Блок про отзывы о работе Магарины Надежды Юрьевны</h2>
    </div>
    <div class="reviews-wrapper">
      <div class="container">
        <div class="reviews-sidebar">
          <div class="reviews-author">
            <div class="reviews-author__item active" data-id="1">
              <h4>Автор 1, Москва</h4>
              <p>Подпись</p>
            </div>
            <div class="reviews-author__item" data-id="2">
              <h4>Автор 2, Москва</h4>
              <p>Подпись</p>
            </div>
            <div class="reviews-author__item" data-id="3">
              <h4>Автор 3, Москва</h4>
              <p>Подпись</p>
            </div>
            <div class="reviews-author__item" data-id="4">
              <h4>Автор 4, Москва</h4>
              <p>Подпись</p>
            </div>
            <div class="reviews-author__item" data-id="5">
              <h4>Автор 5, Москва</h4>
              <p>Подпись</p>
            </div>
            <div class="reviews-author__item" data-id="6">
              <h4>Автор 6, Москва</h4>
              <p>Подпись</p>
            </div>
          </div>
          <div class="reviews-btns">
            <a href="javascript:;" data-button="reviews-send" class="btn btn-outline btn-noarrow btn-lg"><p>Оставить отзыв</p></a>
          </div>
        </div>
        <div class="reviews-main">
          <div class="reviews-item active" data-id="1">
            <p class="reviews-item__date">16 июня 2023</p>
            <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
            <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
            <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
          </div>
          <div class="reviews-item" data-id="2">
            <p class="reviews-item__date">16 июня 2023</p>
            <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
            <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
            <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
          </div>
          <div class="reviews-item" data-id="3">
            <p class="reviews-item__date">16 июня 2023</p>
            <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
            <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
            <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
          </div>
          <div class="reviews-item" data-id="4">
            <p class="reviews-item__date">16 июня 2023</p>
            <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
            <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
            <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
          </div>
          <div class="reviews-item" data-id="5">
            <p class="reviews-item__date">16 июня 2023</p>
            <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
            <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
            <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
          </div>
          <div class="reviews-item" data-id="6">
            <p class="reviews-item__date">16 июня 2023</p>
            <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
            <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
            <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<div class="wrapper">

<section class="specialists-ask">
  <div class="container">
    <h3 class="subtitle">У вас есть вопросы? мы поможем найти ответы</h3>
    <h2 class="title-xl">Выделим лучших клинических психологов для оперативного консультирования по вопросам лечения в нашей клинике</h2>
    <a href="tel:+7 (495) 864 74 41" class="specialists-ask__phone">+7 (495) 864 74 41</a>
    <div class="btn-wrap"><a href="#" class="btn btn-green btn-noarrow btn-lg"><p>Позвонить</p></a></div>
  </div>
</section>

{% endblock %}