{% extends 'components/_layout.html' %}
{% set site_title = 'Шаблонная страница' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Симптомы</a></li>
      <li><a href="#">Помощь и лечение послеродовой депрессии: забота о мамах и их здоровье</a></li>
    </ul>
    <h2 class="top-title">Помощь и лечение послеродовой депрессии: забота о мамах и их здоровье</h2>
    <h3 class="top-subtitle">Получите профессиональную поддержку, чтобы справиться с послеродовой депрессией для возвращения к прежнему образу жизни.</h3>
  </div>
</section>

<section class="template-text">
  <div class="container">
    <div class="template-text__wrapper">
      <h3 class="subtitle">Описание проблемы</h3>
      <h2 class="title-xl">Послеродовая депрессия — это состояние, которое может развиться в связи с рождением ребенка</h2>
      <p class="template-text__text"><b>Послеродовая депрессия может проявляться в любое время в течение первого года после рождения ребенка</b>, хотя наиболее часто она развивается в первые несколько недель после рождения. Может протекать в легкой, средней и тяжелой степени. </p>
      <h4 class="template-text__quote">В зависимости от степени депрессии может понадобиться психотерапевтическая и/или психофармакологическая помощь</h4>
    </div>
    <img src="img/template-text-img.png" alt="" class="template-text__img">
  </div>
</section>

<section class="template-list">
  <div class="container">
    <h3 class="subtitle">Основные проявления</h3>
    <h2 class="title-xl">Признаки послеродовой депрессии могут определяться:</h2>
    <div class="template-list__list">
      <ul>
        <li>Мысли, что ребенку грозит опасность</li>
        <li>Отсутствие эмоциональной связи с новорожденным</li>
        <li>Мысли о самоубийстве, самоповреждения.</li>
        <li>Страх нанести вред своему ребенку</li>
        <li>Постоянное чувство тоски или пустоты в груди</li>
        <li>Ощущение безнадежности</li>
      </ul>
      <ul>
        <li>Мысли, что ребенку грозит опасность</li>
        <li>Отсутствие эмоциональной связи с новорожденным эмоциональной эмоциональной</li>
        <li>Мысли о самоубийстве, самоповреждения.</li>
        <li>Страх нанести вред своему ребенку</li>
        <li>Постоянное чувство тоски или пустоты в груди</li>
        <li>Ощущение безнадежности</li>
      </ul>
      <ul>
        <li>Мысли, что ребенку грозит опасность</li>
        <li>Ощущение безнадежности</li>
      </ul>
    </div>
  </div>
</section>

<section class="template-help">
  <div class="container">
    <div class="template-help__block">
      <h2 class="title-md">Если у вас или у близкого человека, возникают эти симптомы, немедленно обратитесь за помощью к профессионалу (психиатру, психотерапевту, медицинскому психологу)</h2>
      <h3><span>Не стесняйтесь просить помощи и обсудить свои чувства с врачом</span></h3>
      <p>Помните, что если вы или кто-то, кого вы знаете, страдает от послеродовой депрессии, важно обратиться за помощью к профессионалу. Это серьезное заболевание, и нет ничего плохого в том, чтобы просить помощи.</p>
    </div>
  </div>
</section>

<section class="template-photo"><img src="img/template-photo.jpg" alt=""></section>

<section class="template-stats">
  <div class="container">
    <h3 class="subtitle">Исследования и статистика</h3>
    <h2 class="title-xl">Статистика по послеродовой депрессии варьируется в зависимости от исследования и региона, но в общих чертах можно выделить следующее:</h2>
    <div class="template-stats__block">
      <div class="template-stats__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h4 class="title-md">Каждая 5 мама сталкивается с послеродовой депрессией.</h4>
            <p>Женщины у которых до родов была эмоциональная нестабильность, относятся к группе риска по развитию послеродовой депрессии</p>
          </div>
          <div class="swiper-slide">
            <h4 class="title-md">Каждая 5 мама сталкивается с послеродовой депрессией.</h4>
            <p>Женщины у которых до родов была эмоциональная нестабильность, относятся к группе риска по развитию послеродовой депрессии</p>
          </div>
          <div class="swiper-slide">
            <h4 class="title-md">Каждая 5 мама сталкивается с послеродовой депрессией.</h4>
            <p>Женщины у которых до родов была эмоциональная нестабильность, относятся к группе риска по развитию послеродовой депрессии</p>
          </div>
        </div>
      </div>
      <div class="control template-stats__control">
        <div class="arrow template-stats__prev"></div>
        <div class="arrow template-stats__next"></div>
      </div>
    </div>
  </div>
</section>

<section class="reviews template-reviews">
  <div class="container">
    <h3 class="subtitle">Отзывы</h3>
    <h2 class="title">Отзывы молодых мам, преодолевших послеродовую депрессию</h2>
  </div>
  <div class="reviews-wrapper">
    <div class="container">
      <div class="reviews-sidebar">
        <div class="reviews-author">
          <div class="reviews-author__item active" data-id="1">
            <h4>Автор 1, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="2">
            <h4>Автор 2, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="3">
            <h4>Автор 3, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="4">
            <h4>Автор 4, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="5">
            <h4>Автор 5, Москва</h4>
            <p>Подпись</p>
          </div>
          <div class="reviews-author__item" data-id="6">
            <h4>Автор 6, Москва</h4>
            <p>Подпись</p>
          </div>
        </div>
        <div class="reviews-btns">
          <a href="#" class="btn btn-green btn-md"><p>Все отзывы</p></a>
          <a href="javascript:;" data-button="reviews-send" class="btn btn-outline btn-noarrow btn-md"><p>Оставить отзыв</p></a>
        </div>
      </div>
      <div class="reviews-main">
        <div class="reviews-item active" data-id="1">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="2">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="3">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="4">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="5">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
        </div>
        <div class="reviews-item" data-id="6">
          <p class="reviews-item__date">16 июня 2023</p>
          <h4 class="title-md">Столько позитива, внимания и профессионализма!</h4>
          <p class="reviews-item__text">Много лет наблюдаюсь у доктора Варданян Карины Левоновны! Столько позитива, внимания и профессионализма!!! Спасибо большое за ваш труд!</p>
          <a href="javascript:;" data-button="reviews-1" class="reviews-item__more">Показать весь отзыв</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}