{% extends 'components/_layout.html' %}
{% set site_title = 'Шаблонная страница' %}
{% set white = true %}

{% block content %}

<section class="top">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Симптомы</a></li>
      <li><a href="#">Помощь и лечение послеродовой депрессии: забота о мамах и их здоровье</a></li>
    </ul>
    <h2 class="top-title">Помощь и лечение послеродовой депрессии: забота о мамах и их здоровье</h2>
    <h3 class="top-subtitle">Получите профессиональную поддержку, чтобы справиться с послеродовой депрессией для возвращения к прежнему образу жизни.</h3>
  </div>
</section>

{% endblock %}