{% extends 'components/_layout.html' %}
{% set site_title = 'Спасибо' %}
{% set page404 = true %}
{% set white = true %}

{% block content %}

<section class="thanks">
  <div class="thanks-text">
    <h2 class="title">Спасибо за обращение</h2>
    <p>Мы получили ваше обращение, <b>с Вами свяжется администратор в рабочее время Пн-Сб 10:00 до 21:00</b></p>
  </div>
  <div class="thanks-bottom">
    <a href="/" class="btn btn-outline btn-noarrow btn-lg"><p>На главную</p></a>
    <span>© 2015-2023 ООО “Центр душевного здоровья”</span>
  </div>
</section>

{% endblock %}